@value small-down, medium-only, medium-up, large-only, large-up, x-large-up from "../../../styles/breakpoints.css";

.navigation {
  --item-focus-outline-color: var(--header-focus-outline-color);
  box-sizing: border-box;
  display: flex;
  flex: 1;
  height: 100%;
}

/* MEDIA */

@media small-down {
  .navigation {
    &:not(.shelf) {
    flex-direction: column;
    padding: var(--spacing-s) var(--spacing-2-xs);
    }
    &.shelf {
      // padding: var(--spacing-s) var(--spacing-2-xs);
      border-bottom: 1px solid var(--header-divider-color);
    }
  }
}

@media medium-only {
  .navigation:not(.subNav) {
    margin-left: var(--spacing-m);

    > *:not(:first-child) {
      margin-left: var(--spacing-2-xs);
    }
  }
}

@media medium-up {
  .navigation {
    &:not(.subNav) {
      --item-active-color: var(--header-color);
      --item-focus-outline-height-adjust: var(--header-focus-outline-width);
    }

    &.subNav {
      --item-active-color: var(--navigation-row-color);
      --item-focus-outline-color: var(--navigation-row-focus-outline-color);
      --item-focus-outline-height-adjust: 2px;
      color: var(--navigation-row-color);
      height: var(--spacing-3-xl);
      padding: 0 var(--spacing-m);

      > *:not(:first-child) {
        margin-left: var(--spacing-m);
      }
    }
  }


}

@media large-only {
  .navigation:not(.subNav) {
    margin-left: var(--spacing-l);
  }
}

@media large-up {
  .navigation:not(.subNav) > *:not(:first-child) {
    margin-left: var(--spacing-m);
  }

  .navigation.subNav {
    margin: 0 auto;
    max-width: var(--breakpoint-xl);
  }
}

@media x-large-up {
  .navigation:not(.subNav) {
    margin-left: var(--spacing-2-xl);
  }

  .navigation.subNav > *:not(:first-child) {
    margin-left: var(--spacing-l);
  }
}
