@import "~hds-core/lib/helsinki.css";

.iconTooltip {
  width: 1.4375em;
  height: 1.4375em;
}

.iconClose {
  width: 1.125em;
  height: 1.125em;
}

.buttonTooltip {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 0;
  fill: var(--hds-ui-color-black-80);
}

.buttonClose {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1.25em;
  fill: var(--hds-theme-color-primary);
}

.alternative .buttonClose {
  fill: var(--hds-theme-color-secondary);
}

.tooltip {
  margin: 0.75em 0 1.25em;
  border-top: 0.625em solid var(--hds-theme-color-primary);
  background-color: var(--hds-theme-color-primary-extra-light);
  padding: 1em 1.25em 1.25em;
  position: relative;
}

.iconInfo {
  vertical-align: middle;
  margin-right: 0.625em;
  margin-bottom: 0.2em;
  width: 1.4375em;
  height: 1.4375em;
}

.label {
  padding-right: 1.25em;
}

.labelText {
  composes: text-bold from "~hds-core/lib/helsinki.css";
  vertical-align: middle;
}

.tooltipBody {
  composes: text-sm from "~hds-core/lib/helsinki.css";
  padding: 0.75em 0;
}

.alternative {
  border-color: var(--hds-theme-color-secondary);
  background-color: var(--hds-theme-color-secondary-extra-light);
}
