.wrapper {
  --tooltip-background-default: var(--color-coat-of-arms-blue-light-20);
  --tooltip-background-alternative: var(--color-fog-light-20);
  --tooltip-border-default: var(--color-coat-of-arms-blue);
  --tooltip-border-alternative: var(--color-fog);
  --button-color-open: var(--color-black-90);
  --button-color-open-alternative: var(--color-black-90);
  --button-color-close: var(--color-coat-of-arms-blue-dark-50);
  --button-color-close-alternative: var(--color-fog-dark-50);
}

.iconTooltip {
  width: 1.4375em;
  height: 1.4375em;
}

.iconClose {
  width: 1.125em;
  height: 1.125em;
}

.buttonTooltip {
  composes: button-reset from 'hds-core/lib/utils/helpers.css';
  position: absolute;
  top: 0;
  right: 0;
  line-height: 0;
  fill: var(--button-color-open);
}

.alternative .buttonTooltip {
  fill: var(--button-color-open-alternative);
}

.buttonClose {
  composes: button-reset from 'hds-core/lib/utils/helpers.css';
  position: absolute;
  top: 0;
  right: 0;
  padding: 1.25em;
  fill: var(--button-color-close);
}

.alternative .buttonClose {
  fill: var(--button-color-close-alternative);
}

.tooltip {
  margin: 0.75em 0 1.25em;
  border-top: 0.625em solid var(--tooltip-border-default);
  background-color: var(--tooltip-background-default);
  padding: 1em 1.25em 1.25em;
  position: relative;
}

.iconInfo {
  vertical-align: middle;
  margin-right: 0.625em;
  margin-bottom: 0.2em;
  width: 1.4375em;
  height: 1.4375em;
}

.label {
  padding-right: 1.25em;
}

.labelText {
  composes: text-bold from 'hds-core/lib/utils/helpers.css';
  vertical-align: middle;
}

.tooltipBody {
  composes: text-sm from 'hds-core/lib/utils/helpers.css';
  padding: 0.75em 0;
}

.alternative {
  border-color: var(--tooltip-border-alternative);
  background-color: var(--tooltip-background-alternative);
}
