@value x-small-down from "../../styles/breakpoints.css";

.headerUniversalBar {
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  height: 48px;
  border-radius: 0px;
  background: var(--color-black-5);
  padding: 0 var(--spacing-m);
}

.headerUniversalBarList {
  width: 100%;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.universalBarMainLinkContainer {
  display: flex;
  justify-self: start;
  flex: 1;
}

.universalBarSecondaryLinkContainer {
  display: flex;
  justify-self: end;
  margin-right: var(--spacing-l);
}

.universalBarSecondaryLinkContainer:last-child {
  margin-right: 0;
}

.universalBarLink.universalBarLink {
  font-size: var(--fontsize-body-m);
}

/* MEDIA */

@media x-small-down {
  .universalBarLink.universalBarLink {
    font-size: var(--fontsize-body-s);
  }
  .universalBarSecondaryLinkContainer {
    margin-right: var(--spacing-m);
  }
}
