@value x-small-down from "../../styles/breakpoints.css";

.headerUniversalBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  height: var(--spacing-layout-m);
  border-radius: 0px;
  background: var(--color-black-5);
  padding: 0 var(--spacing-m);
}

.universalBarLink.universalBarLink {
  font-size: var(--fontsize-body-m);
}

.headerUniversalBarSecondaryLinksContainer {
  display: flex;
  justify-content: end;

  a {
    margin-right: var(--spacing-l);
    font-size: var(--fontsize-body-m);
  }
  a:last-child {
    margin-right: 0;
  }
}

/* MEDIA */

@media x-small-down {
  .universalBarLink.universalBarLink {
    font-size: var(--fontsize-body-s);
  }
  .headerUniversalBarSecondaryLinksContainer a {
    margin-right: var(--spacing-m);
    font-size: var(--fontsize-body-s);
  }
}
