.accordion {
  --background-color: var(--color-white);
  --border-color: var(--color-black-60);
  --header-font-color: var(--color-black-90);
  --header-focus-outline-color: var(--color-coat-of-arms);
  --content-font-color: var(--color-black-90);
  --content-font-size: var(--fontsize-body-m);
  --content-line-height: var(--lineheight-l);

  /* Close button */
  --close-button-background-color-disabled: inherit;
  --close-button-background-color-focus: transparent;
  --close-button-background-color-hover-focus: var(--color-black-5);
  --close-button-background-color-hover: var(--color-black-5);
  --close-button-background-color: inherit;
  --close-button-border-color-active: var(--header-focus-outline-color);
  --close-button-border-color-disabled: inherit;
  --close-button-border-color-focus: var(--header-focus-outline-color);
  --close-button-border-color-hover-focus: var(--header-focus-outline-color);
  --close-button-border-color-hover: inherit;
  --close-button-border-color: inherit;
  --close-button-color-disabled: inherit;
  --close-button-color-focus: var(--color-black);
  --close-button-color-hover-focus: var(--color-black);
  --close-button-color-hover: var(--color-black);
  --close-button-color: var(--content-font-color);
  --close-button-focus-outline-color: transparent;

  &:not(.card) {
    border-bottom: 1px solid var(--border-color);
  }

  &.card {
    background-color: var(--background-color);
    padding-left: var(--padding-horizontal);
    padding-right: var(--padding-horizontal);
  }

  &.border {
    border: 2px solid var(--border-color);
  }
}

.accordionHeader {
  align-items: center;
  color: var(--header-font-color);
  display: flex;
  font-size: var(--header-font-size);
  font-weight: var(--header-font-weight);
  justify-content: space-between;
  letter-spacing: var(--header-letter-spacing);
  line-height: var(--header-line-height);
  padding-bottom: var(--padding-vertical);
  padding-top: var(--padding-vertical);
  position: relative;

  & > div {
    flex: 1 1 auto;
  }
}

.s {
  --header-font-size: var(--fontsize-heading-s);
  --padding-vertical: var(--spacing-s);
  --header-font-weight: 700;
  --header-letter-spacing: 0.2px;
  --header-line-height: 1.4;
  --button-size: 28px;
  --padding-horizontal: var(--spacing-2-xs);

  & .closeButton div {
    margin-right: var(--spacing-4-xs);
  }
}

.m {
  --header-font-size: var(--fontsize-heading-m);
  --padding-vertical: var(--spacing-m);
  --header-font-weight: 500;
  --header-letter-spacing: -0.2px;
  --header-line-height: 32px;
  --button-size: 36px;
  --padding-horizontal: var(--spacing-m);

  & .closeButton div {
    margin-right: 6px;
  }
}

.l {
  --header-font-size: var(--fontsize-heading-l);
  --padding-vertical: var(--spacing-l);
  --header-font-weight: 400;
  --header-letter-spacing: -0.4px;
  --header-line-height: var(--lineheight-s);
  --button-size: 52px;
  --padding-horizontal: var(--spacing-l);

  & .closeButton div {
    margin-right: var(--spacing-xs);
  }
}

.accordionContent {
  color: var(--content-font-color);
  font-size: var(--content-font-size);
  line-height: var(--content-line-height);
  padding-bottom: var(--spacing-m);
  position: relative;

  .closeButton {
    bottom: 0;
    position: absolute;
    right: 0;

    &:not(:disabled):active {
      border-color: var(--close-button-border-color-active);
    }

    --background-color-disabled: var(--close-button-background-color-disabled);
    --background-color-focus: var(--close-button-background-color-focus);
    --background-color-hover-focus: var(--close-button-background-color-hover-focus);
    --background-color-hover: var(--close-button-background-color-hover);
    --background-color: var(--close-button-background-color);
    --border-color-active: var(--close-button-border-color-active);
    --border-color-disabled: var(--close-button-border-color-disabled);
    --border-color-focus: var(--close-button-border-color-focus);
    --border-color-hover-focus: var(--close-button-border-color-hover-focus);
    --border-color-hover: var(--close-button-border-color-hover);
    --border-color: var(--close-button-border-color);
    --color-disabled: var(--close-button-color-disabled);
    --color-focus: var(--close-button-color-focus);
    --color-hover-focus: var(--close-button-color-hover-focus);
    --color-hover: var(--close-button-color-hover);
    --color: var(--close-button-color);
    --focus-outline-color: var(--close-button-focus-outline-color);
  }
}

.contentWithCloseButton {
  padding-bottom: 44px;
}

.headingContainer {
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  display: grid;
  grid-template-columns: auto calc(var(--button-size));
  width: 100%;

  &:focus {
    outline: 2px solid var(--header-focus-outline-color, transparent);
  }
}

.accordionButtonIcon {
  border: 2px solid transparent;
  box-sizing: border-box;
  height: var(--button-size) !important;
  margin: auto;
  width: var(--button-size) !important;
}
