%tag {
  composes: hds-tag from 'hds-core/lib/components/tag/tag.css';
}

%label {
  composes: hds-tag__label from 'hds-core/lib/components/tag/tag.css';
}

%deleteButton {
  composes: hds-tag__delete-button from 'hds-core/lib/components/tag/tag.css';
}

%roundedCorners {
  composes: hds-tag--rounded-corners from 'hds-core/lib/components/tag/tag.css';
}

%roundedCornersLarge {
  composes: hds-tag--rounded-corners-large from 'hds-core/lib/components/tag/tag.css';
}
