@import "../../styles/common";
@import "tag.common";

.tag {
  @extend %tag;
}

// Rounded corners variant
.tag-rounded-corners {
  @extend %roundedCorners;
}

.tag-rounded-corners-large {
  @extend %roundedCornersLarge;
}

// Child nodes
.label {
  @extend %label;
}

.deleteButton {
  @extend %buttonReset;
  @extend %deleteButton;

  composes: hds-tag__delete-button from 'hds-core/lib/components/tag/tag.css';
}

.visuallyHidden {
  @extend %hiddenFromScreen;
}
