h1,
h2,
h3,
h4,
h5 {
  line-height: var(--lineheight-m);
}

/* FONT SIZES */

h1 {
  font-size: var(--fontsize-heading-xl);
}

h2 {
  font-size: var(--fontsize-heading-l);
}

h3 {
  font-size: var(--fontsize-heading-m);
}

h4 {
  font-size: var(--fontsize-heading-s);
}

h5 {
  font-size: var(--fontsize-heading-xs);
}
