h1,
h2,
h3,
h4,
h5 {
  line-height: var(--lineheight-m);
}

/* FONT SIZES */

h1 {
  font-size: var(--fontsize-h-1);
}

h2 {
  font-size: var(--fontsize-h-2);
}

h3 {
  font-size: var(--fontsize-h-3);
}

h4 {
  font-size: var(--fontsize-h-4);
}

h5 {
  font-size: var(--fontsize-h-5);
}
