@svg-load icon url("../../svg/ui/alert-circle-fill.svg");

.hds-selection-group {
  --spacing-col: 1.25rem;
  --spacing-row: var(--spacing-s);
  --label-color-default: var(--color-black-90);
  --icon-size: var(--spacing-m);

  border: 0;
  padding: 0;
}

.hds-selection-group > *:not(.hds-selection-group__items) {
  float: left;
}

.hds-selection-group__legend {
  /*
  * Normalized rules
  * 1. Correct the text wrapping in Edge and IE.
  *    `fieldset` elements in all browsers.
  */
  box-sizing: border-box; /* 1 */
  color: var(--label-color-default);
  display: block;
  font-size: var(--fontsize-body-m);
  font-weight: 500;
  margin-bottom: var(--spacing-row);

  /*
  * Normalized rules
  * 1. Correct the text wrapping in Edge and IE.
  * 2. Remove the padding so developers are not caught out when they zero out
  *    `fieldset` elements in all browsers.
  */
  max-width: 100%; /* 1 */
  padding: 0; /* 2 */
  white-space: normal; /* 1 */
}

.hds-selection-group__required {
  color: var(--label-color-default);
  display: inline-block;
  font-size: var(--fontsize-body-xl);
  line-height: 1;
  margin-left: var(--spacing-2-xs);
  transform: translateY(var(--spacing-3-xs));
}

.hds-selection-group__items {
  clear: left;
  display: grid;
  gap: var(--spacing-row) var(--spacing-col);
  justify-content: start;
}

.hds-selection-group__items--vertical {
  grid-auto-flow: row;
}

.hds-selection-group__items--horizontal {
  grid-auto-flow: column;
}

.hds-selection-group__error-text {
  color: var(--color-error);
  display: block;
  font-size: var(--fontsize-body-m);
  margin-top: var(--spacing-xs);
  padding-left: calc(var(--icon-size) + var(--spacing-2-xs));
  position: relative;
}

.hds-selection-group__error-text:before {
  background: var(--color-error);
  content: '';
  height: var(--icon-size);
  left: 0;
  -webkit-mask-image: svg-inline(icon);
  mask-image: svg-inline(icon);
  pointer-events: none;
  position: absolute;
  top: 0;
  width: var(--icon-size);
}
