.item {
  composes: hds-button hds-button--fullwidth from 'hds-core/lib/components/button/button.css';

  padding: var(--spacing-3-xs);
  text-decoration: none;
}

.primary {
  composes: item;
  composes: hds-button--primary from 'hds-core/lib/components/button/button.css';
}

.secondary {
  composes: item;
  composes: hds-button--secondary from 'hds-core/lib/components/button/button.css';
}

.supplementary {
  composes: item;
  composes: hds-button--supplementary from 'hds-core/lib/components/button/button.css';
  --border-width: 3px;
}

.primary::after,
.secondary::after,
.supplementary::after {
  --offset: calc((var(--border-width) + var(--outline-gutter) + var(--outline-width)) * -1);
  left: 0;
  top: 0;
  transform: translate(var(--offset), var(--offset));
}

