@value x-large-up from "../../../styles/breakpoints.css";

.navigationGroup {
  display: flex;
}

.navigationGroupList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: unset;
  flex-direction: column;
  justify-items: start;
  width: 137px;
  margin-right: var(--spacing-m);
}

@media x-large-up {
  .navigationGroupList {
    width: 180px;
  }
}