@import "../../styles/common.scss";

.timeInputFrame {
  align-items: center;
  display: inline-flex;
  padding: 0 calc(var(--spacing-s) - 3px);

  &.disabled {
    background-color: var(--input-background-disabled);
    border-color: var(--input-border-color-disabled);
    color: var(--input-color-disabled);
    cursor: not-allowed;

    &:hover {
      border-color: var(--input-border-color-disabled);
    }
  }
}

.fullInput {
  height: 0;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  width: 0;
}

.fullInput, .partialInput {
  @extend %normalizedInput;
}

.partialInputLabel {
  @extend %visuallyHidden;
}

.partialInput, .divider {
  appearance: none;
  background: transparent;
  border: 0;
  box-sizing: border-box;
  color: var(--input-color-default);
  font-size: 1.125rem;
  line-height: normal;
  padding: 0;
}

.partialInput {
  overflow: visible;
  padding: 0;
  text-align: center;
  width: 1.40rem;
  will-change: transform, box-shadow;

  &:focus {
    box-shadow: 0 0 0 var(--outline-width) var(--color-focus-outline);
    outline: none;
    transform: translate3d(0, 0, 0);

    &::placeholder {
      opacity: 0;
    }
  }
}

.divider {
  display: inline-block;
  margin: 0 5px;
  pointer-events: none;
  width: auto;
}

.input.disabled {
  .partialInput, .divider {
    background-color: var(--input-background-disabled);
    border-color: var(--input-border-color-disabled);
    color: var(--input-color-disabled);
    cursor: not-allowed;
  }
}
