.hds-icon--alert-circle-fill {
  --mask-image-alert-circle-fill: url("data:image/svg+xml;charset=utf-8,%3Csvg role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 3C16.9706 3 21 7.02944 21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3ZM13 16V18H11V16H13ZM13 6V14H11V6H13Z' fill='currentColor'%3E%3C/path%3E %3C/svg%3E");
  --mask-image: var(--mask-image-alert-circle-fill);
}

.hds-icon-start--alert-circle-fill {
  --mask-image-before: var(--mask-image-alert-circle-fill);
}

.hds-icon-end--alert-circle-fill {
  --mask-image-after: var(--mask-image-alert-circle-fill);
}
