@import "./icon.css";
@import "./icon-angle-down.css";
@import "./icon-angle-left.css";
@import "./icon-angle-right.css";
@import "./icon-angle-up.css";
@import "./icon-arrow-left.css";
@import "./icon-arrow-right.css";
@import "./icon-attention.css";
@import "./icon-boots.css";
@import "./icon-calendar-add.css";
@import "./icon-calendar.css";
@import "./icon-check.css";
@import "./icon-close.css";
@import "./icon-directions.css";
@import "./icon-double-like.css";
@import "./icon-external-link.css";
@import "./icon-female.css";
@import "./icon-fill.css";
@import "./icon-flag-information.css";
@import "./icon-flag.css";
@import "./icon-food.css";
@import "./icon-house.css";
@import "./icon-info.css";
@import "./icon-language.css";
@import "./icon-lips.css";
@import "./icon-location.css";
@import "./icon-lock.css";
@import "./icon-menu.css";
@import "./icon-read.css";
@import "./icon-search.css";
@import "./icon-share.css";
@import "./icon-smile.css";
@import "./icon-tag.css";
@import "./icon-ticket.css";
@import "./icon-tooltip.css";
@import "./icon-tree.css";
@import "./icon-volume.css";
@import "./icon-warning.css";
@import "./icon-wine.css";
