/* SoMe */
@import "some/icon-discord.css";
@import "some/icon-facebook.css";
@import "some/icon-google.css";
@import "some/icon-instagram.css";
@import "some/icon-linkedin.css";
@import "some/icon-rss.css";
@import "some/icon-snapchat.css";
@import "some/icon-tiktok.css";
@import "some/icon-twitch.css";
@import "some/icon-twitter.css";
@import "some/icon-vimeo.css";
@import "some/icon-whatsapp.css";
@import "some/icon-yle.css";
@import "some/icon-youtube.css";

/* UI */
@import "ui/icon-alert-circle-fill.css";
@import "ui/icon-alert-circle.css";
@import "ui/icon-angle-down.css";
@import "ui/icon-angle-left.css";
@import "ui/icon-angle-right.css";
@import "ui/icon-angle-up.css";
@import "ui/icon-arrow-bottom-left.css";
@import "ui/icon-arrow-bottom-right.css";
@import "ui/icon-arrow-down.css";
@import "ui/icon-arrow-left.css";
@import "ui/icon-arrow-redo.css";
@import "ui/icon-arrow-right.css";
@import "ui/icon-arrow-top-left.css";
@import "ui/icon-arrow-top-right.css";
@import "ui/icon-arrow-undo.css";
@import "ui/icon-arrow-up.css";
@import "ui/icon-bell-crossed.css";
@import "ui/icon-bell.css";
@import "ui/icon-cake.css";
@import "ui/icon-calendar-clock.css";
@import "ui/icon-calendar-cross.css";
@import "ui/icon-calendar-plus.css";
@import "ui/icon-calendar-recurring.css";
@import "ui/icon-calendar.css";
@import "ui/icon-camera.css";
@import "ui/icon-check-circle-fill.css";
@import "ui/icon-check-circle.css";
@import "ui/icon-check.css";
@import "ui/icon-children.css";
@import "ui/icon-clock-cross.css";
@import "ui/icon-clock-plus.css";
@import "ui/icon-clock.css";
@import "ui/icon-coffee-cup-saucer.css";
@import "ui/icon-cogwheel.css";
@import "ui/icon-company.css";
@import "ui/icon-copy.css";
@import "ui/icon-cross-circle-fill.css";
@import "ui/icon-cross-circle.css";
@import "ui/icon-cross.css";
@import "ui/icon-customer-bot-negative.css";
@import "ui/icon-customer-bot-neutral.css";
@import "ui/icon-customer-bot-positive.css";
@import "ui/icon-display.css";
@import "ui/icon-document.css";
@import "ui/icon-download-cloud.css";
@import "ui/icon-download.css";
@import "ui/icon-drag.css";
@import "ui/icon-entrepreneur.css";
@import "ui/icon-envelope.css";
@import "ui/icon-error-fill.css";
@import "ui/icon-error.css";
@import "ui/icon-event.css";
@import "ui/icon-eye-crossed.css";
@import "ui/icon-eye.css";
@import "ui/icon-face-neutral.css";
@import "ui/icon-face-sad.css";
@import "ui/icon-face-smile.css";
@import "ui/icon-family.css";
@import "ui/icon-globe.css";
@import "ui/icon-glyph-at.css";
@import "ui/icon-glyph-euro.css";
@import "ui/icon-group.css";
@import "ui/icon-headphones.css";
@import "ui/icon-heart-fill.css";
@import "ui/icon-heart.css";
@import "ui/icon-home-smoke.css";
@import "ui/icon-home.css";
@import "ui/icon-info-circle-fill.css";
@import "ui/icon-info-circle.css";
@import "ui/icon-key.css";
@import "ui/icon-layers.css";
@import "ui/icon-link-external.css";
@import "ui/icon-link.css";
@import "ui/icon-locate.css";
@import "ui/icon-location.css";
@import "ui/icon-lock-open.css";
@import "ui/icon-lock.css";
@import "ui/icon-map.css";
@import "ui/icon-menu-dots.css";
@import "ui/icon-menu-hamburger.css";
@import "ui/icon-microphone-crossed.css";
@import "ui/icon-microphone.css";
@import "ui/icon-minus-circle-fill.css";
@import "ui/icon-minus-circle.css";
@import "ui/icon-minus.css";
@import "ui/icon-mobile.css";
@import "ui/icon-mover.css";
@import "ui/icon-occupation.css";
@import "ui/icon-paperclip.css";
@import "ui/icon-pen-line.css";
@import "ui/icon-pen.css";
@import "ui/icon-person-female.css";
@import "ui/icon-person-genderless.css";
@import "ui/icon-person-male.css";
@import "ui/icon-person-wheelchair.css";
@import "ui/icon-phone.css";
@import "ui/icon-photo-plus.css";
@import "ui/icon-photo.css";
@import "ui/icon-playback-fastforward.css";
@import "ui/icon-playback-next.css";
@import "ui/icon-playback-pause.css";
@import "ui/icon-playback-play.css";
@import "ui/icon-playback-previous.css";
@import "ui/icon-playback-record.css";
@import "ui/icon-playback-rewind.css";
@import "ui/icon-playback-stop.css";
@import "ui/icon-plus-circle-fill.css";
@import "ui/icon-plus-circle.css";
@import "ui/icon-plus.css";
@import "ui/icon-podcast.css";
@import "ui/icon-printer.css";
@import "ui/icon-question-circle-fill.css";
@import "ui/icon-question-circle.css";
@import "ui/icon-refresh.css";
@import "ui/icon-restaurant.css";
@import "ui/icon-save-diskette-fill.css";
@import "ui/icon-save-diskette.css";
@import "ui/icon-search.css";
@import "ui/icon-senior.css";
@import "ui/icon-share.css";
@import "ui/icon-shopping-cart.css";
@import "ui/icon-signin.css";
@import "ui/icon-signout.css";
@import "ui/icon-sitemap.css";
@import "ui/icon-sliders.css";
@import "ui/icon-sort-alphabetical-ascending.css";
@import "ui/icon-sort-alphabetical-descending.css";
@import "ui/icon-sort-ascending.css";
@import "ui/icon-sort-descending.css";
@import "ui/icon-sort.css";
@import "ui/icon-speechbubble-text.css";
@import "ui/icon-speechbubble.css";
@import "ui/icon-star-fill.css";
@import "ui/icon-star.css";
@import "ui/icon-swap-user.css";
@import "ui/icon-text-bold.css";
@import "ui/icon-text-italic.css";
@import "ui/icon-text-tool.css";
@import "ui/icon-thumbs-down-fill.css";
@import "ui/icon-thumbs-down.css";
@import "ui/icon-thumbs-up-fill.css";
@import "ui/icon-thumbs-up.css";
@import "ui/icon-ticket.css";
@import "ui/icon-trash.css";
@import "ui/icon-traveler.css";
@import "ui/icon-upload-cloud.css";
@import "ui/icon-upload.css";
@import "ui/icon-user.css";
@import "ui/icon-vaccine.css";
@import "ui/icon-videocamera-crossed.css";
@import "ui/icon-videocamera.css";
@import "ui/icon-virus.css";
@import "ui/icon-volume-high.css";
@import "ui/icon-volume-low.css";
@import "ui/icon-volume-minus.css";
@import "ui/icon-volume-mute.css";
@import "ui/icon-volume-plus.css";
@import "ui/icon-wifi-crossed.css";
@import "ui/icon-wifi.css";
@import "ui/icon-youth.css";
@import "ui/icon-zoom-in.css";
@import "ui/icon-zoom-out.css";
@import "ui/icon-zoom-text.css";
