.hds-icon--angle-left {
  --mask-image-angle-left: url("data:image/svg+xml;charset=utf-8,%3Csvg role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.5 12L15.5 17L14 18.5L7.5 12L14 5.5L15.5 7L10.5 12Z' fill='currentColor'%3E%3C/path%3E %3C/svg%3E");
  --mask-image: var(--mask-image-angle-left);
}

.hds-icon-start--angle-left {
  --mask-image-before: var(--mask-image-angle-left);
}

.hds-icon-end--angle-left {
  --mask-image-after: var(--mask-image-angle-left);
}
