.hds-icon--arrow-bottom-right {
  --mask-image-arrow-bottom-right: url("data:image/svg+xml;charset=utf-8,%3Csvg role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.0163 17.9986H9.01631V15.9986L14.5703 15.9983L6.00134 7.43054L7.41556 6.01633L16.0163 14.6163V8.99865H18.0163V17.9986Z' fill='currentColor'%3E%3C/path%3E %3C/svg%3E");
  --mask-image: var(--mask-image-arrow-bottom-right);
}

.hds-icon-start--arrow-bottom-right {
  --mask-image-before: var(--mask-image-arrow-bottom-right);
}

.hds-icon-end--arrow-bottom-right {
  --mask-image-after: var(--mask-image-arrow-bottom-right);
}
