.hds-icon--arrow-up {
  --mask-image-arrow-up: url("data:image/svg+xml;charset=utf-8,%3Csvg role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 3.5L18.5 10L17 11.5L13 7.5V20H11V7.5L7 11.5L5.5 10L12 3.5Z' fill='currentColor'%3E%3C/path%3E %3C/svg%3E");
  --mask-image: var(--mask-image-arrow-up);
}

.hds-icon-start--arrow-up {
  --mask-image-before: var(--mask-image-arrow-up);
}

.hds-icon-end--arrow-up {
  --mask-image-after: var(--mask-image-arrow-up);
}
