.hds-icon--calendar {
  --mask-image-calendar: url("data:image/svg+xml;charset=utf-8,%3Csvg role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17 2C17.5523 2 18 2.44772 18 3V4H22V21H2V4H6V3C6 2.44772 6.44772 2 7 2C7.55228 2 8 2.44772 8 3V4H16V3C16 2.44772 16.4477 2 17 2ZM20 11H4V19H20V11ZM20 6H4V9H20V6Z' fill='currentColor'%3E%3C/path%3E %3C/svg%3E");
  --mask-image: var(--mask-image-calendar);
}

.hds-icon-start--calendar {
  --mask-image-before: var(--mask-image-calendar);
}

.hds-icon-end--calendar {
  --mask-image-after: var(--mask-image-calendar);
}
