@import url("alert-circle.css");
@import url("alert-circle-fill.css");
@import url("angle-down.css");
@import url("angle-left.css");
@import url("angle-right.css");
@import url("angle-up.css");
@import url("arrow-bottom-left.css");
@import url("arrow-bottom-right.css");
@import url("arrow-down.css");
@import url("arrow-left.css");
@import url("arrow-redo.css");
@import url("arrow-right.css");
@import url("arrow-right-dashed.css");
@import url("arrow-top-left.css");
@import url("arrow-top-right.css");
@import url("arrow-undo.css");
@import url("arrow-up.css");
@import url("at-sign.css");
@import url("bag-cogwheel.css");
@import url("bell.css");
@import url("bell-crossed.css");
@import url("binoculars.css");
@import url("box.css");
@import url("cake.css");
@import url("calendar.css");
@import url("calendar-clock.css");
@import url("calendar-cross.css");
@import url("calendar-event.css");
@import url("calendar-plus.css");
@import url("calendar-recurring.css");
@import url("camera.css");
@import url("check.css");
@import url("check-circle.css");
@import url("check-circle-fill.css");
@import url("children.css");
@import url("clock.css");
@import url("clock-cross.css");
@import url("clock-plus.css");
@import url("coffee-cup-saucer.css");
@import url("cogwheel.css");
@import url("cogwheels.css");
@import url("collapse.css");
@import url("company.css");
@import url("copy.css");
@import url("cross.css");
@import url("cross-circle.css");
@import url("cross-circle-fill.css");
@import url("customer-bot-negative.css");
@import url("customer-bot-neutral.css");
@import url("customer-bot-positive.css");
@import url("discord.css");
@import url("display.css");
@import url("document.css");
@import url("document-blank.css");
@import url("document-blank-group.css");
@import url("document-group.css");
@import url("download.css");
@import url("download-cloud.css");
@import url("drag.css");
@import url("entrepreneur.css");
@import url("envelope.css");
@import url("error.css");
@import url("error-fill.css");
@import url("euro-sign.css");
@import url("eye.css");
@import url("eye-crossed.css");
@import url("face-neutral.css");
@import url("face-sad.css");
@import url("face-smile.css");
@import url("facebook.css");
@import url("family.css");
@import url("folder.css");
@import url("folder-group.css");
@import url("globe.css");
@import url("google.css");
@import url("graph-columns.css");
@import url("group.css");
@import url("hammers.css");
@import url("headphones.css");
@import url("heart.css");
@import url("heart-fill.css");
@import url("history.css");
@import url("home.css");
@import url("home-smoke.css");
@import url("info-circle.css");
@import url("info-circle-fill.css");
@import url("instagram.css");
@import url("key.css");
@import url("layers.css");
@import url("lightbulb.css");
@import url("link.css");
@import url("link-external.css");
@import url("linkedin.css");
@import url("locate.css");
@import url("location.css");
@import url("lock.css");
@import url("lock-open.css");
@import url("map.css");
@import url("menu-dots.css");
@import url("menu-hamburger.css");
@import url("microphone.css");
@import url("microphone-crossed.css");
@import url("minus.css");
@import url("minus-circle.css");
@import url("minus-circle-fill.css");
@import url("mobile.css");
@import url("money-bag.css");
@import url("money-bag-fill.css");
@import url("mover.css");
@import url("occupation.css");
@import url("paperclip.css");
@import url("pen.css");
@import url("pen-line.css");
@import url("person-female.css");
@import url("person-genderless.css");
@import url("person-male.css");
@import url("person-wheelchair.css");
@import url("phone.css");
@import url("photo.css");
@import url("photo-plus.css");
@import url("playback-fastforward.css");
@import url("playback-next.css");
@import url("playback-pause.css");
@import url("playback-play.css");
@import url("playback-previous.css");
@import url("playback-record.css");
@import url("playback-rewind.css");
@import url("playback-stop.css");
@import url("plus.css");
@import url("plus-circle.css");
@import url("plus-circle-fill.css");
@import url("podcast.css");
@import url("printer.css");
@import url("question-circle.css");
@import url("question-circle-fill.css");
@import url("refresh.css");
@import url("restaurant.css");
@import url("rss.css");
@import url("save-diskette.css");
@import url("save-diskette-fill.css");
@import url("scroll.css");
@import url("scroll-cogwheel.css");
@import url("scroll-content.css");
@import url("scroll-group.css");
@import url("search.css");
@import url("senior.css");
@import url("share.css");
@import url("shield.css");
@import url("shopping-cart.css");
@import url("signin.css");
@import url("signout.css");
@import url("sitemap.css");
@import url("sliders.css");
@import url("snapchat.css");
@import url("sort.css");
@import url("sort-alphabetical-ascending.css");
@import url("sort-alphabetical-descending.css");
@import url("sort-ascending.css");
@import url("sort-descending.css");
@import url("speechbubble.css");
@import url("speechbubble-text.css");
@import url("star.css");
@import url("star-fill.css");
@import url("swap-user.css");
@import url("text-bold.css");
@import url("text-italic.css");
@import url("text-tool.css");
@import url("thumbs-down.css");
@import url("thumbs-down-fill.css");
@import url("thumbs-up.css");
@import url("thumbs-up-fill.css");
@import url("ticket.css");
@import url("tiktok.css");
@import url("trash.css");
@import url("traveler.css");
@import url("twitch.css");
@import url("twitter.css");
@import url("upload.css");
@import url("upload-cloud.css");
@import url("user.css");
@import url("vaccine.css");
@import url("videocamera.css");
@import url("videocamera-crossed.css");
@import url("vimeo.css");
@import url("virus.css");
@import url("volume-high.css");
@import url("volume-low.css");
@import url("volume-minus.css");
@import url("volume-mute.css");
@import url("volume-plus.css");
@import url("whatsapp.css");
@import url("wifi.css");
@import url("wifi-crossed.css");
@import url("x.css");
@import url("yle.css");
@import url("youth.css");
@import url("youtube.css");
@import url("zoom-in.css");
@import url("zoom-out.css");
@import url("zoom-text.css");
