.hds-icon--link-external {
  --mask-image-link-external: url("data:image/svg+xml;charset=utf-8,%3Csvg role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5 3V19H21V21H3V3H5ZM21 3V12H19V6.413L9.91421 15.5L8.5 14.0858L17.585 5H12V3H21Z' fill='currentColor'%3E%3C/path%3E %3C/svg%3E");
  --mask-image: var(--mask-image-link-external);
}

.hds-icon-start--link-external {
  --mask-image-before: var(--mask-image-link-external);
}

.hds-icon-end--link-external {
  --mask-image-after: var(--mask-image-link-external);
}
