.hds-icon--pen-line {
  --mask-image-pen-line: url("data:image/svg+xml;charset=utf-8,%3Csvg role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.25 2.5L3.5 13.25L3.5143 17.9857L8.25 18L19 7.25L14.25 2.5ZM5.5 14L14.25 5.25L16.25 7.25L7.5 16L5.50696 15.994L5.5 14ZM3.5 20H20.5V22H3.5V20Z' fill='currentColor'%3E%3C/path%3E %3C/svg%3E");
  --mask-image: var(--mask-image-pen-line);
}

.hds-icon-start--pen-line {
  --mask-image-before: var(--mask-image-pen-line);
}

.hds-icon-end--pen-line {
  --mask-image-after: var(--mask-image-pen-line);
}
