.hds-icon--playback-pause {
  --mask-image-playback-pause: url("data:image/svg+xml;charset=utf-8,%3Csvg role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17 5V19H14V5H17ZM10 5V19H7V5H10Z' fill='currentColor'%3E%3C/path%3E %3C/svg%3E");
  --mask-image: var(--mask-image-playback-pause);
}

.hds-icon-start--playback-pause {
  --mask-image-before: var(--mask-image-playback-pause);
}

.hds-icon-end--playback-pause {
  --mask-image-after: var(--mask-image-playback-pause);
}
