.hds-highlight {
  --accent-line-color: var(--color-bus);
  --text-color: var(--color-black-90);
  --margin: var(--spacing-m) 0;

  border-left: 8px solid var(--accent-line-color);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: space-between;
  flex-direction: column;
  grid-row-gap: var(--spacing-m);
  padding-left: var(--spacing-s);
  margin: var(--margin);
}

.hds-highlight__text {
  width: 536px;
  max-width: 100%;
  font-size: var(--fontsize-heading-m);
  line-height: var(--lineheight-m);
  color: var(--text-color);
}

.hds-highlight--small {
  --margin: var(--spacing-s) 0;
}

.hds-highlight--large {
  --margin: var(--spacing-l) 0;
}

.hds-highlight--small .hds-highlight__text {
  width: 264px;
}

.hds-highlight--large .hds-highlight__text {
  font-size: var(--fontsize-heading-l);
  line-height: var(--lineheight-l);
  width: 680px;
}

.hds-highlight--quote {
  font-style: italic;
}

.hds-highlight--quote:before,
.hds-highlight--quote:after {
  content: '"';
  font-style: italic;
  display: inline;  
}

.hds-highlight--reference {
  font-size: var(--fontsize-heading-xs);
  line-height: var(--lineheight-m);
}

.hds-highlight--reference:before {
  content: '-';
  font-size: inherit;
  display: inline;
  line-height: inherit;  
}
