.hds-koros {
  line-height: 0;
  width: 100%;
}

.hds-koros--flip-vertical {
  transform: scaleY(-1);
}

.hds-koros--45deg {
  transform: rotate(45deg);
  will-change: transform; /* The browser should use a new compositing layer when rotating. Otherwise, it will draw an annoying hairline on top of the Koros. */
}

.hds-koros--90deg {
  transform: rotate(90deg);
  will-change: transform;
}

.hds-koros--135deg {
  transform: rotate(135deg);
  will-change: transform;
}

.hds-koros--180deg {
  transform: rotate(180deg);
  will-change: transform;
}

.hds-koros--225deg {
  transform: rotate(225deg);
  will-change: transform;
}

.hds-koros--270deg {
  transform: rotate(270deg);
  will-change: transform;
}

.hds-koros--315deg {
  transform: rotate(315deg);
  will-change: transform;
}
