.hds-container {
  box-sizing: border-box;
  padding-left: var(--spacing-layout-2-xs);
  padding-right: var(--spacing-layout-2-xs);
}

@media(min-width: 768px) {
  .hds-container {
    padding-left: var(--spacing-layout-xs);
    padding-right: var(--spacing-layout-xs);
  }
}

@media (min-width: 1248px) {
  .hds-container {
    max-width: var(--container-width-xl);
    padding-left: 0;
    padding-right: 0;
  }
}
