@import '../../styles/common.scss';
@import '../dropdown/dropdown.common.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 420px;
}

.root {
  @extend %dropdownRoot;

  &.open {
    .angleIcon {
      transform: translateY(2px) rotateX(180deg);
    }
  }
}

.container {
  @extend %dropdownWrapper;
}

.label {
  color: var(--dropdown-color-default);
}

.button {
  @extend %buttonReset;

  color: var(--dropdown-color-default);
  display: flex;
  font-size: var(--fontsize-body-l);
  outline: none;
  padding: 0;

  &.selection {
    flex-grow: 1;

    span {
      padding-right: var(--spacing-2-xs);
    }
  }

  &.icon {
    flex-shrink: 1;
  }

  &.placeholder {
    background-color: inherit;
    color: var(--placeholder-color);
  }

  &.placeholder:disabled {
    color: var(--dropdown-color-disabled);
  }

  .count {
    display: block;
    flex-shrink: 1;
    font-weight: bold;
    padding: 0 var(--spacing-2-xs);
    position: relative;
    width: 1px;

    span {
      background-color: #fff;
      display: none;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  &.hasHiddenItems {
    .count span {
      display: block;
    }
  }
}

/**
 * THE BUTTON LABEL (SELECTED VALUE OR PLACEHOLDER)
 */
.buttonLabel {
  padding-right: var(--spacing-layout-xs);
}

.buttonLabel.buttonLabelWithClearButton {
  padding-right: var(--spacing-3-xl);
}

.listContainer {
  display: flex;
  flex-direction: column;
  max-height: 200px;
  overflow-y: auto;
}

.listAndInputContainer {
  @extend %dropdownMenu;

  background-color: #fff;

  &.listAndInputContainerVisible {
    display: block;
  }

  &.withSearchOrFilter {
    .listContainer {
      border-top: 1px solid var(--color-black-20);
      margin-top: var(--spacing-layout-2-xs);
    }
  }
}

.selectableListItem {
  &:hover {
    background-color: var(--menu-item-background-selected);
  }
}

.list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  &.shiftOptions {
    .selectableListItem:not(.groupLabel) {
      padding-left: var(--spacing-layout-xs);
    }
  }
}

.listItem {
  @extend %dropdownMenuItem;
}

.groupLabel {
  @extend %dropdownMenuItem;

  background-color: var(--color-black-5);
  cursor: default;
  font-weight: bold;
}

.filterInput {
  padding: var(--spacing-layout-2-xs);
}

.searchAndFilterInfoContainer {
  padding: var(--spacing-layout-2-xs);
}

.selectedOptionsContainer {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  min-height: var(--menu-item-height);
  padding: var(--spacing-s);
}

.labels {
  box-sizing: border-box;
  display: flex;
  flex-flow: wrap;
  flex-grow: 1;
  max-height: 30px;
  overflow: hidden;
}

.buttonOption {
  margin-right: var(--spacing-2-xs);
  max-width: 100%;
  white-space: nowrap;

  &:not(:last-child):after {
    content: ',';
    display: inline-block;
  }

  &:last-child {
    margin-right: 0;
  }

  &.lastVisible:after {
    content: '';
  }
}

.tagContainer {
  flex-grow: 1;
}

.tag {
  margin-bottom: var(--spacing-xs);
  margin-right: var(--spacing-xs);
}

.tagListContainer {
  display: flex;
  flex-direction: column;
}

.tagList {
  display: flex;
  flex-flow: row wrap;
  max-height: 10px;
  overflow: hidden;

  &.tagListExpanded {
    max-height: unset;
  }
}

.hiddenButton {
  display: none;
}

.tagListButtons {
  display: flex;
  flex-direction: row;

  > button:first-child {
    margin-right: var(--spacing-xs);
  }
}

.clearAllButton {
  --background-color-hover: var(--color-error-light);
  --border-color: var(--color-error);
  --border-color-hover: var(--color-error);
  --border-color-focus: var(--color-error);
  --border-color-hover-focus: var(--color-error);
  --color: var(--color-error);
  --color-hover: var(--color-error);
  --color-focus: var(--color-error);
  --color-hover-focus: var(--color-error);
}
