@import "../navigation.common";
@value x-small-down, small-down, small-only, medium-only, medium-up, large-only, large-up, x-large-only, x-large-up from "../../../styles/breakpoints.css";

.dropdownLinkItem.dropdownLinkItem {
  &:focus-within {
    box-shadow: none;
  }

  // dropdown menu
  > div {
    @extend %dropDownItemMenuBase;
  }
}

.dropdownLinkItem {
  a {
    box-sizing: border-box;
    color: inherit;
    font-weight: 500;
    outline: none;
    text-decoration: none;
  }
}

@media small-down {
  .dropdownLinkItem.dropdownLinkItem {
    align-items: flex-start;
    border-radius: 0;
    flex-direction: row;
    flex-wrap: wrap;
    > a {
      flex: 1 0;
    }
    > button {
      border: 1px solid var(--color-black-10);
    }

    // dropdown toggle button
    > button,
    > a {
      height: var(--spacing-xl);
      padding: var(--spacing-2-xs);

      // focus outline
      &:focus {
        box-shadow: 0 0 0 var(--header-focus-outline-width) var(--header-focus-outline-color);
      }

      > span {
        margin: 0;
      }

      // align angle to the right
      > *:last-child {
        margin-left: auto;
      }

      // dropdown icon
      svg:first-of-type:not(:only-of-type) {
        margin: 0 var(--spacing-2-xs) 0 calc(var(--spacing-3-xs) * -1);
      }
    }
    // dropdown menu
    > div {
      width: 100%;
    }
  }
}

@media medium-up {
  .dropdownLinkItem.dropdownLinkItem {
    > a,
    > button {
        align-self: stretch;
        align-items: center;
        display: flex;
    }
  }
}
