.numberInputContainer {
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;

    /**
    * Normalize.css rule
    * Correct the cursor style of increment and decrement buttons in Chrome.
    */
    height: auto;
    margin: 0 !important;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield !important;
  }
  width: 100%;
}

.numberInputWithSteps {
  padding-left: 68px !important;
  padding-right: 68px !important;
  text-align: center;
}

@mixin stepButton {
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  margin: 2px;
  width: 52px;
}

.minusButtonWrapper {
  @include stepButton;
  left: 0;
  border-right: solid 1px #cccccc;
}

.minusButtonWrapperWithoutBorder {
  @include stepButton;
  left: 0;
}

.plusButtonWrapper {
  @include stepButton;
  right: 0;
  border-left: solid 1px #cccccc;
}

.plusButtonWrapperWithoutBorder {
  @include stepButton;
  right: 0;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  appearance: none;
  background: transparent;
  cursor: pointer;
  border: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 1rem;

  &:disabled {
    cursor: not-allowed;
  }

  &:focus {
    outline: 3px solid var(--focus-outline-color);
    outline-offset: -5px;
  }
}
