.numberInputContainer {
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    /**
    * Normalize.css rule
    * Correct the cursor style of increment and decrement buttons in Chrome.
    */
    appearance: none !important;
    height: auto;    
    margin: 0 !important;
  }

  /* Firefox */
  input[type="number"] {
    appearance: textfield !important;
  }

  width: 100%;
}

.numberInputWithSteps {
  padding-left: 68px !important;
  padding-right: 68px !important;
  text-align: center;
}

@mixin stepButton {
  align-items: center;
  bottom: 0;
  display: flex;
  font-size: 1rem;
  justify-content: center;
  margin: 2px;
  position: absolute;
  top: 0;
  width: 52px;
  z-index: 1;
}

.minusButtonWrapper {
  @include stepButton;

  border-right: solid 1px #ccc;
  left: 0;
}

.minusButtonWrapperWithoutBorder {
  @include stepButton;

  left: 0;
}

.plusButtonWrapper {
  @include stepButton;

  border-left: solid 1px #ccc;
  right: 0;
}

.plusButtonWrapperWithoutBorder {
  @include stepButton;

  right: 0;
}

.button {
  align-items: center;
  appearance: none;
  background: transparent;
  border: 0;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  padding: 0;
  width: 100%;

  &:disabled {
    cursor: not-allowed;
  }

  &:focus {
    outline: 3px solid var(--focus-outline-color);
    outline-offset: -5px;
  }
}
