@import "../common.scss";
@value large-down from "../../../styles/breakpoints.scss";

.subItem.subItem {
  font-size: var(--fontsize-body-s);
  line-height: var(--lineheight-l)
}

.subItemIcon {
  align-self: start;
  height: var(--spacing-xs);
  min-width: var(--spacing-xs);
  transform: translateY(4px);
  width: var(--spacing-xs);
}

.item {
  @extend %footerItem;
  font-weight: normal;
  margin-top: var(--spacing-3-xs);

  // spacing between icon and label
  & > *:nth-child(2) {
    margin-left: var(--spacing-3-xs);
  }
}

@media large-down {
  .item.item {
    font-size: var(--fontsize-body-m);
  }
}
