@import "../common.scss";
@value large-down from "../../../styles/breakpoints.scss";

.item {
  @extend %footerItem;
  font-weight: normal;
  margin-top: var(--spacing-3-xs);
  line-height: var(--lineheight-l);

  // spacing between icon and label
  & > *:nth-child(2) {
    margin-left: var(--spacing-3-xs);
  }
}

.base {
  align-self: unset;
  font-size: var(--fontsize-body-s);
  text-decoration: underline;
  font-weight: 500;
  margin: 0;
}

.navigation {
  align-items: center;
  font-size: var(--fontsize-body-l);
}

.utility {
  align-items: center;
  font-size: var(--fontsize-body-l);
  width: 248px;
  margin-right: var(--spacing-m);
}

.subItem.subItem {
  font-size: var(--fontsize-body-s);
  line-height: var(--lineheight-l)
}

.subItemIcon {
  align-self: start;
  height: var(--spacing-xs);
  min-width: var(--spacing-xs);
  transform: translateY(4px);
  width: var(--spacing-xs);
}

@media medium-up {
  .utility {
    width: 214px
  }
}

@media large-down {
  .item:not(.base, .navigation, .utility) {
    font-size: var(--fontsize-body-m);
  }
}

@media large-up {
  .utility {
    width: 204px
  }
}

@media x-large-up {
  .utility {
    width: 268px
  }
}