@import "../common.scss";
@value small-down from "../../../styles/breakpoints.scss";

.item {
  @extend %footerItem;
  font-weight: normal;
  margin-top: var(--spacing-3-xs);

  // spacing between icon and label
  & > *:nth-child(2) {
    margin-left: var(--spacing-3-xs);
  }
}


@media small-down {
  .item {
    font-size: var(--fontsize-body-m);
  }
}

// angle icon
.subItemIcon {
  align-self: start;
  height: var(--spacing-xs);
  min-width: var(--spacing-xs);
  transform: translateY(4px);
  width: var(--spacing-xs);
}
