@import "../common.scss";
@value small-down, medium-down, large-down from "../../../styles/breakpoints.scss";

.item {
  @extend %footerItem;
  font-weight: normal;
  line-height: var(--lineheight-l);
}

.base {
  align-self: unset;
  font-size: var(--fontsize-body-s);
  text-decoration: underline;
  font-weight: 500;
  margin: 0;
}

.icon {
  composes: icon from 'hds-core/lib/components/link/link.css';
  margin-left: var(--spacing-3-xs);
}

.verticalAlignSmallOrMediumIcon {
  composes: vertical-align-small-or-medium-icon from 'hds-core/lib/components/link/link.css';
}

.navigation {
  align-items: center;
  font-size: var(--fontsize-body-l);
}

.utility {
  align-items: center;
  font-size: var(--fontsize-body-l);
}

.separator {
  margin-right: var(--spacing-xs);
}

.subItem.subItem {
  font-size: var(--fontsize-body-s);
  line-height: var(--lineheight-l)
}

.subItemIcon {
  align-self: start;
  height: var(--spacing-xs);
  min-width: var(--spacing-xs);
  transform: translateY(4px);
  width: var(--spacing-xs);
}

@media small-down {

  .separator {
    display: none;
  }
}

@media medium-down {
  .utility, .navigation {
    font-size: var(--fontsize-body-m)
  }
  .separator:first-of-type {
    display: none;
  }
}

@media large-down {
  .item:not(.base, .navigation, .utility) {
    font-size: var(--fontsize-body-m);
  }
}

