@import "../../styles/common";

.fileInputWrapper {
  display: inline-block;
  margin-top: var(--spacing-xs);
  position: relative;
}

.fileInput {
  @extend %hiddenFromScreen;
}

.fileList {
  list-style: none;
  max-width: 500px;
  padding: 0;
}

.fileListItem {
  background-color: var(--color-info-light);
  display: flex;
  padding: var(--spacing-s) var(--spacing-m) var(--spacing-s) var(--spacing-3-xs);

  & + & {
    margin-top: var(--spacing-s);
  }
}

.fileListItemLabel {
  margin-left: var(--spacing-xs);
}

.fileListItemButton {
  @extend %buttonReset;
  display: flex;
  margin-left: auto;
}

.fileListItemButtonLabel {
  margin-left: var(--spacing-3-xs);
}
