@import "../../styles/common";

.fileInputWrapper {
  display: inline-block;
  margin-top: var(--spacing-xs);
  position: relative;
}

.fileInput {
  @extend %hiddenFromScreen;
}

.disabled {
  .fileInputButton {
    --border-color: var(--color-black-50);
    color: var(--color-disabled);
    cursor: not-allowed;

    &:hover {
      background: transparent;
    }
  }
}

.fileInputButton {
  &:focus-within {
    background-color: var(--background-color-hover-focus, transparent);

    &::after {
      --size: calc(100% + calc(var(--outline-width) * 2 + var(--border-width) * 2 + var(--outline-gutter) * 2));
      border-color: var(--focus-outline-color);
    }
  }
}

.fileList {
  list-style: none;
  max-width: 500px;
  padding: 0;
}

.fileListItem {
  background-color: var(--color-info-light);
  display: flex;
  align-items: center;
  padding: var(--spacing-2-xs);
  padding-right: var(--spacing-s);

  & + & {
    margin-top: var(--spacing-s);
  }
}

.fileListItemLabel {
  margin-left: var(--spacing-xs);
}

.fileListItemButton {
  @extend %buttonReset;
  display: flex;
  margin-left: auto;
  padding: var(--spacing-2-xs) var(--spacing-s);
}

.fileListItemButtonLabel {
  margin-left: var(--spacing-3-xs);
}
