@use '../../styles/common.scss';
@use '../../styles/layout.scss';

/* Note Container uses same spacing and max-width. Apply changes also to Container.module.scss */

.header {
  --header-background-color: var(--color-white);
  --header-color: var(--color-black-90);
  --header-height: var(--spacing-4-xl);
  --header-focus-outline-width: 3px;
  --header-focus-outline-border-radius: 0;
  --header-focus-outline-color: var(--color-coat-of-arms);
  --header-divider-color: var(--color-black-20);
  --header-z-index: 10;
  --header-margin: var(--spacing-m);
  --header-max-width: 1440px;
  --header-item-border-color: var(--color-black-20);
  --header-item-hover-color: var(--color-black-20);
  --actionbar-background-color: var(--color-white);
  --action-bar-container-height: 87px;
  --action-bar-section-gutter: var(--spacing-s);
  --action-bar-dropdown-menu-caret-width: 63px;
  --action-bar-dropdown-menu-primary-item-height: 63px;
  --action-bar-dropdown-menu-secondary-item-height: 48px;
  --action-bar-button-size: 64px;
  --action-bar-item-gutter: 12px;
  --action-bar-item-title-font-size: var(--fontsize-body-s);
  --action-bar-item-title-font-color: var(--header-color);
  --avatar-background-color: var(--color-bus);
  --avatar-text-color: var(--color-white);
  --notification-bubble-background-color: var(--color-error);
  --notification-bubble-text-color: var(--color-white);
  --lang-selector-mobile-background-color: var(--color-silver-light);
  --lang-selector-item-font-color: var(--header-color);
  --lang-selector-dropdown-background-color: var(--color-white);
  --nav-link-font-color: var(--header-color);
  --nav-border-color: var(--color-black-20);
  --nav-link-hover-color: var(--color-black-90);
  --nav-link-dropdown-background-color: var(--color-white);
  --nav-button-background-color: var(--color-black-5);
  --nav-button-hover-background-color: var(--color-black-5);
  --nav-search-color: var(--header-color);
  --nav-mobile-menu-background-color: var(--color-white);
  --nav-mobile-menu-bottom-background-color: var(--color-silver-light);
  --nav-mobile-margin-left: var(--spacing-s);
  --universal-bar-background-color: var(--color-black-5);
  --logo-height: 56px;
  --icon-size: 24px;
  --nav-drop-down-icon-color: var(--color-black);
  --nav-background-color: var(--color-white);
  --animation-duration-dropwdown: 250ms;
  --animation-close-delay-dropdown: 150ms;
  --header-spinner-color: var(--color-black-60);

  @include layout.below-large {
    --action-bar-container-height: 74px;
    --logo-height: 48px;
  }

  @include layout.below-medium {
    --header-margin: var(--spacing-s);
    --action-bar-container-height: 64px;
    --logo-height: 32px;
  }

  @include layout.below-small {
    --header-margin: var(--spacing-xs);
  }

  /**
  * Normalize.css rules
  * 1. Change the font styles in all browsers.
  * 2. Remove the margin in Firefox and Safari.
  */

  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
  }

  /**
  * Show the overflow in IE.
  * 1. Show the overflow in Edge.
  */

  button,
  input {
    /* 1 */
    overflow: visible;
  }

  /**
  * Remove the inheritance of text transform in Edge, Firefox, and IE.
  * 1. Remove the inheritance of text transform in Firefox.
  */

  button,
  select {
    /* 1 */
    text-transform: none;
  }

  /**
  * Correct the inability to style clickable types in iOS and Safari.
  */

  button,
  [type='button'],
  [type='reset'],
  [type='submit'] {
    -webkit-appearance: button;
  }

  /**
  * Remove the inner border and padding in Firefox.
  */

  button::-moz-focus-inner,
  [type='button']::-moz-focus-inner,
  [type='reset']::-moz-focus-inner,
  [type='submit']::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }

  /**
  * Restore the focus styles unset by the previous rule.
  */

  button:-moz-focusring,
  [type='button']:-moz-focusring,
  [type='reset']:-moz-focusring,
  [type='submit']:-moz-focusring {
    outline: var(--header-focus-outline-width) solid var(--header-focus-outline-color);
    outline-offset: var(--header-focus-outline-width);
  }

  &.theme-dark {
    --color-focus-outline: var(--color-white);
    --header-color: var(--color-white);
    --header-focus-outline-color: var(--color-white);
    --header-background-color: var(--color-black-80);
    --nav-border-color: var(--color-white);
    --nav-link-hover-color: var(--color-white);
    --universal-bar-background-color: var(--color-black-60);
    --navigation-link-button-background-color: var(--color-black-60);
    --nav-link-dropdown-background-color: var(--color-black-80);
    --lang-selector-mobile-background-color: var(--color-black-80);
    --lang-selector-dropdown-background-color: var(--color-black-60);
    --nav-button-background-color: var(--color-black-60);
    --nav-button-hover-background-color: var(--color-black-60);
    --nav-drop-down-icon-color: var(--color-white);
    --actionbar-background-color: var(--color-black-80);
    --nav-background-color: var(--color-black-80);
    --nav-mobile-menu-background-color: var(--color-black-80);
    --nav-mobile-menu-bottom-background-color: var(--color-black-60);
    --avatar-background-color: var(--color-black-10);
    --avatar-text-color: var(--color-black-80);
    --notification-bubble-background-color: var(--color-black-10);
    --notification-bubble-text-color: var(--color-black);
  }

  background-color: var(--header-background-color);
  color: var(--header-color);
  min-height: var(--action-bar-container-height);
  position: relative;
  width: 100%;
}

/* BACKGROUND WRAPPER */

.headerBackgroundWrapper {
  position: relative;
  z-index: var(--header-z-index);
}
