@import "../../styles/common";
@import "../../styles/layout.scss";

.hds-header {

  &:not(.hds-header-navigation-bar-menu) {

    .hds-navigation-link {
      align-items: stretch;
      justify-content: stretch;
      border-top: 1px solid var(--color-black-20);

      > a {
        align-self: center;
        text-decoration: none;
        font-size: 14px;
        line-height: 20px;
        padding: 13px 0 15px;
        color: var(--color-black-90);
        border: none;
      }

      > button {
        flex: 0 0 var(--action-bar-dropdown-menu-caret-width);
        height: var(--action-bar-dropdown-menu-secondary-item-height);
        box-sizing: border-box;
        width: unset;
        background: transparent;
        border-left: 1px solid var(--color-black-20)
      }

      &.nav-depth-0 > a { padding-left: 16px; }
      &.nav-depth-1 > a { padding-left: 32px; }
      &.nav-depth-2 > a { padding-left: 48px; }
      &.nav-depth-3 > a { padding-left: 64px; }

      &.nav-depth-0 {
        > a {
          font-size: 20px;
          line-height: 24px;
          padding: 19px 0 20px var(--header-focus-outline-width);
        }
        > button {
          height: var(--action-bar-dropdown-menu-primary-item-height);
        }
      }

      ul {
        border: none;
      }

      @include focusOutline(var(--header-focus-outline-color), var(--header-focus-outline-width), var(--header-focus-outline-border-radius), calc(-1 * var(--header-focus-outline-width)));
    }
  }

  .hds-action-bar-link {
    --action-item-title-font-size: 14px;
    --action-item-title-font-color: var(--color-black-90);

    appearance: none;
    border: none;
    background: transparent;
    cursor: pointer;

    @include focusOutline(var(--header-focus-outline-color), var(--header-focus-outline-width), var(--header-focus-outline-border-radius), calc(-1 * var(--header-focus-outline-width)));

    .icon {
      display: block;
      width: var(--icon-size);
      height: var(--icon-size);
      margin: 0 auto;
      padding: 0 8px;

      & > svg {
        display: block;
        width: auto;
        height: 100%;
      }
    }

    .title {
      display: block;
      margin: 0 auto;
      white-space: nowrap;
      font-size: var(--action-item-title-font-size);
      color: var(--action-item-title-font-color);
    }
  }
}
