.card {
  composes: hds-card from 'hds-core/lib/components/card/card.css';
}

.boxShadow {
  composes: hds-card--box-shadow from 'hds-core/lib/components/card/card.css';
}

.border {
  composes: hds-card--border from 'hds-core/lib/components/card/card.css';
}

.body {
  composes: hds-card__body from 'hds-core/lib/components/card/card.css';
}

.text {
  composes: hds-card__text from 'hds-core/lib/components/card/card.css';
}
