.card {
  --background-color: var(--color-white);
  --border-color: var(--color-black-90);
  --color: var(--color-black-90);
  --border-width: 2px;
  --padding-horizontal: var(--spacing-l);
  --padding-vertical: var(--spacing-m);

  background-color: var(--background-color);
  color: var(--color);
  padding: var(--padding-vertical) var(--padding-horizontal);
}

.boxShadow {
  composes: hds-card--box-shadow from 'hds-core/lib/components/card/card.css';
}

.border {
  composes: hds-card--border from 'hds-core/lib/components/card/card.css';
}

.body {
  composes: hds-card__body from 'hds-core/lib/components/card/card.css';
}

.heading {
  composes: hds-card__heading from 'hds-core/lib/components/card/card.css';
}

.text {
  composes: hds-card__text from 'hds-core/lib/components/card/card.css';
}
