.card {
  composes: hds-card from 'hds-core/lib/components/card/card.css';
  
  // class where custom theme styles will be applied
  &:global(.custom) {
    content: ''
  }
}

.border {
  composes: hds-card--border from 'hds-core/lib/components/card/card.css';
}

.body {
  composes: hds-card__body from 'hds-core/lib/components/card/card.css';
}

.heading {
  composes: hds-card__heading from 'hds-core/lib/components/card/card.css';
}

.text {
  composes: hds-card__text from 'hds-core/lib/components/card/card.css';
}
