.buttonClose {
  composes: hds-notification__close-button from 'hds-core/lib/components/notification/notification.css';
}

.iconClose {
  composes: hds-icon from 'hds-core/lib/components/notification/notification.css';
}

.warning {
  composes: hds-notification--warning from 'hds-core/lib/components/notification/notification.css';
}

.error {
  composes: hds-notification--error from 'hds-core/lib/components/notification/notification.css';
}

.success {
  composes: hds-notification--success from 'hds-core/lib/components/notification/notification.css';
}
