@use 'hds-core/lib/components/notification/_notification-mixin' as CoreSass;

.notification {
  composes: hds-notification from 'hds-core/lib/components/notification/notification.css';
  overflow: hidden;
}

.notification.noBorder {
  border: 0;
  padding-top: calc(var(--notification-padding) + var(--notification-border-width));
}

.close {
  composes: hds-notification__close-button from 'hds-core/lib/components/notification/notification.css';
}

.notification.noBorder .close {
  top: calc(var(--notification-close-button-offset) + var(--notification-border-width));
}

.autoClose {
  background-color: var(--notification-border-color);
  height: var(--notification-border-width);
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.content {
  composes: hds-notification__content from 'hds-core/lib/components/notification/notification.css';
}

.icon {
  background-color: transparent;
  composes: hds-icon from 'hds-core/lib/components/notification/notification.css';
}

.label {
  composes: hds-notification__label from 'hds-core/lib/components/notification/notification.css';
}

.body {
  composes: hds-notification__body from 'hds-core/lib/components/notification/notification.css';
}

.small {
  composes: hds-notification--small from 'hds-core/lib/components/notification/notification.css';
}

.large {
  composes: hds-notification--large from 'hds-core/lib/components/notification/notification.css';
}

.top-left {
  composes: hds-notification--top-left from 'hds-core/lib/components/notification/notification.css';
}

.top-center {
  composes: hds-notification--top-center from 'hds-core/lib/components/notification/notification.css';
}

.top-right {
  composes: hds-notification--top-right from 'hds-core/lib/components/notification/notification.css';
}

.bottom-left {
  composes: hds-notification--bottom-left from 'hds-core/lib/components/notification/notification.css';
}

.bottom-center {
  composes: hds-notification--bottom-center from 'hds-core/lib/components/notification/notification.css';
}

.bottom-right {
  composes: hds-notification--bottom-right from 'hds-core/lib/components/notification/notification.css';
}

.success {
  composes: hds-notification--success from 'hds-core/lib/components/notification/notification.css';
}

.alert {
  composes: hds-notification--alert from 'hds-core/lib/components/notification/notification.css';
}

.error {
  composes: hds-notification--error from 'hds-core/lib/components/notification/notification.css';
}

.boxShadow {
  composes: hds-notification--box-shadow from 'hds-core/lib/components/notification/notification.css';
}
