.notification {
  margin: 0.75em 0 1.25em;
  padding: 1.875em 1.875em 1.875em;
  border: 0 solid var(--hds-theme-color-primary);
  border-left-width: 0.625em;
  background-color: var(--hds-theme-color-primary-extra-light);
  position: relative;
}

.icon {
  height: 1.6em;
  margin-right: 0.625em;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
}

.iconInfo {
  vertical-align: middle;
  width: 1.4375em;
  height: 1.4375em;
}

.iconWarning {
  width: 1.875em;
  height: 1.5625em;
}

.iconAttention {
  width: 1.4375em;
  height: 1.4375em;
}

.iconCheck {
  width: 1.25em;
  height: 0.9375em;
}

.label {
  padding-right: 1.25em;
}

.labelText {
  composes: text-bold from 'hds-core/lib/helsinki.css';
  composes: text-md from 'hds-core/lib/helsinki.css';
  vertical-align: middle;
}

.bodyText {
  composes: text-body from 'hds-core/lib/helsinki.css';
  padding: 0.75em 0;
}

.warning {
  border-color: var(--hds-ui-color-alert);
  background-color: var(--hds-ui-color-alert-light);
}

.error {
  border-color: var(--hds-ui-color-error);
  background-color: var(--hds-ui-color-error-light);
}

.success {
  border-color: var(--hds-ui-color-success);
  background-color: var(--hds-ui-color-success-light);
}

@media all and (max-width: 768px) {
  .notification {
    border-left-width: 0;
    border-top-width: 0.625em;
    padding: 1em 1.25em 1.25em;
  }
}
