.notification {
  composes: hds-notification from 'hds-core/lib/components/notification/notification.css';
}

.icon {
  composes: hds-icon from 'hds-core/lib/components/notification/notification.css';
}

.iconInfo {
  composes: hds-icon--info from 'hds-core/lib/components/notification/notification.css';
}

.iconWarning {
  composes: hds-icon--warning from 'hds-core/lib/components/notification/notification.css';
}

.iconAttention {
  composes: hds-icon--attention from 'hds-core/lib/components/notification/notification.css';
}

.iconCheck {
  composes: hds-icon--check from 'hds-core/lib/components/notification/notification.css';
}

.label {
  composes: hds-notification__label from 'hds-core/lib/components/notification/notification.css';
}

.labelText {
  composes: text-bold from 'hds-core/lib/utils/helpers.css';
  composes: text-md from 'hds-core/lib/utils/helpers.css';
}

.bodyText {
  composes: hds-notification__body from 'hds-core/lib/components/notification/notification.css';
  composes: text-body from 'hds-core/lib/utils/helpers.css';
}

.warning {
  composes: hds-notification--warning from 'hds-core/lib/components/notification/notification.css';
}

.error {
  composes: hds-notification--error from 'hds-core/lib/components/notification/notification.css';
}

.success {
  composes: hds-notification--success from 'hds-core/lib/components/notification/notification.css';
}
