@import "colours";
@import "spacings";

$rows-spacing: units(0.25);

.table {
  border-collapse: separate;
  border-spacing: 0 $rows-spacing;
  width: 100%;

  .tableHeader {
    text-align: left;
    padding: units(0.5) units(1);
    font-weight: normal;
    position: relative;
  }

  .mainHeader {
    background-color: $blue-500;
    padding-top: units(1);
    padding-bottom: units(1);
    color: $white;
    font-weight: bold;
  }

  .arrow {
    display: inline-flex;
    position: absolute;
    top: 0;
    bottom: 0;
    align-items: center;
  }

  .tableRow {
    background-color: $white;
  }

  .expandedRow {
    box-shadow: 0px -#{$rows-spacing} 0px 0px $white;
  }

  .selected {
    box-shadow: 0px 0px 0px 1px $blue-500;
  }

  .tableCell {
    margin: units(0.5) 0;
    padding: units(0.5) units(1);
    min-width: units(4);
    font-weight: bold;
    vertical-align: baseline;
  }

  .selector {
    min-width: unset;
    width: units(2);
  }

  .expander {
    margin: 0 auto;
    min-width: unset;
    text-align: center;
    width: units(2);
    cursor: pointer;
  }

  .expandArrowWrapper {
    text-align: center;
  }

  .tableData {
    padding: 0;
    position: relative;

    &:not(:last-of-type)::after {
      position: absolute;
      display: block;
      content: "";
      width: 1px;
      background-color: $gray-200;
      top: units(1);
      bottom: units(0.75);
      right: 0;
    }
  }
}
