@import "~hds-design-tokens/lib/all.scss";
@import "~hds-design-tokens/lib/typography/all";
@import "../../../components/utils.scss";

.info-page-content {
  margin: 0 auto;
  padding: var(--spacing-layout-xs) var(--spacing-layout-2-xs);

  @include medium-and-above-screen {
    padding-left: var(--spacing-layout-xs);
    padding-right: var(--spacing-layout-xs);
  }

  @include x-large-and-above-screen {
    padding-left: 0;
    padding-right: 0;
  }

  color: var(--color-black-90);
}

.info-page-content h2 {
  font-weight: 400;
  font-size: var(--fontsize-heading-xl);
  letter-spacing: -0.01em;
  margin-top: 0;
  margin-bottom: var(--spacing-layout-xxs);

  @include small-screen {
    font-size: var(--fontsize-heading-l);
  }
}

.info-page-content h3 {
  font-weight: 400;
  font-size: var(--fontsize-heading-l);
  letter-spacing: -0.01em;
  margin: var(--spacing-layout-l) 0 var(--spacing-layout-xs) 0;

  @include small-screen {
    font-size: var(--fontsize-heading-m);
    margin-top: var(--spacing-layout-m);
  }
}

.info-page-content p {
  font-weight: 400;
  font-size: var(--fontsize-body-xl);
  line-height: var(--lineheight-l);
  letter-spacing: -0.01em;
  max-width: 768px;
  padding-top: var(--spacing-layout-xxs);
  margin-bottom: 0;

  @include small-screen {
    font-size: var(--fontsize-body-l);
  }
}

.info-page-content ul {
  max-width: 567px;
}

.info-page-content {
  margin: auto;
}

.info-page-subcontent {
  padding: 0 var(--spacing-layout-xs) var(--spacing-layout-s) var(--spacing-layout-l);

  @include x-large-and-above-screen {
    padding: 0 var(--spacing-layout-xs) var(--spacing-layout-s) 88px;
  }

  @include medium-screen {
    padding: 0;
  }

  @include small-screen {
    padding: 0;
  }
}

.info-page-data-card {
  margin-top: var(--spacing-s);
  height: 480px;

  @media only screen and (max-width: 414px) {
    height: 578px;
  }
}

.datawrapper-iframe {
  width: 100%;
  border: none;
  height: 76%;

  @media only screen and (max-width: 414px) {
    height: 72%;
  }

  @media only screen and (max-width: 320px) {
    height: 68%;
  }
}

.info-page-table {
  padding: var(--spacing-layout-m) 0 0 0;
}

.info-page-image-card-container {
  overflow: hidden;
  margin-top: var(--spacing-layout-m);
}

.info-page-image-card [class^='ImageWithCard-module_card_'] {
  background-color: var(--color-black-10);
  min-height: auto;
  padding: var(--spacing-layout-l);
  max-width: 352px;
  margin-top: var(--spacing-layout-m);

  @include medium-screen {
    padding: var(--spacing-layout-m);
    margin-top: auto;
  }

  @include small-screen {
    padding: var(--spacing-layout-s);
    margin-top: auto;
  }
}

.info-page-card-grid {
  --gap: var(--spacing-m);
  --max-item-width: calc(50% - var(--gap));
  display: grid;
  gap: var(--gap);
  margin-bottom: var(--gap);
  width: 100%;

  @include medium-and-above-screen {
    grid-template-columns: 49% 49%;
  }
}

.info-page-card-grid-item {
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  min-height: 250px;

  @include small-screen {
    min-height: 200px;
    background-size: 44%;
    background-position: right top 0.72em;
    /*background-image: none !important;*/
  }

  @include small-medium-and-above-screen {
    min-height: 350px;
    background-size: 64%;
  }

  & [role='heading'] {
    font-size: $fontsize-heading-l;
    line-height: $lineheight-m;
    font-weight: 400;
    letter-spacing: -0.004em;

    @include small-screen {
      font-size: $fontsize-heading-m;
      max-width: 60%;
    }
  }

  & [role='heading'],
  & .info-page-card-grid-link-button {
    @include medium-and-above-screen {
      margin-right: 2rem;
    }

    @include small-medium-and-above-screen {
      max-width: 44%;
    }
  }
}

.info-page-card-grid-item-dark {
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  min-height: 250px;

  @include small-screen {
    min-height: 200px;
    background-size: 44%;
    background-position: right top 0.72em;
    /*background-image: none !important;*/
  }

  @include small-medium-and-above-screen {
    min-height: 350px;
    background-size: 64%;
  }

  & [role='heading'] {
    font-size: $fontsize-heading-l;
    line-height: $lineheight-m;
    font-weight: 400;
    letter-spacing: -0.004em;
    color: var(--color-white);

    @include small-screen {
      font-size: $fontsize-heading-m;
      max-width: 60%;
    }
  }

  & [role='heading'],
  & .info-page-card-grid-link-button {
    @include medium-and-above-screen {
      margin-right: 2rem;
    }

    @include small-medium-and-above-screen {
      max-width: 44%;
    }
  }
}

.info-page-card-grid-link-button {
  display: flex;
  font-weight: 500;
  outline: 2px solid currentColor;
  padding: var(--spacing-s) var(--spacing-m);
  text-decoration: none !important;
  width: fit-content;

  @include medium-screen {
    padding: var(--spacing-xs) var(--spacing-s);
  }

  @media (hover: hover) {
    &:active,
    &:hover {
      background-color: var(--link-hover-color, var(--color-white));
    }
  }

  svg {
    color: currentColor !important;
    margin-top: 0 !important;
  }

  &:visited {
    svg * {
      fill: currentColor !important;
    }
  }
}
