.chevron {
  transition: transform 0.2s ease-in;
}
.chevronOpen {
  transform: rotate(180deg);
}
.hidden {
  display: none;
}
.dropdownMenu {
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column;
  border: 2px solid var(--color-black-20);
  min-width: 280px;
  padding: var(--spacing-xs) var(--spacing-s);
}
.side {
  left: calc(281px + var(--spacing-s));
  top:0;
}
.button {
  display: block;
  height: 24px;
  width: 24px;
  border: none;
  padding: 0;
  background-color: var(--color-black-5);
}