@import "~hds-design-tokens/lib/all.scss";

@mixin small-screen {
  @media (max-width: $breakpoint-s) {
    @content;
  }
}

@mixin medium-screen {
  @media (max-width: $breakpoint-m) {
    @content;
  }
}

$breakpoint-medium-above: $breakpoint-m + 1px;

@mixin medium-and-above-screen {
  @media (min-width: $breakpoint-medium-above) {
    @content;
  }
}
