@import '~hds-design-tokens/lib/all.scss';

.components-list {
  grid-template-columns: repeat(auto-fit, minmax(204px, 1fr));
  display: grid;
  column-gap: var(--spacing-layout-xs);
  row-gap: var(--spacing-layout-m);
  width: 100%;
  margin-top: var(--spacing-layout-m);
}

.components-list__item {
  width: 100%;
}

.components-list__linkbox {
  height: 100%;
}
