@import '~hds-design-tokens/lib/all.scss';

.components-list {
  display: flex;
  column-gap: var(--spacing-layout-xs);
  row-gap: var(--spacing-layout-m);
  flex-wrap: wrap;
  max-width: 888px;
  margin-top: var(--spacing-layout-m);
}

.components-list__item {
  width: 204px;
  flex-grow: 1;
}

.components-list__linkbox {
  height: 100%;
}
