@import "./utils.scss";

.hero-container {
  --koros-height: 145px;
  --hero-height: 520px;
  --hero-small-left: calc((100vw - 100%) / 2);
  --hero-large-content-padding: var(--spacing-s);
  --hero-large-content-left: calc((100vw + (2 * var(--hero-large-content-padding)) - var(--container-width-xl)) / 2);

  box-sizing: border-box;
  position: relative;
  left: calc(var(--hero-small-left) * -1);
  width: 100vw;

  @include x-large-and-above-screen {
    background-color: var(--color-coat-of-arms);
    left: calc(var(--hero-large-content-left) * -1);
  }
}

.hero-bg-image {
  aspect-ratio: 16 / 9;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: calc(var(--koros-height) / -2);

  @include x-large-and-above-screen {
    aspect-ratio: unset;
    height: 100%;
    margin-top: 0;
    left: var(--hero-large-content-left);
    right: 0;
    position: absolute;
    top: 0;
  }
}

.hero-wrapper {
  margin: 0 auto;

  @include x-large-and-above-screen {
    max-width: var(--container-width-xl);
  }
}

.hero {
  color: var(--color-white);
  overflow: hidden;
  position: relative;

  @include x-large-and-above-screen {
    min-height: var(--hero-height);
  }
}

.hero-content {
  --triangle-top-corner-x: calc(100% + var(--spacing-layout-xl));
  --triangle-bottom-corner-x: calc(100% + var(--koros-height) + var(--spacing-layout-xl));

  background-color: var(--color-coat-of-arms);
  box-sizing: border-box;
  left: var(--hero-small-left);
  padding: var(--spacing-m) var(--spacing-s);
  position: relative;
  z-index: 3;

  @include small-medium-and-above-screen {
    padding: var(--spacing-m);
  }

  @include x-large-and-above-screen {
    clip-path: polygon(0 0, var(--triangle-top-corner-x) 0, 0 var(--triangle-bottom-corner-x), 0% 50%);
    left: auto;
    padding: var(--spacing-layout-m) 0 var(--spacing-layout-m) var(--hero-large-content-padding);
    width: 67%;

    &:after {
      clear: both;
      content: "";
      display: table;
    }
  }
}

.hero-content-shape {
  @include x-large-and-above-screen {
    float: right;
    min-height: var(--hero-height);
    shape-outside: polygon(87% 0%, 100% 0%, 100% 100%, 37% 100%);
    width: 100%;
  }
}

.hero-title {
  font-size: var(--fontsize-heading-l);
  font-weight: 400;
  line-height: var(--lineheight-s);
  margin: 0;

  @include x-large-and-above-screen {
    font-size: 72px;
  }
}

.hero-text {
  margin: var(--spacing-2-xl) 0;

  @include x-large-and-above-screen {
    font-size: var(--fontsize-body-xl);
    margin: var(--spacing-4-xl) 0;
  }
}

.hero-koros {
  fill: var(--color-coat-of-arms);
  z-index: 2;
}

.hero-koros-horizontal {
  display: block;
  position: relative;
  top: -50px;

  @include x-large-and-above-screen {
    display: none;
  }
}

.hero-koros-rotated {
  display: none;

  @include x-large-and-above-screen {
    display: block;
    left: 0;
    position: absolute;
    top: var(--koros-height);
    transform-origin: center;
    width: calc(100% + var(--koros-height)) !important;
  }
}
