@import './utils.scss';

.hero-container {
  --koros-height: 145px;
  --hero-height: 540px;
  --hero-large-content-left: calc(((100vw + var(--spacing-s) - var(--container-width-xl)) / 2));

  background-color: var(--color-coat-of-arms);
  position: relative;

  @include x-large-and-above-screen {
    box-sizing: border-box;
    left: calc((var(--hero-large-content-left) * -1));
    padding-left: var(--spacing-s);
    width: 100vw;
    z-index: 1000;
  }
}

.hero-bg-image {
  aspect-ratio: 16 / 9;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: calc(var(--koros-height) / -2);

  @include x-large-and-above-screen {
    aspect-ratio: unset;
    background-size: cover;
    background-position: center;
    height: 100%;
    margin-top: 0;
    left: var(--hero-large-content-left);
    right: 0;
    position: absolute;
    top: 0;
  }
}

.hero-wrapper {
  margin: 0 auto;
  max-width: var(--container-width-xl);
}

.hero {
  color: var(--color-white);
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 100%;

  @include x-large-and-above-screen {
    min-height: var(--hero-height);
  }
}

.hero-content {
  --triangle-top-corner-x: calc(100% + var(--spacing-layout-xl));
  --triangle-bottom-corner-x: calc(100% + var(--koros-height) + var(--spacing-layout-xl));

  background-color: var(--color-coat-of-arms);
  box-sizing: border-box;
  padding: var(--spacing-layout-s);
  position: relative;
  z-index: 3;

  @include x-large-and-above-screen {
    clip-path: polygon(0 0, var(--triangle-top-corner-x) 0, 0 var(--triangle-bottom-corner-x), 0% 50%);
    height: 100%;
    padding: var(--spacing-layout-m) 0 var(--spacing-layout-m) 0;
    width: 67%;

    &:after {
      clear: both;
      content: "";
      display: table;
    }
  }
}

.hero-content-text {
  height: 100%;
  width: 100%;
}

.hero-content-shape {
  @include x-large-and-above-screen {
    float: right;
    height: 100%;
    min-height: var(--hero-height);
    shape-outside: polygon(100% 0%, 100% 0%, 100% 100%, 0 100%);
    width: 100%;
  }
}

.hero-title {
  font-weight: 400;
  line-height: var(--lineheight-s);
  margin: 0;

  @include x-large-and-above-screen {
    font-size: 72px;
  }
}

.hero-text {
  margin: var(--spacing-xl) 0;

  @include x-large-and-above-screen {
    font-size: var(--fontsize-body-xl);
  }
}

.hero-koros {
  fill: var(--color-coat-of-arms);
  z-index: 2;
}

.hero-koros-horizontal {
  display: block;
  position: relative;
  top: -50px;

  @include x-large-and-above-screen {
    display: none;
  }
}

.hero-koros-rotated {
  display: none;

  @include x-large-and-above-screen {
    display: block;
    left: 0;
    position: absolute;
    top: var(--koros-height);
    transform-origin: center;
    width: calc(100% + var(--koros-height)) !important;
  }
}
