html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: HelsinkiGrotesk, Helvetica, Arial, MS Gothic, Meiryo, Osaka;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.pageContent {
  width: 100%;
}

.pageFooter {
  /* ensure footer stays on bottom of the page */
  margin-top: auto;
}
