@import "../../styles/common";

.loadingSpinner {
  --spinner-size: 4rem;
  --spinner-color: var(--color-coat-of-arms);
  --spinner-thickness: 0.5rem;
  --spinner-rotation-animation-duration: 1.5s;
  --spinner-color-animation-duration: 4.5s;
  --spinner-color-stage1: var(--color-coat-of-arms);
  --spinner-color-stage2: var(--color-copper);
  --spinner-color-stage3: var(--color-suomenlinna);

  border-top-color: var(--spinner-color);
  height: var(--spinner-size);
  position: relative;
  width: var(--spinner-size);
}

.loadingSpinner div {
  animation: spinner-rotation-animation var(--spinner-rotation-animation-duration) cubic-bezier(0.6, 0.2, 0.4, 0.8) infinite;
  border: var(--spinner-thickness) solid transparent;
  border-radius: 50%;
  border-top-color: inherit;
  box-sizing: border-box;
  height: 100%;
  position: absolute;
  width: 100%;
}

.loadingSpinner div:nth-child(2) {
  animation-delay: -0.15s;
}

.loadingSpinner div:nth-child(3) {
  animation-delay: -0.3s;
}

.small {
  --spinner-size: 1.5rem;
  --spinner-thickness: 0.1875rem;
}

.multicolor {
  animation: spinner-color-animation var(--spinner-color-animation-duration) cubic-bezier(0.6, 0.2, 0.4, 0.9) infinite;
  border-top-color: var(--spinner-color-stage1);
}

.notificationArea {
  @extend %hiddenFromScreen;
}

@keyframes spinner-rotation-animation {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes spinner-color-animation {
  0% { /* empty */ }
  33.3% { border-top-color: var(--spinner-color-stage2) }
  66.6% { border-top-color: var(--spinner-color-stage3) }
  100% { /* empty */ }
}