@use '../../../../styles/layout.scss';
@use 'hds-core/lib/scss/helpers' as helpers;

$commonLineHeight: var(--lineheight-s);
$commonBoldWeight: 700;

@mixin title-base {
  font-family: var(--font-default);
}

@mixin large-font {
  @include helpers.heading-m;

  line-height: $commonLineHeight;
}

@mixin medium-font {
  @include helpers.heading-s;

  line-height: $commonLineHeight;
}

@mixin title-large-normal {
  @include large-font;
}

@mixin title-large-bold {
  @include large-font;

  font-weight: $commonBoldWeight;
}

@mixin title-medium-normal {
  @include medium-font;
}

@mixin title-medium-bold {
  @include title-medium-normal;

  font-weight: $commonBoldWeight;
}

@mixin title-small-normal {
  font-size: var(--fontsize-body-s);
  font-weight: 500;
  letter-spacing: -0.1px;
  line-height: var(--lineheight-s);
}

@mixin title-small-bold {
  @include title-small-normal;

  font-weight: $commonBoldWeight;
}

@mixin title-normal {
  @include title-base;
  @include title-large-normal;

  @include layout.below-large {
    @include title-medium-normal;
  }

  @include layout.below-medium {
    @include title-small-normal;
  }
}

@mixin title-bold {
  @include title-base;
  @include title-large-bold;

  @include layout.below-large {
    @include title-medium-bold;
  }

  @include layout.below-medium {
    @include title-small-bold;
  }
}
