@use "../../../../styles/common";
@use "../../../../styles/typography";


.headerActionBar {
  align-items: stretch;
  border-bottom: 1px solid var(--header-divider-color);
  box-sizing: border-box;
  display: flex;
  gap: var(--action-bar-section-12px);
  height: var(--action-bar-container-height);
  justify-content: space-between;
  padding-left: var(--action-bar-margin);
  position: relative;
}

.headerActions {
  align-items: stretch;
  display: flex;
  gap: var(--action-bar-item-gutter);
  justify-content: flex-end;
  flex-grow: 1;
}

.titleAndLogoContainer {
  align-items: center;
  color: inherit;
  cursor: pointer;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  outline: none;
  text-decoration: none;
  white-space: nowrap;

  &:not([href]):not([tabindex="0"]) {
    cursor: auto;
  }

  @include common.focusVisible(
    var(--header-focus-outline-color),
    var(--header-focus-outline-width),
    var(--header-focus-outline-border-radius),
    calc(-1 * var(--header-focus-outline-width))
  );
}

.title {
  align-self: center;
  padding: 4px;
  margin-top: -2px;

  .normal > & { @include typography.title-normal }
  .bold > & { @include typography.title-bold }
  .black > & { @include typography.title-black }
}

.logo {
  align-self: center;
  box-sizing: content-box;
  height: var(--logo-height);
  padding: 12px 4px;
}
