@import "../../../../styles/common";
@import "../../../../styles/typography";
@value small-down, medium-down from "../../../../styles/breakpoints.css";

.headerActionBar {
  --container-height: 88px;
  --logo-height: 56px;
  --icon-size: 24px;

  --action-item-title-font-size: 14px;
  --action-item-title-font-color: var(--color-black-90);

  @media medium-down {
    --container-height: 74px;
    --logo-height: 48px;
  }

  @media small-down {
    --container-height: 64px;
    --logo-height: 32px;
  }

  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  box-sizing: border-box;
  height: var(--container-height);
  border-bottom: 1px solid var(--header-divider-color);
}

.headerActions {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  gap: 12px;
}

.titleAndLogoContainer {
  position: relative;
  display: flex;
  align-items: center;
  white-space: nowrap;
  outline: none;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  flex-shrink: 0;
  padding: 0 var(--spacing-m);
  gap: var(--spacing-s);

  &:not([href]):not([tabindex="0"]) {
    cursor: auto;
  }

  @include focusVisible(
    var(--header-focus-outline-color),
    var(--header-focus-outline-width),
    var(--header-focus-outline-border-radius),
    calc(-1 * var(--header-focus-outline-width))
  );
}

.title {
  margin-top: -2px;

  .normal > & {
    @include title-normal;
  }
  .bold > & {
    @include title-bold;
  }
  .black > & {
    @include title-black;
  }
}

.normal {
  @include title-normal;
}
.bold {
  @include title-bold;
}
.black {
  @include title-black;
}

.logo {
  box-sizing: content-box;
  height: var(--logo-height);
  padding: var(--spacing-s) 0;
}
