@import '../../../../styles/common.scss';

.activeLinkWrapper {
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  width: 100%;
}

.previousLinkWrapper {
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
  width: 100%;

  &:hover,
  &:focus-visible {
    .backIcon {
      transform: translateX(-3px);
      transition: transform 0.2s linear;
    }
  }

  &:not(:hover),
  &:focus-visible {
    .backIcon {
      transition: transform 0.2s linear;
    }
  }
}

.previousLinkWrapper:focus-visible,
.activeLinkWrapper:focus-visible {
  border: none;
  outline: var(--header-focus-outline-width) solid var(--header-focus-outline-color);
  outline-offset: var(--header-focus-outline-width);
}

.headerNavigationMenu {
  position: absolute;
  transition: 0.3s min-height;
  width: 100%;
}

.menu {
  display: flex;
  flex-flow: column nowrap;
  height: min-content;
  list-style: none;
  margin: 0;
  margin-top: -1px;
  overscroll-behavior: contain;
  padding: 0;
  width: 100vw;

  .activeListItem {
    border-top: none;
    min-height: 72px;
  }

  .activeMobileLink.activeMobileLink {
    font-size: var(--fontsize-heading-m);
    margin: var(--spacing-m) var(--spacing-s);
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }

    &:focus-visible {
      border: none;
      outline: var(--header-focus-outline-width) solid var(--header-focus-outline-color);
      outline-offset: var(--header-focus-outline-width);
    }
  }

  .hideDropdownButton {
    display: none;
  }

  .previousListItem {
    align-items: center;
    display: flex;
    min-height: auto;
    padding: var(--spacing-m) calc(var(--header-focus-outline-width) * 2) 0;

    .previousButton {
      align-items: center;
      background-color: var(--nav-button-background-color);
      border: none;
      color: var(--nav-link-font-color);
      display: flex;
      height: 32px;
      justify-content: center;
      margin-left: var(--nav-mobile-margin-left);
      width: 32px;
    }
  }

  .previousMobileLink.previousMobileLink {
    color: var(--nav-link-font-color);
    font-size: var(--fontsize-body-m);
    font-weight: 500;
    margin-left: var(--spacing-xs);
  }
}

.mobileDropdownLink {
  position: relative;
}

.mobileLinkDropdown {
  display: block;
  left: 0;
  position: relative;
  right: 0;
  top: auto;
  width: 100%;
}

.mobileLinkDropdownButton.mobileLinkDropdownButton {
  background-color: transparent;
  margin: 0;
  padding: 20px;
  transform: rotate(-90deg);

  &:hover {
    background-color: transparent;
  }

  svg:hover {
    transform: translateY(4px);
    transition: transform 0.2s linear;
  }

  &:focus-visible {
    border: none;
    outline: var(--header-focus-outline-width) solid var(--header-focus-outline-color);
    outline-offset: calc(var(--header-focus-outline-width) - (var(--header-focus-outline-width) * 2));

    svg {
      transform: translateY(4px);
      transition: transform 0.2s linear;
    }
  }
}

.mobileLinkWrapper {
  box-sizing: border-box;

  .mobileLink.mobileLink {
    border-right: 1px solid var(--color-black-20);
    box-sizing: border-box;
    flex-grow: 1;
    margin: 0;
    margin-left: 0;
    padding: 17px 16px;
    position: relative;

    &:focus-visible {
      border: none;
      outline: var(--header-focus-outline-width) solid var(--header-focus-outline-color);
      outline-offset: -3px;
    }
  }
}

.mobileMenuBottom {
  background-color: var(--nav-mobile-menu-bottom-background-color);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: var(--spacing-2-xl);
  height: 100%;
  justify-content: space-between;
}

.mobileMenuOpen {
  display: flex;
  flex-direction: column;
  height: min-content;
}

.mobileNavigationLink {
  border-top: 1px solid var(--color-black-20);
  display: flex;
  min-height: var(--action-bar-dropdown-menu-primary-item-height);
  position: relative;
  width: 100%;
}

.navigation {
  background-color: var(--nav-mobile-menu-background-color);
  border-bottom: 1px solid var(--color-black-20);
  display: flex;
}

.navigationWrapper {
  background-color: var(--nav-mobile-menu-bottom-background-color);
  display: flex;
  min-height: calc(100vh - var(--action-bar-container-height));
  overflow: hidden;
  width: 300%;

  &.left0 {
    transform: translateX(0);
    transition: transform 0.3s ease;
  }

  &.left100 {
    transform: translateX(-100vw);
    transition: transform 0.3s ease;
  }

  &.left200 {
    transform: translateX(-200vw);
    transition: transform 0.3s ease;
  }
}

.navSection {
  display: flex;
  flex-direction: column;
  height: min-content;
  min-height: calc(100vh - var(--action-bar-container-height));
}

.universalList {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs) 0;
  list-style: none;
  margin: 0;
  padding: var(--spacing-l) 0 var(--spacing-m) 0;

  .universalLink.universalLink {
    font-size: var(--fontsize-body-m);
  }
}

.logoLink {
  height: calc(var(--logo-height) * 1.5) !important;
  justify-content: center;
  margin-bottom: var(--spacing-m);
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}
