@use "../../Header.module.scss";
@use "../../../../styles/common.scss";
@use "./_typography.scss";

.headerActionBar {
  align-items: stretch;
  box-sizing: border-box;
  display: flex;
  gap: calc(var(--header-margin) / 2);
  height: var(--action-bar-container-height);
  justify-content: space-between;
  margin: 0 auto;
  max-width: var(--header-max-width);
  padding-left: var(--header-margin);
  padding-right: var(--header-margin);
  position: relative;
  color: var(--header-color);
  
  hr {
    border: 0;
    border-left: 1px solid var(--color-black-20);
    display: inline-block;
    height: 100%;
    margin: 0 5px;
    width: 0;
  }
}

.headerActionBarContainer {
  background-color: var(--actionbar-background-color);
  border-bottom: 1px solid var(--header-divider-color);
  width: 100%;
}

.headerActions {
  align-items: stretch;
  display: flex;
  flex-grow: 1;
  gap: var(--action-bar-item-gutter);
  justify-content: flex-end;
}

.titleAndLogoContainer {
  align-items: center;
  color: inherit;
  cursor: pointer;
  display: flex;
  flex: 0 0 auto;
  outline: none;
  position: relative;
  text-decoration: none;
  white-space: nowrap;

  &:focus-visible {
    border: none;
    outline: var(--header-focus-outline-width) solid var(--header-focus-outline-color);
    outline-offset: var(--header-focus-outline-width);
  }

  &:not([href]):not([tabindex="0"]) {
    cursor: auto;
  }
}

.title {
  align-self: center;
  margin-top: -2px;
  padding: 1px;

  .normal > & { @include typography.title-normal }
  .bold > & { @include typography.title-bold }
  .black > & { @include typography.title-black }
}

.logo {
  align-self: center;
  box-sizing: content-box;
  height: var(--logo-height);
}

.logoWrapper {
  height: 100%;
  max-height: 100%;
  max-width: 100%;
}
