@use "../../Header.module.scss" as header;
@import "../../../../styles/common.scss";

.navigationLink.navigationLink {
  --link-color: var(--color-black-90);
  --link-font-size: 14px;
  --link-visited-color: none;

  display: flex;
  flex-grow: 1;
  line-height: var(--lineheight-l);
  padding: 13px 0 15px;
  margin: 0 calc(-1 * var(--header-focus-outline-width));
  text-decoration: none;
  word-wrap: break-word;

  &:hover,
  &:focus {
    text-decoration: underline;
    text-decoration-color: var(--color-black-90);
  }
}

.active {
  font-weight: 700;
  padding-left: var(--header-focus-outline-width);
}


.navigationLinkWrapper {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: stretch;
  position: relative;

  &.isNotLargeScreen {
    align-items: stretch;
    border-top: 1px solid var(--color-black-20);

    &,
    &:focus {
      border-top-width: 1px;
    }

    ul {
      border: none;
    }
  }
}


.navigationLink.isNotLargeScreen{
  align-self: center;
  border: none;
  box-sizing: border-box;
  color: var(--color-black-90);
  font-size: var(--link-font-size);
  height: var(--action-bar-dropdown-menu-secondary-item-height);
  line-height: var(--action-bar-dropdown-menu-secondary-item-height);
  padding: 0;
  word-wrap: break-word;

  &.depth-0 {
    font-size: 20px;
    height: var(--action-bar-dropdown-menu-primary-item-height);
    line-height: var(--action-bar-dropdown-menu-primary-item-height);
    padding: 0 0 0 16px;
  }

  &.depth-1 { padding: 0 0 0 32px; }
  &.depth-2 { padding: 0 0 0 48px; }
  &.depth-3 { padding: 0 0 0 64px; }

  &:focus { border: none }

  @include header.element-focus-state;
}
