.navigationLink.navigationLink {
  --link-visited-color: none;
  --link-color: var(--color-black-90);
}

.active {
  font-weight: 700;
}

.navigationLink:hover,
.navigationLink:focus {
  text-decoration: underline;
  text-decoration-color: var(--color-black-90);
}

.navigationLinkWrapper {
  align-items: center;
  display: flex;
  height: 100%;
  position: relative;

  .navigationLink {
    --link-visited-color: none;
    --link-color: var(--color-black-90);
    flex-grow: 1;
    display: flex;
    line-height: var(--lineheight-l);
    text-decoration: none;
    word-wrap: break-word;
  }
}
