@value small-down, medium-up from "../../styles/breakpoints.css";

.container {
  display: flex;
  // margins added to match margins in menu above the breadcrumb
  margin-left: var(--spacing-xs);
  margin-right: var(--spacing-xs);
  padding: var(--spacing-s) 0;
}

.mobileView {
  display: flex;
}

.breadcrumb {
  display: none;
}

.mobileView,
.breadcrumb {
  flex-direction: row;
  align-items: center;
  word-wrap: break-word;
}

.item,
.backArrow {
  line-height: var(--lineheight-l);
}

.item {
  align-items: center;
  display: flex;
  .currentPage {
    font-weight: 700;
    // to match 3px border around links
    padding: 3px;
  }
}

.link {
  --link-visited-color: none;
  --link-color: var(--color-black-90);
  &:hover,
  &:focus {
    text-decoration-color: var(--color-black-90);
  }
}

.backArrow {
  display: flex;
  // compensate the white space in the icon
  margin-left: -5px;
}

.separator {
  display: inline-flex;
  padding: 0 var(--spacing-3-xs);
}

@media medium-up {
  .mobileView {
    display: none;
  }
  .breadcrumb {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.navigationLink.navigationLink {
  --link-visited-color: none;
  --link-color: var(--color-black-90);
}

.active {
  font-weight: 700;
}
