@import '../common.scss';
@value x-small-down, small-down, small-only, medium-down, medium-only, medium-up, large-up, x-large-up from "../../../styles/breakpoints.scss";

.divider {
  @extend %divider;
}

.groups {
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--spacing-m);
}

.links {
  display: grid;
  gap: var(--spacing-m);
  grid-auto-flow: column;
}

.utilities {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 var(--spacing-m) var(--spacing-m);
}

@media x-small-down {
  .links {
    gap: var(--spacing-xs);
    grid-auto-flow: row;
    justify-items: flex-start;
  }

  .utilities {
    align-items: flex-start;
    flex-direction: column;
  }
}
@media small-down {
  .divider {
    margin: 0 0 var(--spacing-xs);
  }

  .utilities {
    justify-items: flex-start;
  }
}

@media medium-down {
  .link {
    gap: var(--spacing-xs);
  }
  .utilities {
    gap: var(--spacing-xs);
  }
}

@media large-up {
  .divider {
    margin: 0 0 var(--spacing-m);
  }
}
