@import url('./newButtonVariants.css');

.new-hds-button {
  --border-width: 2px;
  --focus-outline-width: 3px;
  --horizontal-gap: var(--spacing-2-xs);
  --horizontal-padding: var(--spacing-l);
  --min-size: 56px;
  --vertical-padding: var(--spacing-s);
  --padding: calc(var(--vertical-padding) - var(--border-width)) calc(var(--horizontal-padding) - var(--border-width));
  --icon-reposition: calc(-1 * var(--spacing-2-xs));

  /* logics, always falls back to previous (upper) if not given */
  --bg-color: var(--background-color, transparent);
  --bg-color-focus: var(--background-color-focus, var(--bg-color, transparent));
  --bg-color-hover: var(--background-color-hover, var(--bg-color-focus, transparent));
  --bg-color-active: var(--background-color-active, var(--bg-color-hover, transparent));
  --txt-color: var(--color, inherit);
  --txt-color-focus: var(--color-focus, var(--txt-color, inherit));
  --txt-color-hover: var(--color-hover, var(--txt-color-focus, inherit));
  --txt-color-active: var(--color-active, var(--txt-color-hover, inherit));
  --br-color: var(--border-color, var(--bg-color));
  --br-color-focus: var(--border-color-focus, var(--br-color, transparent));
  --br-color-hover: var(--border-color-hover, var(--br-color-focus, transparent));
  --br-color-active: var(--border-color-active, var(--br-color-hover, transparent));
  --foc-outline-color: var(--focus-outline-color, transparent);

  align-content: flex-start;
  align-items: center;
  background-color: var(--bg-color);
  border: var(--border-width) solid var(--br-color);
  border-radius: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: var(--txt-color, inherit);
  column-gap: var(--horizontal-gap);
  cursor: var(--cursor, pointer);
  display: inline-flex;
  font-family: inherit;
  font-size: 100%;
  font-weight: 500;
  justify-content: center;
  line-height: var(--lineheight-l);
  margin: 0;
  min-height: var(--min-size);
  min-width: var(--min-size);
  outline: none;
  outline-offset: 2px;
  overflow: hidden;
  padding: var(--padding);
  position: relative;
  text-decoration: none;
  text-transform: none;
  vertical-align: top;
}

.new-hds-button--small {
  --min-size: 44px;
  --horizontal-padding: var(--spacing-m);
  --vertical-padding: var(--spacing-2-xs);
}

button.new-hds-button,
.new-hds-button[type="button"],
.new-hds-button[type="reset"],
.new-hds-button[type="submit"]
{
  -webkit-appearance: button;
}

.new-hds-button--fullwidth {
  width: 100%;
}

/* focus */
.new-hds-button:focus-visible {
  background-color: var(--bg-color-focus);
  border-color: var(--br-color-focus);
  color: var(--txt-color-focus);
  outline: var(--focus-outline-width) solid var(--foc-outline-color);
}

/* hover */
.new-hds-button:hover {
  background-color: var(--bg-color-hover);
  border-color: var(--br-color-hover);
  color: var(--txt-color-hover);
}

/* active */
.new-hds-button:active {
  background-color: var(--bg-color-active);
  border-color: var(--br-color-active);
  color: var(--txt-color-active);
  outline: var(--focus-outline-width) solid var(--foc-outline-color);
}

/* disabled */
.new-hds-button:disabled {
  background-color: var(--background-color-disabled, transparent);
  border-color: var(--border-color-disabled, transparent);
  color: var(--color-disabled, inherit);
  cursor: not-allowed;
  outline: none;
}

/* icons */
.new-hds-button .hds-icon {
  height: var(--spacing-m);
  width: var(--spacing-m);
}

/* start-side icon */
.new-hds-button .hds-icon:first-child:not(:last-child) {
  margin-left: var(--icon-reposition);
}

/* end-side icon */
.new-hds-button .hds-icon:last-child:not(:first-child) {
  margin-right: var(--icon-reposition);
}
