.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background: rgb(0, 0, 0);
  pointer-events: none;
}

.aligner {
  position: absolute;
  bottom: 0;
  z-index: 2;
  width: 100%;
  overflow-y: scroll;
  max-height: 100%;
}

.container .aligner {
  transform: translateY(100%);
  transition: transform 1s;
}
.container .overlay {
  opacity: 0.01;
  transition: opacity 1s;
}

.container.animate-in .aligner {
  transform: translateY(0%);
}
.container.animate-in .overlay {
  opacity: 0.7;
}

.buttons {
  padding: 20px 0;
}

.buttons > * {
  margin: 0 20px 20px 0;
}

.content {
  position: relative;
  padding: 20px 20px 0 20px;
  background: #ffffff;
  width: 100%;
  box-sizing: border-box;
}

.content .emulated-h1 {
  margin-right: 50px;
}

.language-switcher-and-close {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--spacing-s);
}

.text-content {
  padding: 0;
}

.emulated-h1 {
  font-size: var(--fontsize-heading-m);
  font-weight: bold;
  display: block;
  padding: 0;
}

.plain-text-button {
  border: none;
  background: transparent;
  display: inline-block;
  text-decoration: underline;
  color: var(--color-bus);
  padding: 0;
  cursor: pointer;
}

.emulated-h2 {
  font-size: var(--fontsize-heading-s);
  font-weight: bold;
  display: block;
  padding: 1.2em 0 0.5em;
}

.emulated-h2 + p {
  margin-top: 0;
}

.list {
  list-style: none;
  margin-top: 0;
  padding-left: 0;
}

.list li {
  padding-bottom: 10px;
}

.list li label {
  padding-left: 10px;
}

.accordion-button,
.close-button {
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

.accordion-button {
  display: flex;
  align-items: center;
  color: var(--color-bus);
  text-decoration: underline;
}

.accordion-button svg {
  margin-left: -5px;
}

.accordion-button span {
  padding-left: var(--spacing-3-xs);
}

.close-button {
  padding-left: var(--spacing-s);
  height: 24px;
  margin-right: -6px;
}

@media (min-width: 768px) {
  .language-switcher-and-close {
    position: absolute;
    z-index: 3;
    top: var(--spacing-m);
    right: var(--spacing-s);
    justify-content: end;
    margin-bottom: 0;
  }
  .buttons > * {
    margin-bottom: 0;
  }
  .close-button {
    margin-right: 0;
  }
}
