.container {
  position: fixed;
  left: 0;
  width: 100vw;
  z-index: 999;
  bottom: 0;
  --common-spacing: var(--spacing-s);
}

.aligner {
  position: absolute;
  bottom: 0;
  z-index: 2;
  width: 100%;
  overflow-y: scroll;
  max-height: 100vh;
}

.container .aligner {
  transform: translateY(100%);
  transition: transform 1s;
}

.container.animate-in .aligner {
  transform: translateY(0%);
}

.buttons {
  padding: var(--common-spacing) 0;
}

.buttons > * {
  margin: 0 var(--common-spacing) var(--common-spacing) 0;
}

.content {
  position: relative;
  padding: var(--common-spacing) var(--common-spacing) 0 var(--common-spacing);
  background: #ffffff;
  width: 100%;
  box-sizing: border-box;
  border-top: 8px solid var(--color-bus);
  --close-button-size: 24px;
  --close-button-padding: calc(var(--spacing-s) / 2);
  --close-button-left-side: calc(var(--close-button-size) + var(--common-spacing));
  --lang-pos-x: calc(var(--close-button-left-side) + var(--close-button-padding) + var(--common-spacing));
}

.language-switcher {
  position: absolute;
  z-index: 3;
  top: var(--common-spacing);
  left: var(--common-spacing);
}

.main-content,
.text-content {
  padding: 0;
}

.main-content {
  padding-top: calc(var(--common-spacing) * 2);
}

.emulated-h1 {
  font-size: var(--fontsize-heading-l);
  font-weight: bold;
  display: block;
  padding: 0;
}

.plain-text-button {
  border: none;
  background: transparent;
  display: inline-block;
  text-decoration: underline;
  color: var(--color-bus);
  padding: 0;
  cursor: pointer;
}

.emulated-h2 {
  font-size: var(--fontsize-heading-m);
  font-weight: bold;
  display: block;
  padding: 1.2em 0 0.5em;
}

.emulated-h2 + p,
.emulated-h3 + p {
  margin-top: 0;
}

.emulated-h3 {
  font-size: var(--fontsize-heading-s);
  font-weight: bold;
  display: block;
  padding: 1.2em 0 0.5em;
}

.list {
  list-style: none;
  margin-top: 0;
  padding-left: 0;
}

.list li {
  padding-bottom: var(--common-spacing);
}

.list li span {
  display: inline-block;
  padding: var(--spacing-xs) 0 0 32px;
}

.accordion-button,
.close-button {
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

.accordion-button {
  display: flex;
  align-items: center;
  color: var(--color-bus);
  text-decoration: underline;
}

.accordion-button svg {
  margin-left: -5px;
}

.accordion-button span {
  padding-left: var(--spacing-3-xs);
}

.close-button {
  position: absolute;
  z-index: 3;
  top: var(--close-button-padding);
  right: var(--close-button-padding);
  padding: var(--close-button-padding);
  height: var(--close-button-size);
  box-sizing: content-box;
}

@media (min-width: 768px) {
  .language-switcher {
    top: var(--close-button-padding);
    right: var(--lang-pos-x);
    padding-top: var(--close-button-padding);
    left: unset;
  }
  .buttons > * {
    margin-bottom: 0;
  }
  .close-button {
    right: var(--common-spacing);
  }
  .main-content {
    padding-top: 0;
  }
  .content .emulated-h1 {
    margin-right: 70px;
  }
}
