.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background: rgb(0, 0, 0);
  pointer-events: none;
}

.aligner {
  position: absolute;
  bottom: 0;
  z-index: 2;
  width: 100%;
  overflow-y: scroll;
  max-height: 100%;
}

.container .aligner {
  transform: translateY(100%);
  transition: transform 1s;
}
.container .overlay {
  opacity: 0.01;
  transition: opacity 1s;
}

.container.animate-in .aligner {
  transform: translateY(0%);
}
.container.animate-in .overlay {
  opacity: 0.7;
}

.buttons {
  padding: 20px 0;
}

.buttons > * {
  margin: 0 20px 20px 0;
}

@media (min-width: 768px) {
  .buttons > * {
    margin-bottom: 0;
  }
}

.content {
  position: relative;
  padding: 20px 20px 0 20px;
  background: #ffffff;
  width: 100%;
  box-sizing: border-box;
}

.content .emulated-h1 {
  margin-right: 50px;
}

.language-switcher {
  position: absolute;
  z-index: 3;
  right: -57px;
  top: 20px;
  max-width: 200px;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .language-switcher {
    right: 20px;
  }
}

.text-content {
  padding: 0;
}

.emulated-h1 {
  font-size: var(--fontsize-heading-m);
  font-weight: bold;
  display: block;
  padding: 0;
}

.plain-text-button {
  border: none;
  background: transparent;
  display: inline-block;
  text-decoration: underline;
  color: var(--color-bus);
  padding: 0;
  cursor: pointer;
}

.emulated-h2 {
  font-size: var(--fontsize-heading-s);
  font-weight: bold;
  display: block;
  padding: 1.2em 0 0.5em;
}

.emulated-h2 + p {
  margin-top: 0;
}

.list {
  list-style: none;
  margin-top: 0;
  padding-left: 0;
}

.list li {
  padding-bottom: 10px;
}

.list li label {
  padding-left: 10px;
}

.accordion-button {
  border: none;
  background: transparent;
  text-decoration: underline;
  color: var(--color-bus);
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.accordion-button svg {
  margin-left: -5px;
}

.accordion-button span {
  padding-left: var(--spacing-3-xs);
}
