.container {
  position: fixed;
  left: 0;
  width: 100vw;
  z-index: 999;
  bottom: 0;
  --common-spacing: var(--spacing-s);
}

.aligner {
  position: absolute;
  bottom: 0;
  z-index: 2;
  width: 100%;
  overflow-y: scroll;
  max-height: 80vh;
  border-top: 8px solid var(--color-bus);
}

.container .aligner {
  transform: translateY(100%);
  transition: transform 1s;
}

.container.animate-in .aligner {
  transform: translateY(0%);
}

.page {
  --common-spacing: var(--spacing-s);
}

.buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: var(--spacing-l);
}

.buttons > * {
  margin: 0 var(--common-spacing) var(--common-spacing) 0;
  width: 100%;
}

.content {
  position: relative;
  padding: var(--common-spacing) var(--common-spacing) 0 var(--common-spacing);
  background: #ffffff;
  width: 100%;
  box-sizing: border-box;
}

.page .content {
  padding-top: 0;
  padding-bottom: 0;
}

.language-switcher {
  position: absolute;
  top: var(--common-spacing);
  left: var(--common-spacing);
}

.language-selector-override {
  position: relative;
  right: unset;
}

.language-selector-override > button {
  padding-top: 0;
}

.language-selector-override > button + div {
  right: unset;
  left: 0;
}

.main-content,
.text-content {
  padding: 0;
}

.text-content > p {
  padding-bottom: var(--spacing-2-xl);
}

.main-content {
  padding-top: calc(var(--common-spacing) * 2);
}

.emulated-h1 {
  font-size: var(--fontsize-heading-l);
  font-weight: bold;
  display: block;
  padding: 0;
}

.emulated-h2 {
  font-size: var(--fontsize-heading-m);
  font-weight: bold;
  display: block;
  padding: 1.2em 0 0.5em;
}

.emulated-h2 + p,
.emulated-h3 + p {
  margin: 0;
}

.emulated-h3 + p {
  padding-bottom: var(--spacing-l);
}

.emulated-h3 {
  font-size: var(--fontsize-heading-s);
  font-weight: bold;
  display: block;
  padding: 1.5em 0 0.5em;
}

.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.accordion-button {
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: var(--color-bus);
  text-decoration: underline;
  padding-top: var(--spacing-xs);
}

.accordion-button svg {
  margin-left: -5px;
}

.accordion-button span {
  padding-left: var(--spacing-3-xs);
}

.consent-group-parent {
  display: flex;
  padding: 0 0 var(--spacing-2-xl);
  flex-direction: column;
  > p {
    margin-bottom: 0;
  }
}

.consent-group {
  display: flex;
  position: relative;
  padding: var(--spacing-xl) 0;
  flex-direction: column;
}

.consent-group-closed {
  border-bottom: 1px solid var(--color-black);
}

.consent-group-content {
  display: flex;
  padding: 0 var(--spacing-m);
  flex-direction: column;
  p {
    padding: var(--spacing-l) 0 0;
    margin: 0;
  }
  button {
    position: absolute;
    right: 0;
    top: calc(var(--spacing-xl) - 1 * var(--spacing-s));
    padding: var(--spacing-s);
  }
}

.title-with-checkbox {
  display: flex;
  margin-right: calc(var(--spacing-s) * 3);
}

.page .content .consent-group-parent .title-with-checkbox label,
.container .content .consent-group-parent .title-with-checkbox label {
  font-weight: bold;
  color: var(--color-black);
}

.data-table-container {
  border-left: 1px solid var(--color-black);
  border-right: 1px solid var(--color-black);
  margin: var(--spacing-l) 0 var(--spacing-xs);
}

.data-table-container table tbody tr > * {
  width: 15%;
  word-break: break-word;
  min-width: 120px;
}
.data-table-container table tbody tr > *:nth-child(4) {
  width: 40%;
}

.data-mobile-container {
  ul {
    list-style: none;
    padding: 0;
    li {
      background: var(--color-black-5);
      margin: var(--spacing-m) 0 0;
      padding: var(--spacing-s) var(--spacing-s) 0;
      div {
        display: flex;
        flex-direction: column;
        padding-bottom: var(--spacing-m);
        span[role='heading'] {
          font-weight: bold;
          padding-bottom: var(--spacing-2-xs);
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .data-table-container table tbody tr > * {
    width: 20%;
  }
  .data-table-container table tbody tr > *:nth-child(4) {
    width: 20%;
  }
}
@media (min-width: 768px) {
  .container {
    --common-spacing: var(--spacing-l);
  }

  .language-switcher {
    top: calc(var(--common-spacing) + 4px);
    right: var(--common-spacing);
    left: unset;
    padding-top: 15px;
  }

  .main-content {
    padding-top: 0;
  }

  .content .emulated-h1 {
    margin-right: 200px;
  }

  .buttons {
    flex-direction: row;
  }
  .buttons > * {
    width: auto;
  }
}
