@import '../../styles/common.scss';

%level {
  & > button {
    @extend %buttonReset;
  }

  & > a,
  & > button {
    align-items: center;
    background-color: var(--side-navigation-level-background-color);
    border: var(--side-navigation-level-border-width) solid var(--side-navigation-level-border-color);
    box-sizing: border-box;
    color: var(--side-navigation-level-color);
    display: flex;
    margin: 0;
    min-height: var(--spacing-2-xl);
    outline: none;
    padding: var(--spacing-2-xs) var(--side-navigation-level-inset);
    text-align: left;
    text-decoration: none;
    width: 100%;

    &:hover {
      background-color: var(--side-navigation-level-background-color-hover);
      border-color: var(--side-navigation-level-border-color-hover);
      color: var(--side-navigation-level-color-hover);
    }

    &:focus {
      border-color: var(--side-navigation-level-border-color-focus) !important;
    }

    span {
      display: flex;
    }
  }
}

%activeLevel {
  & > a,
  & > button {
    background-color: var(--side-navigation-level-background-color-active);
    border-color: var(--side-navigation-level-background-color-active);
    color: var(--side-navigation-level-color-active);
    font-weight: 600;
    position: relative;

    &:before {
      background: var(--side-navigation-active-indicator-background-color);
      bottom: calc(0px - var(--side-navigation-level-border-width));
      content: '';
      display: block;
      left: calc(0px - var(--side-navigation-level-border-width));
      position: absolute;
      top: calc(0px - var(--side-navigation-level-border-width));
      width: var(--spacing-3-xs);
    }
  }
}
