@value small-down, medium-up from "../../styles/breakpoints.scss";

.sideNavigation {
  --side-navigation-background-color: var(--color-white);
  --side-navigation-active-indicator-background-color: var(--color-bus);
  --side-navigation-icon-size: var(--spacing-m);
  --side-navigation-level-border-color: var(--color-white);
  --side-navigation-level-border-color-focus: var(--color-coat-of-arms);
  --side-navigation-level-border-color-hover: var(--color-black-5);
  --side-navigation-level-border-width: 2px;
  --side-navigation-level-background-color: var(--color-white);
  --side-navigation-level-background-color-active: var(--color-black-5);
  --side-navigation-level-background-color-hover: var(--color-black-5);
  --side-navigation-level-color: var(--color-black);
  --side-navigation-level-color-active: var(--color-black);
  --side-navigation-level-color-hover: var(--color-black);
  --side-navigation-level-inset: var(--spacing-s);
  --side-navigation-mobile-menu-border-color: var(--color-black);
  --side-navigation-mobile-menu-border-width: 2px;
  --side-navigation-mobile-menu-z-index: 100;

  background-color: var(--side-navigation-background-color);
  box-sizing: border-box;
  position: relative;

  @media medium-up {
    height: 100%;
  }
}

.toggleButton {
  @media medium-up {
    display: none;
  }
}

.mainLevelList {
  list-style: none;
  margin: 0;
  padding: 0;

  @media small-down {
    max-height: 0;
    overflow: hidden;

    &.open {
      background-color: var(--side-navigation-background-color);
      border: var(--side-navigation-mobile-menu-border-width) solid var(--side-navigation-mobile-menu-border-color);
      max-height: none;
      will-change: max-height;
    }
  }

  @media medium-up {
    display: block;
  }
}
