@import '../../../styles/common';
@value medium-up from "../../../styles/breakpoints.css";

.dialogActionButtons {
  margin-top: var(--spacing-xl);

  > * {
    width: 100%;
  }

  > * + * {
    margin-top: var(--spacing-s);
  }
}

@media medium-up {
  .dialogActionButtons {
    > * {
      width: auto;
    }

    > * + * {
      margin-left: var(--spacing-s);
      margin-top: 0;
    }
  }
}
