@import '../../../styles/common';
@import '../dialog.common';
@value medium-up from "../../../styles/breakpoints.scss";

.dialogActionButtons {
  @include dialogComponentSidePaddings;

  display: block;
  padding-bottom: var(--spacing-m);
  padding-top: var(--spacing-s);

  > * {
    width: 100%;
  }

  > * + * {
    margin-top: var(--spacing-s);
  }
}

@media medium-up {
  .dialogActionButtons {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-s);

    > * {
      width: auto;
    }

    > * + * {
      margin-top: 0;
    }
  }
}
