@value medium-up, large-up, x-large-up from "../../../styles/breakpoints.css";

.utilityGroup {
  display: flex;
}

.utilityGroupList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: var(--spacing-xs);
  flex-direction: column;
  justify-items: start;
}

