@value x-small-down, small-down, medium-down from "../../../styles/breakpoints.css";
@import '../common';

.navigationHeading {
  @extend %footerItem;
  font-weight: bold;
  line-height: var(--lineheight-l);
}

.navigationHeading.utility {
  font-size: var(--fontsize-heading-m);
}

.navigationHeading.navigation {
  font-size: var(--fontsize-body-m);
}

@media medium-down {
  .navigationHeading.navigation {
    font-weight: normal;
  }
}
