:root.engel {
  /* COLORS */
  --hds-theme-color-body: var(--hds-ui-color-black-90);

  /* primary color */
  --hds-theme-color-primary: var(--hds-brand-color-engel);
  --hds-theme-color-primary-light: var(--hds-brand-color-engel-light-50);
  --hds-theme-color-primary-extra-light: var(--hds-brand-color-engel-light-20);
  --hds-theme-color-primary-dark: var(--hds-brand-color-engel-dark-50);
  --hds-theme-color-primary-heading: var(--hds-ui-color-black);

  /* secondary color */
  --hds-theme-color-secondary: var(--hds-brand-color-suomenlinna);
  --hds-theme-color-secondary-light: var(
    --hds-brand-color-suomenlinna-light-50
  );
  --hds-theme-color-secondary-extra-light: var(
    --hds-brand-color-suomenlinna-light-20
  );
  --hds-theme-color-secondary-dark: var(--hds-brand-color-suomenlinna-dark-50);
  --hds-theme-color-secondary-heading: var(--hds-ui-color-white);

  /* tertiary color */
  --hds-theme-color-tertiary: var(--hds-brand-color-copper);
  --hds-theme-color-tertiary-light: var(--hds-brand-color-copper-light-50);
  --hds-theme-color-tertiary-extra-light: var(
    --hds-brand-color-copper-light-20
  );
  --hds-theme-color-tertiary-dark: var(--hds-brand-color-copper-dark-50);
  --hds-theme-color-tertiary-heading: var(--hds-ui-color-black);
}
