.hds-error-summary__body {
  font-size: var(--fontsize-body-s);
  line-height: 24px;
}

.hds-error-summary__body ul {
  margin: 0;
  padding: 0 0 0 var(--spacing-s);
}

.hds-error-summary__body li {
  margin-bottom: 0.125rem;
}

.hds-error-summary__body a {
  color: var(--color-bus);
}
