@mixin hds-table(
    $all: true,
    $base: false,
    $text-align-td-right: false,
    $caption: false,
    $dark: false,
    $light: false,
    $with-vertical-lines: false,
    $dense: false,
    $zebra: false,
    $with-vertical-header: false,
    $text-align-right: false
  ){
  @if $all or $base {
    .hds-table-container {
      overflow-x: auto;
    }

    .hds-table-container:focus {
      outline: var(--color-focus-outline) 3px solid;
    }

    .hds-table {
      --content-background-color: var(--color-white);

      border-collapse: collapse;
      line-height: 1.5;
      width: 100%;
    }

    .hds-table th {
      border-bottom: 1px solid var(--color-black-20);
      font-size: var(--fontsize-body-m);
      font-weight: 500;
      line-height: var(--lineheight-l);
      padding: var(--spacing-xs) var(--spacing-m);
      text-align: left;
      white-space: nowrap;
    }
  }

  @if $all or $text-align-td-right {
    .hds-table__content--text-align-td-right td {
      text-align: right;
    }
  }

  @if $all or $base {
    .hds-table__content tr td {
      background-color: var(--content-background-color);
      border-bottom: 1px solid var(--color-black-50);
      color: var(--color-black-90);
      font-size: var(--fontsize-body-m);
      font-weight: 400;
      line-height: 24px;
      padding: var(--spacing-xs) var(--spacing-m);
    }

    .hds-table__header-row {
      background-color: var(--header-background-color);
    }
  }

  @if $all or $caption {
    .hds-table__caption {
      font-size: var(--fontsize-body-l);
      font-weight: normal;
      line-height: var(--lineheight-l);
      margin-bottom: var(--spacing-s);
      text-align: left;
    }
  }

  @if $all or $dark {
    /* DARK VARIANT */

    .hds-table--dark {
      --header-background-color: var(--color-bus);
    }

    .hds-table.hds-table--dark th {
      color: var(--color-white);
    }
  }

  @if $all or $light {
    /* LIGHT VARIANT */

    .hds-table--light {
      --header-background-color: var(--color-silver);
    }

    .hds-table.hds-table--light th {
      color: var(--color-black-90);
    }
  }

  @if $all or $with-vertical-lines {
    .hds-table--with-vertical-lines .hds-table__content td {
      border-right: 1px solid var(--color-black-50);
    }
  }

  @if $all or $dense {
    /* DENSE VARIANT */

    .hds-table--dense.hds-table th {
      font-size: var(--fontsize-body-s);
      font-weight: bold;
      padding: 9px var(--spacing-s);
    }

    .hds-table--dense .hds-table__content tr td {
      font-size: var(--fontsize-body-s);
      padding: 9px var(--spacing-s);
    }

    .hds-table--dense .hds-table__caption {
      font-size: var(--fontsize-body-m);
      line-height: var(--lineheight-l);
      margin-bottom: var(--spacing-xs);
    }
  }

  @if $all or $zebra {
    /* ZEBRA VARIANT */

    .hds-table--zebra .hds-table__content tr td {
      border-bottom: none;
    }

    .hds-table--zebra .hds-table__content tr:nth-child(even) td {
      background-color: var(--color-black-10);
    }
  }

  @if $all or $with-vertical-lines {
    /* VERTICAL LINES VARIANT */

    .hds-table--with-vertical-lines .hds-table__content {
      border-left: 1px solid var(--color-black-50);
    }

    .hds-table--with-vertical-lines .hds-table__header-row {
      border-left: 1px solid var(--header-background-color);
      border-right: 1px solid var(--header-background-color);
    }
  }

  @if $all or $with-vertical-header {
    /* VERTICAL HEADER VARIANT */

    .hds-table__vertical-header-column {
      background-color: var(--header-background-color);
    }
  }

  @if $all or ($with-vertical-header and $with-vertical-lines) {
    .hds-table--with-vertical-header.hds-table--with-vertical-lines .hds-table__content {
      border-left: none;
    }

    .hds-table--with-vertical-lines.hds-table--with-vertical-header .hds-table__header-row {
      border-left: none;
    }
  }

  @if $all or $base {
    /* MOBILE STYLES */

    @media (max-width: 767px) {
      .hds-table th {
        font-size: var(--fontsize-body-s);
        font-weight: bold;
        padding: 9px var(--spacing-s);
      }

      .hds-table__content tr td {
        font-size: var(--fontsize-body-s);
        padding: 9px var(--spacing-s);
      }

      @if $all or $caption {
        .hds-table__caption {
          font-size: var(--fontsize-heading-xxs);
          line-height: var(--lineheight-l);
          margin-bottom: var(--spacing-xs);
        }
      }
    }
  }

  @if $all or $text-align-right {
    /* UTILITY */

    .hds-table--text-align-right {
      text-align: right;
    }
  }
}
