.fieldset {
  composes: hds-fieldset from 'hds-core/lib/components/fieldset/fieldset.css';
}

.border {
  composes: hds-fieldset--border from 'hds-core/lib/components/fieldset/fieldset.css';
}

.legend {
  composes: hds-fieldset-legend from 'hds-core/lib/components/fieldset/fieldset.css';
}

.helperText {
  composes: helper-text from 'hds-core/lib/utils/helpers.css';
}

.legendWithTooltip {
  composes: hds-fieldset-legend from 'hds-core/lib/components/fieldset/fieldset.css';
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--spacing-2-xs);
}

.tooltipButton {
  display: flex;
  align-items: center;
}
