.hds-example-form {
  margin: 0 auto;
  max-width: 792px;

  &__title {
    color: var(--color-bus);
    font-size: var(--fontsize-heading-l);
    line-height: var(--lineheight-m);
    margin: 0 0 var(--spacing-m) 0;
  }

  &__required-info {
    font-size: var(--fontsize-body-m);
    line-height: var(--lineheight-l);
    margin: 0 0 var(--spacing-l) 0;
  }

  &__error-summary {
    margin-bottom: var(--spacing-m);
  }

  &__section {
    margin-bottom: var(--spacing-xl);

    &-title {
      color: var(--color-bus);
      font-size: var(--fontsize-heading-s);
      line-height: var(--lineheight-m);
      margin: 0 0 var(--spacing-m);
    }
  }

  &__item {
    margin-bottom: var(--spacing-m);
  }

  &__terms {
    margin-top: var(--spacing-2-xs);
    margin-left: var(--spacing-l);

    span {
      cursor: pointer;
      text-decoration: underline;
      color: var(--color-bus);
    }
  }

  @media (min-width: 576px) {
    &__grid {
      &-6-6 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--spacing-m);
      }
      &-8-4 {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: var(--spacing-m);
      }
      &-6-6:last-child,
      &-8-4:last-child {
        margin-bottom: calc(-1 * var(--spacing-m));
      }
    }
  }
}