.hds-example-form {
  margin: 0 auto;
  max-width: 792px;

  &__main-title {
    composes: heading-xl from 'hds-core/lib/utils/helpers.css';
    margin: 0 0 var(--spacing-m) 0;
  }

  &__title {
    font-size: var(--fontsize-heading-l);
    font-weight: 400;
    letter-spacing: -0.4px;
    line-height: var(--lineheight-s);
    margin: 0 0 var(--spacing-m) 0;
  }

  &__required-info {
    font-size: var(--fontsize-body-m);
    line-height: var(--lineheight-l);
    margin: 0 0 var(--spacing-l) 0;
  }

  &__error-summary {
    margin-bottom: var(--spacing-m);
  }

  &__section {
    margin-bottom: var(--spacing-xl);

    &-title {
      composes: heading-s from 'hds-core/lib/utils/helpers.css';
      margin: 0 0 var(--spacing-m);
    }
  }

  &__item {
    margin-bottom: var(--spacing-m);
  }

  &__terms {
    margin-top: var(--spacing-2-xs);
    margin-left: var(--spacing-l);

    span {
      cursor: pointer;
      text-decoration: underline;
      color: var(--color-bus);
    }
  }

  @media (min-width: 576px) {
    &__grid {
      &-6-6 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--spacing-m);
      }
      &-8-4 {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: var(--spacing-m);
      }
      &-6-6:last-child,
      &-8-4:last-child {
        margin-bottom: calc(-1 * var(--spacing-m));
      }
    }
  }
}