.hds-notification {
  --notification-background-color: var(--color-info-light);
  --notification-border-color: var(--color-info);
  --notification-border-width: var(--spacing-2-xs);
  --notification-color: var(--color-black-90);
  --notification-focus-outline-color: var(--color-coat-of-arms-blue);
  --notification-max-width-inline: none;
  --notification-max-width-toast: 21rem;
  --notification-offset: var(--spacing-layout-s);
  --notification-padding: var(--spacing-s);
  --notification-z-index: 99;

  background-color: var(--notification-background-color);
  border: solid var(--notification-border-color);
  border-width: 0 0 0 var(--notification-border-width);
  box-sizing: border-box;
  color: var(--notification-color);
  max-width: var(--notification-max-width-inline);
  padding: var(--notification-padding);
  position: relative;
  width: 100%;
  z-index: var(--notification-z-index);
}

/* CONTENT */

.hds-notification__content {
  display: grid;
  gap: var(--spacing-s);
}

/* LABEL */

.hds-notification__label {
  align-items: flex-start;
  display: flex;
  font-weight: bold;
  font-size: var(--fontsize-body-l);
  margin-right: var(--spacing-l);
}

.hds-notification__label > .hds-icon {
  margin-right: var(--spacing-2-xs);
}

/* SMALL */

.hds-notification--small {
  --notification-padding: var(--spacing-2-xs);
}

.hds-notification--small .hds-notification__content {
  display: flex;
  gap: 0;
}

.hds-notification--small .hds-notification__label {
  margin-right: 0;
}

.hds-notification--small .hds-notification__body {
  margin-right: var(--spacing-l);
}

/* LARGE */

.hds-notification--large {
  --notification-padding: var(--spacing-l);
}

.hds-notification--large .hds-notification__label {
  margin-right: 0;
}

/* ICON */

.hds-notification .hds-icon {
  --icon-size: var(--spacing-layout-xs);
}

.hds-notification__label > .hds-icon {
  flex: none;
}

.hds-notification:not(.hds-notification--small) .hds-notification__label > .hds-icon {
  transform: translateY(var(--spacing-4-xs));
}

/* CLOSE BUTTON */

.hds-notification__close-button {
  --notification-close-button-offset: var(--spacing-s);
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  outline: none;
  padding: 0;
  position: absolute;
  right: var(--notification-close-button-offset);
  top: var(--notification-close-button-offset);
}

.hds-notification--small .hds-notification__close-button,
.hds-notification--large .hds-notification__close-button {
  --notification-close-button-offset: var(--spacing-2-xs);
}

.hds-notification__close-button:focus {
  box-shadow: 0 0 0 3px var(--notification-focus-outline-color);
}

/* TOAST POSITIONS */

.hds-notification--top-left,
.hds-notification--top-center,
.hds-notification--top-right,
.hds-notification--bottom-left,
.hds-notification--bottom-center,
.hds-notification--bottom-right {
  border-width: var(--notification-border-width) 0 0;
  max-width: var(--notification-max-width-toast);
  position: fixed;
  width: calc(100% - var(--spacing-l));
}

.hds-notification--top-left {
  top: var(--notification-offset);
  left: var(--notification-offset);
}

.hds-notification--top-center {
  top: var(--notification-offset);
  left: 50%;
  transform: translateX(-50%);
}

.hds-notification--top-right {
  top: var(--notification-offset);
  right: var(--notification-offset);
}

.hds-notification--bottom-left {
  bottom: var(--notification-offset);
  left: var(--notification-offset);
}

.hds-notification--bottom-center {
  bottom: var(--notification-offset);
  left: 50%;
  transform: translateX(-50%);
}

.hds-notification--bottom-right {
  bottom: var(--notification-offset);
  right: var(--notification-offset);
}

@media only screen and (max-width: 765.98px) {
  .hds-notification {
    --notification-offset: var(--spacing-s);
  }
}

/* TYPES */

.hds-notification--success {
  --notification-background-color: var(--color-success-light);
  --notification-border-color: var(--color-success);
}

.hds-notification--alert {
  --notification-background-color: var(--color-alert-light);
  --notification-border-color: var(--color-alert-dark);
}

.hds-notification--error {
  --notification-background-color: var(--color-error-light);
  --notification-border-color: var(--color-error);
}
