@import "../../../../styles/common.scss";
@value small-up from "../../../../styles/breakpoints.scss";

:root {
  --date-background: transparent;
  --date-color: var(--color-black-90);
  --outside-date-background: transparent;
  --outside-date-color: var(--color-black-40);
  --selected-date-background: var(--color-bus);
  --selected-date-color: #fff;
  --table-width: 100%;
  --horizontal-spacing: var(--spacing-s);
  --vertical-spacing: var(--spacing-s);
  --date-border: 0;

  @media only screen and (min-width: 576px) {
    --table-width: 308px;
  }
}

.pickerWrapper {
  display: flex;
  justify-content: flex-end;
  opacity: 0;
  pointer-events: none;
  transition: opacity 150ms;
  visibility: hidden;
  will-change: opacity, visibility;
  z-index: 900;

  &.isVisible {
    opacity: 1;
    visibility: visible;
  }

  > * {
    pointer-events: auto;
  }

}

.hds-datepicker {
  background: #fff;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 0.5);
  box-sizing: border-box;
  display: inline-block;
  min-width: calc(100vw - 2 * var(--spacing-s));
  padding: var(--vertical-spacing) var(--horizontal-spacing);
  position: relative;
  width: 100%;

  @media small-up {
    min-width: calc(var(--table-width) + 2 * var(--spacing-s));
  }
}

.hds-datepicker__month-table {
  border-collapse: collapse;
  border-spacing: 2px;
  max-width: var(--table-width);
  width: 100%;
}

.hds-datepicker__head {
  &__weekday {
    font-size: var(--fontsize-body-m);
    font-weight: bold;
    padding-bottom: 6px;
    text-transform: uppercase;

    &-vhidden {
      @extend %visuallyHidden;
    }
  }
}

.hds-datepicker__day-cell {
  line-height: 0;
  margin: 0 4px 0 0;
  padding: 3px;
  width: calc(100% / 7);
}

.hds-datepicker__day {
  --background-color: var(--date-background);
  --color: var(--date-color);
  
  align-items: center;
  appearance: none;
  background: transparent;
  border: 0;
  box-sizing: border-box;
  display: inline-flex;
  line-height: 1;
  margin: 0;
  overflow: hidden;
  padding: 0 0 100%;
  position: relative;
  vertical-align: middle;
  width: 100%;

  &--selected {
    --background-color: var(--selected-date-background);
    --color: var(--selected-date-color);
  }

  &--outside {
    pointer-events: none;

    --background-color: var(--outside-date-background);
    --color: var(--outside-date-color);
  }

  &--today {
    &:after {
      background: var(--color);
      bottom: 7px;
      content: '';
      height: 2px;
      left: 8px;
      position: absolute;
      right: 8px;
    }
  }

  &:focus {
    box-shadow: 0 0 0 3px var(--color-coat-of-arms);
    outline: none;
  }

  &__wrapper {
    align-items: center;
    background-color: var(--background-color);
    border: var(--date-border);
    color: var(--color);
    display: flex;
    font-size: 1rem;
    inset: 2px;
    justify-content: center;
    line-height: 1rem;
    position: absolute;

    &-vhidden {
      @extend %visuallyHidden;
    }
  }
}

.hds-datepicker__day--selected .hds-datepicker__day__wrapper {
  background-color: var(--selected-date-background);
  border: 0;
}

.hds-datepicker__navigation {
  align-items: center;
  display: flex;
  margin-bottom: var(--spacing-s);

  &__select {
    --icon-size: 24px;

    margin-right: var(--spacing-s);
    position: relative;

    select {
      height: 100%;
      left: 0;
      opacity: 0;
      position: absolute;
      text-transform: capitalize;
      top: 0;
      width: 100%;
    }

    &-label {
      --label-spacing: 0.3rem;

      font-size: var(--fontsize-body-xl);
      font-weight: bold;
      padding: 0.15rem calc(var(--icon-size)) 0.15rem 0.3rem;
      pointer-events: none;
      position: relative;
      text-transform: capitalize;
    }

    select:focus + &-label {
      box-shadow: 0 0 0 3px var(--color-coat-of-arms);
    }

    &-icon {
      align-items: center;
      bottom: 0;
      display: flex;
      justify-content: center;
      pointer-events: none;
      position: absolute;
      right: 0;
      top: 0;
      width: var(--icon-size);

      svg {
        height: var(--icon-size);
        width: var(--icon-size);
      }
    }
  }

  &__buttons {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    transform: translateY(-3px);

    [aria-disabled="true"] {
      color: var(--color-black-30);
      cursor: not-allowed;
    }

    button {
      align-items: center;
      background: transparent;
      border: 0;
      cursor: pointer;
      display: inline-flex;
      height: calc(25px + 0.15rem);
      justify-content: center;
      padding: 0.15rem;
      width: calc(25px + 0.15rem);

      &:focus {
        box-shadow: 0 0 0 3px var(--color-coat-of-arms);
        outline: none;
      }
    }
  }
}

.hds-datepicker__bottom-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: var(--spacing-s);

  button:nth-child(2) {
    margin-left: var(--spacing-s);
  }
}

.hds-datepicker__legend {
  display: flex;
  flex-flow: row wrap;
  gap: var(--spacing-m);
  margin: var(--spacing-m) 0;

  @media small-up {
    max-width: var(--table-width);
  }
}

.hds-datepicker__legend-item {
  align-items: center;
  display: flex;
  font-size: var(--fontsize-body-s);
  gap: var(--spacing-2-xs);
  line-height: var(--lineheight-l);

  &--color {
    height: 0.5rem;
    width: 1.25rem;
  }
}


