@import "../../styles/common.scss";

.stepperContainer {
  background-color: var(--hds-stepper-background-color);
  position: relative;

  --hds-stepper-color: var(--color-bus);
  --hds-stepper-background-color: var(--color-white);
  --hds-stepper-disabled-color: var(--color-black-20);
  --hds-selected-step-label-color: var(--color-black-90);
  --hds-not-selected-step-label-color: var(--color-bus);
  --hds-step-background-color: var(--color-white);
  --hds-step-content-color: var(--color-bus);
  --hds-stepper-focus-border-color: var(--color-coat-of-arms);
  --hds-step-width: 120px;
  --circle-container-size: 36px;
  --progress-line-height: 2px;
}

.stepper {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  overflow: scroll;

  // Hide horizontal scrollbar on overflow
  -ms-overflow-style: none;  /* IE and Edge */
  position: relative;
  scroll-behavior: smooth;
  scrollbar-width: none;  /* Firefox */
  width: 100%;

  &:focus {
    outline: var(--hds-stepper-focus-border-color) 3px solid;
  }
}

.stepper::-webkit-scrollbar {
  display: none; // Hide horizontal scrollbar on overflow
}

.stepper.small {
  --hds-step-width: 44px;
}

.stepContainer {
  background-color: var(--hds-stepper-background-color);
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  padding: 3px;
  width: var(--hds-step-width);
}

.label {
  color: var(--hds-not-selected-step-label-color);
  font-size: var(--fontsize-body-m);
  font-weight: 500;
  line-height: var(--lineheight-l);
  margin-bottom: 0;
  margin-top: 6px;
  padding-left: var(--spacing-4-xs);
  padding-right: var(--spacing-4-xs);
  text-decoration: underline;
}

.disabled .label {
  color: var(--hds-stepper-disabled-color);
  text-decoration: none;
}

.circle {
  align-items: center;
  background-color: var(--hds-step-background-color);
  border: 2px solid var(--hds-stepper-color);
  border-radius: 16px;
  color: var(--hds-step-content-color);
  display: flex;
  height: 28px;
  justify-content: center;
  outline: 2px solid var(--hds-stepper-background-color);
  text-align: center;
  width: 28px;
}

.disabled .circle {
  background-color: var(--hds-stepper-background-color);
  border: 2px solid var(--hds-stepper-disabled-color);
  color: var(--hds-stepper-disabled-color);
}

.selected .circle {
  border: 4px solid var(--hds-stepper-color);
  border-radius: 18px;
  outline: none;
}

.selected .label {
  color: var(--hds-selected-step-label-color);
  font-weight: bold;
  text-decoration: none;
}

.completedContainer {
  background-color: var(--hds-stepper-color);
  border-radius: 16px;
  outline: 2px solid var(--hds-stepper-background-color);
  padding: 4px;

  .completedIcon {
    color: var(--hds-step-background-color);
    vertical-align: middle;
  }
}

.step {
  @extend %normalizedInput;

  align-items: center;
  appearance: none;
  background: transparent;
  border: 0;
  color: var(--hds-stepper-color);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  outline: none;
  overflow: visible;
  padding: 0;
  position: relative;

  &:focus {
    .circle {
      outline: 2px solid var(--hds-stepper-focus-border-color);
    }

    .label {
      outline: 2px solid var(--hds-stepper-focus-border-color);
    }

    .completedContainer {
      outline: 2px solid var(--hds-stepper-focus-border-color);
    }
  }

  &:focus-visible {
    outline: none; // Revert firefox user agent focus styles
  }
}

.step.disabled {
  color: var(--hds-stepper-disabled-color);
  cursor: not-allowed;
}

.number {
  font-size: var(--fontsize-body-m);
  font-weight: 500;
  line-height: 1.15;
}

.circleContainer {
  align-items: center;
  display: flex;
  height: var(--circle-container-size);
  justify-content: center;
  width: var(--circle-container-size);
  z-index: 2;
}

.line {
  display: inline;
  height: var(--progress-line-height);
  left: calc(var(--hds-step-width) / 2.0);
  line-height: var(--lineheight-l);
  position: absolute;
  transform: translateY(calc((var(--circle-container-size) / 2) + (var(--progress-line-height) / 2)));
  z-index: 1;


  @mixin lineStep {
    display: inline-block;
    height: 100%;
    position: relative;
    top: -15px;
  }

  .disabledLine {
    @include lineStep;

    background-color: var(--hds-stepper-disabled-color);
  }

  .enabledLine {
    @include lineStep;

    background-color: var(--hds-stepper-color);
  }
}

.heading {
  composes: heading-l from 'hds-core/lib/utils/helpers.css';
  margin-top: 26px;
  width: fit-content;

  &:focus {
    border: none;
    outline: 3px solid var(--hds-stepper-focus-border-color);
  }
}

.scrollButton {
  background-color: var(--hds-stepper-background-color);
  color: var(--hds-stepper-color);
  position: absolute;
  top: 3px;
  z-index: 10;

  button {
    @extend %buttonReset;

    align-items: center;
    border: 2px solid transparent;
    border-radius: unset;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    overflow: hidden;
    width: 100%;

    &:focus {
      border: 2px solid var(--hds-stepper-focus-border-color);
      outline: none;
    }
  }
}

.scrollButton.scrollButtonPrevious {
  left: 0;
}

.scrollButton.scrollButtonNext {
  right: 0;
}

