@import "../sideNavigation.common";

.subLevel {
  @extend %level;

  font-size: var(--fontsize-body-s);

  & > a,
  & > button {
    min-height: var(--spacing-xl);
    padding-bottom: var(--spacing-3-xs);
    padding-left: calc(var(--side-navigation-level-inset) + var(--spacing-2-xs));
    padding-top: var(--spacing-3-xs);
  }
}

.active {
  @extend %activeLevel;
}
