@import url('../../utils/animations.css');

.hds-text-input {
  --border-width: 2px;
  --outline-width: 3px;
  --outline-offset-readonly: 4px;
  --input-height: 56px;
  --textarea-height: 149px;
  --icon-size: var(--spacing-m);
  --helper-background-color-invalid: var(--color-error-light);
  --helper-background-color-success: var(--color-success-light);
  --helper-background-color-info: var(--color-info-light);
  --helper-color-default: var(--color-black-60);
  --helper-color-invalid: var(--color-black);
  --helper-color-success: var(--color-black);
  --helper-color-info: var(--color-black);
  --helper-color-info-icon: var(--color-coat-of-arms);
  --icon-color-invalid: var(--color-error);
  --icon-color-info: var(--color-info);
  --icon-color-success: var(--color-success);
  --input-background-default: var(--color-white);
  --input-background-disabled: var(--color-black-10);
  --input-border-color-default: var(--color-black-50);
  --input-border-color-hover: var(--color-black-90);
  --input-border-color-focus: var(--color-black-90);
  --input-border-color-invalid: var(--color-error);
  --input-border-color-disabled: var(--color-black-10);
  --input-border-color-success: var(--color-success);
  --input-color-default: var(--color-black-90);
  --input-color-disabled: var(--color-black-40);
  --label-color-default: var(--color-black-90);
  --label-color-invalid: var(--color-black-90);
  --placeholder-color: var(--color-black-60);
}

.hds-text-input .hds-text-input__input {
  /* removes the input shadow on iOS */
  -webkit-appearance: none;
  background-color: var(--input-background-default);
  border: var(--border-width) solid var(--input-border-color-default);

  /* removes the border radius on iOS */
  border-radius: 0;
  box-sizing: border-box;
  color: var(--input-color-default);

  /*
  * Normalize.css rules
  * 1. Change the font styles in all browsers.
  */
  font-family: inherit; /* 1 */
  font-size: 1.125em;
  height: var(--input-height);
  line-height: normal;

  /*
  * Normalize.css rules
  * 2. Remove the margin in Firefox and Safari.
  */
  margin: 0; /* 2 */
  padding: 0 var(--spacing-s);
  width: 100%;
  will-change: transform, box-shadow;
}

.hds-text-input:not([data-hds-textinput-filled]) .hds-text-input__button-clear,
.hds-text-input__input-clear::-webkit-search-cancel-button {
  display: none;
}

.hds-text-input .hds-text-input__button-clear > * {
  pointer-events: none;
}

/* text-input transitions */
.hds-text-input .hds-text-input__input:hover {
  border-color: var(--input-border-color-hover);
  transition: border-color 85ms ease-out;
}

.hds-text-input__input-wrapper:focus-within .hds-text-input__input {
  border-color: var(--input-border-color-focus);
  outline: none;
}

.hds-text-input.hds-text-input--invalid .hds-text-input__input {
  border-color: var(--input-border-color-invalid);
}

.hds-text-input.hds-text-input--success .hds-text-input__input {
  border-color: var(--input-border-color-success);
}

.hds-text-input__input-wrapper:focus-within .hds-text-input__input:not([readonly]) {
  box-shadow: 0 0 0 var(--outline-width) var(--color-focus-outline);
  transform: translate3d(0, 0, 0);
  transition: 85ms ease-out;
  transition-property: box-shadow, transform;
}

.hds-text-input__label {
  color: var(--label-color-default);
  display: block;
  font-size: var(--fontsize-body-m);
  font-weight: 500;
  margin-bottom: var(--spacing-3-xs);
}

.hds-text-input--invalid .hds-text-input__label {
  color: var(--label-color-invalid);
  transition: color 85ms linear;
}

/* REQUIRED */

.hds-text-input__required {
  color: var(--color-black-90);
  display: inline-block;
  font-size: var(--fontsize-body-xl);
  line-height: 1;
  margin-left: var(--spacing-2-xs);
  transform: translateY(var(--spacing-3-xs));
}

/* INPUT */

.hds-text-input__input-wrapper {
  display: flex;
  position: relative;
}

.hds-text-input textarea.hds-text-input__input {
  /*
  * Normalize.css rules
  * 1. Change the font styles in all browsers.
  */
  font-family: inherit; /* 1 */
  height: var(--textarea-height);

  /*
  * Normalize.css rules
  * 2. Remove the margin in Firefox and Safari.
  */
  margin: 0; /* 2 */
  min-height: var(--input-height);

  /*
   * Normalize.css rule
   * 1. Remove the default vertical scrollbar in IE 10+.
   */
  overflow: auto; /* 1 */
  padding: var(--spacing-s);
  resize: vertical;
}

.hds-text-input .hds-text-input__input::-ms-reveal {
  display: none;
}

.hds-text-input .hds-text-input__input::placeholder {
  color: var(--placeholder-color);
  opacity: 1;
}

/* HELPER TEXT */

.hds-text-input__helper-text {
  color: var(--helper-color-default);
  display: block;
  font-size: var(--fontsize-body-m);
  line-height: var(--lineheight-l);
  margin-top: var(--spacing-3-xs);
  white-space: pre-line;
}

/* ERROR TEXT */
.hds-text-input__error-text {
  background-color: var(--helper-background-color-invalid);
  border-left: 8px solid var(--color-error);
  color: var(--helper-color-invalid);
  display: flex;
  font-size: var(--fontsize-body-m);
  line-height: var(--lineheight-l);
  margin-top: var(--spacing-2-xs);
  padding: var(--spacing-2-xs);
  white-space: pre-line;
}

.hds-text-input__error-text:not(:last-child) {
  margin-bottom: var(--spacing-2-xs);
}

.hds-text-input__error-text:before {
  animation: fadeIn 85ms ease-out;
  background: var(--color-error);
  content: '';
  display: inline-block;
  flex-shrink: 0;
  height: var(--icon-size);
  margin-right: var(--spacing-2-xs);
  -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.175 3.45608C11.5239 2.86969 12.3977 2.84875 12.7842 3.39325L12.825 3.45608L21.8771 18.6666C22.2202 19.2432 21.8055 19.951 21.1235 19.9976L21.052 20H2.94799C2.24813 20 1.7987 19.3114 2.09013 18.7267L2.12295 18.6666L11.175 3.45608ZM13 16V18H11V16H13ZM13 8.5V14.5H11V8.5H13Z' fill='currentColor'%3E%3C/path%3E %3C/svg%3E");
  mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.175 3.45608C11.5239 2.86969 12.3977 2.84875 12.7842 3.39325L12.825 3.45608L21.8771 18.6666C22.2202 19.2432 21.8055 19.951 21.1235 19.9976L21.052 20H2.94799C2.24813 20 1.7987 19.3114 2.09013 18.7267L2.12295 18.6666L11.175 3.45608ZM13 16V18H11V16H13ZM13 8.5V14.5H11V8.5H13Z' fill='currentColor'%3E%3C/path%3E %3C/svg%3E");
  pointer-events: none;
  width: var(--icon-size);
}

.hds-text-input__success-text {
  background-color: var(--helper-background-color-success);
  border-left: 8px solid var(--color-success);
  color: var(--helper-color-success);
  display: flex;
  font-size: var(--fontsize-body-m);
  line-height: var(--lineheight-l);
  margin-top: var(--spacing-2-xs);
  padding: var(--spacing-2-xs);
  position: relative;
  white-space: pre-wrap;
}

.hds-text-input__success-text:not(:last-child) {
  margin-bottom: var(--spacing-2-xs);
}

.hds-text-input__success-text:before {
  animation: fadeIn 85ms ease-out;
  background: var(--color-success);
  content: '';
  display: inline-block;
  flex-shrink: 0;
  height: var(--icon-size);
  margin-right: var(--spacing-2-xs);
  -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Crect width='24' height='24'/%3E %3Cpath fill='currentColor' d='M12,3 C7.02943725,3 3,7.02943725 3,12 C3,16.9705627 7.02943725,21 12,21 C16.9705627,21 21,16.9705627 21,12 C21,7.02943725 16.9705627,3 12,3 Z M16.5,8 L18,9.5 L10.5,17 L6,12.5 L7.5,11 L10.5,14 L16.5,8 Z'/%3E %3C/g%3E %3C/svg%3E");
  mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Crect width='24' height='24'/%3E %3Cpath fill='currentColor' d='M12,3 C7.02943725,3 3,7.02943725 3,12 C3,16.9705627 7.02943725,21 12,21 C16.9705627,21 21,16.9705627 21,12 C21,7.02943725 16.9705627,3 12,3 Z M16.5,8 L18,9.5 L10.5,17 L6,12.5 L7.5,11 L10.5,14 L16.5,8 Z'/%3E %3C/g%3E %3C/svg%3E");
  pointer-events: none;
  width: var(--icon-size);
}

/* INFO TEXT */
.hds-text-input__info-text {
  background-color: var(--helper-background-color-info);
  border-left: 8px solid var(--color-info);
  color: var(--helper-color-info);
  display: flex;
  font-size: var(--fontsize-body-m);
  line-height: var(--lineheight-l);
  margin-top: var(--spacing-2-xs);
  padding: var(--spacing-2-xs);
  position: relative;
}

.hds-text-input__info-text:not(:last-child) {
  margin-bottom: var(--spacing-2-xs);
}

.hds-text-input__info-text:before {
  animation: fadeIn 85ms ease-out;
  background: var(--color-info);
  content: '';
  display: inline-block;
  flex-shrink: 0;
  height: var(--icon-size);
  margin-right: var(--spacing-2-xs);
  -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Crect width='24' height='24'/%3E %3Cpath fill='currentColor' d='M12,3 C16.9705627,3 21,7.02943725 21,12 C21,16.9705627 16.9705627,21 12,21 C7.02943725,21 3,16.9705627 3,12 C3,7.02943725 7.02943725,3 12,3 Z M13,16 L13,18 L11,18 L11,16 L13,16 Z M13,6 L13,14 L11,14 L11,6 L13,6 Z'/%3E %3C/g%3E %3C/svg%3E");
  mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Crect width='24' height='24'/%3E %3Cpath fill='currentColor' d='M12,3 C16.9705627,3 21,7.02943725 21,12 C21,16.9705627 16.9705627,21 12,21 C7.02943725,21 3,16.9705627 3,12 C3,7.02943725 7.02943725,3 12,3 Z M13,16 L13,18 L11,18 L11,16 L13,16 Z M13,6 L13,14 L11,14 L11,6 L13,6 Z'/%3E %3C/g%3E %3C/svg%3E");
  pointer-events: none;
  width: var(--icon-size);
}

/* DISABLED */

.hds-text-input .hds-text-input__input[disabled] {
  background-color: var(--input-background-disabled);
  border-color: var(--input-border-color-disabled);
  color: var(--input-color-disabled);
  cursor: not-allowed;
}

/* READ-ONLY */

.hds-text-input .hds-text-input__input[readonly] {
  background-color: transparent;
  border: 0;
  color: var(--input-color-default);
  outline-offset: var(--outline-offset-readonly);
  padding: 0;
  
  /* fixes faded text color on Safari */
  -webkit-text-fill-color: var(--input-color-default);
  transform: translate3d(0, 0, 0);
  transition: 85ms ease-out;
  transition-property: outline, transform;
}

.hds-text-input__input-wrapper:focus-within input.hds-text-input__input[readonly] {
  /* the following calculation and margin is needed to keep the outline not to overlap
  the other content vertically and make it look nice */
  height: calc(var(--input-height) - 2 * var(--outline-offset-readonly));
  margin: var(--outline-offset-readonly) 0;
  outline: var(--color-focus-outline) solid var(--outline-width);
}

.hds-text-input__input-wrapper:focus-within textarea.hds-text-input__input[readonly] {
  outline: var(--color-focus-outline) solid var(--outline-width);
}

/* BUTTON */

.hds-text-input__buttons {
  align-items: center;
  bottom: 0;
  display: flex;
  font-size: 1rem;
  justify-content: center;
  margin-right: calc(var(--spacing-s) - var(--spacing-xs) / 2);
  position: absolute;
  right: 0;
  top: 0;
}

.hds-text-input__button {
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  font: inherit;
  outline: none;
  padding: var(--spacing-xs) calc(var(--spacing-xs) / 2);
}

.hds-text-input__button:focus {
  outline: var(--outline-width) solid var(--color-focus-outline);
}