@import "../../utils/animations.css";

@svg-load icon url(../../svg/ui/alert-circle.svg);

.hds-text-input {
  --border-radius: 2px;
  --border-width: 2px;
  --outline-width: 3px;
  --input-height: 56px;
  --textarea-height: 149px;
  --icon-size: var(--spacing-m);

  --helper-color-default: var(--color-black-60);
  --helper-color-invalid: var(--color-error);
  --icon-color-invalid: var(--color-error);
  --input-background-default: var(--color-white);
  --input-background-disabled: var(--color-black-10);
  --input-border-color-default: var(--color-black-50);
  --input-border-color-hover : var(--color-black-90);
  --input-border-color-focus: var(--color-black-90);
  --input-border-color-invalid: var(--color-error);
  --input-border-color-disabled: var(--color-black-10);
  --input-color-default: var(--color-black-90);
  --input-color-disabled: var(--color-black-40);
  --label-color-default: var(--color-black-90);
  --label-color-invalid: var(--color-black-90);
  --placeholder-color: var(--color-black-60);
  --focus-outline-color: var(--color-coat-of-arms-blue);
}

/* text-input transitions */
.hds-text-input .hds-text-input__input:hover {
  transition: border-color 85ms ease-out;
}

.hds-text-input .hds-text-input__input:not([readonly]):focus {
  transition: 85ms ease-out;
  transition-property: box-shadow, transform;
}

.hds-text-input--invalid .hds-text-input__label {
  transition: color 85ms linear;
}

/* LABEL */

.hds-text-input__label {
  color: var(--label-color-default);
  display: block;
  font-size: var(--fontsize-body-m);
  font-weight: 500;
  margin-bottom: var(--spacing-3-xs);
}

/* REQUIRED */

.hds-text-input__required {
  color: var(--color-black-90);
  display: inline-block;
  font-size: var(--fontsize-body-xl);
  line-height: 1;
  margin-left: var(--spacing-2-xs);
  transform: translateY(var(--spacing-3-xs));
}

/* INPUT */

.hds-text-input__input-wrapper {
  display: flex;
  height: 100%;
  position: relative;
}

.hds-text-input .hds-text-input__input {
  /* removes the input shadow on iOS */
  -webkit-appearance: none;
  background-color: var(--input-background-default);
  border: var(--border-width) solid var(--input-border-color-default);
  border-radius: var(--border-radius);
  box-sizing: border-box;
  color: var(--input-color-default);
  font-size: 1.125em;
  height: var(--input-height);
  line-height: normal;
  padding: 0 var(--spacing-s);
  width: 100%;
}

.hds-text-input textarea.hds-text-input__input {
  height: var(--textarea-height);
  min-height: var(--input-height);
  padding: var(--spacing-s);
  resize: vertical;
}

.hds-text-input .hds-text-input__input:hover {
  border-color: var(--input-border-color-hover);
}

.hds-text-input .hds-text-input__input:focus {
  border-color: var(--input-border-color-focus);
  outline: none;
}

.hds-text-input .hds-text-input__input::placeholder {
  color: var(--placeholder-color);
}

/* FOCUS OUTLINE */

.hds-text-input .hds-text-input__input:not([readonly]):focus {
  box-shadow: 0 0 0 var(--outline-width) var(--focus-outline-color);
  transform: translate3d(0, 0, 0);
}

/* HELPER TEXT */

.hds-text-input__helper-text {
  color: var(--helper-color-default);
  display: block;
  font-size: var(--fontsize-body-m);
  margin-top: var(--spacing-3-xs);
}

/* INVALID */

.hds-text-input--invalid .hds-text-input__label {
  color: var(--label-color-invalid);
}

.hds-text-input--invalid .hds-text-input__helper-text {
  color: var(--helper-color-invalid);
}

.hds-text-input.hds-text-input--invalid .hds-text-input__input {
  border-color: var(--input-border-color-invalid);
  padding-right: calc(var(--icon-size) + var(--spacing-l));
}

/* INVALID ICON */

.hds-text-input.hds-text-input--invalid .hds-text-input__input-wrapper::after {
  animation: fadeIn 85ms ease-out;
  background: var(--icon-color-invalid);
  content: '';
  height: var(--icon-size);
  mask-image: svg-inline(icon);
  -webkit-mask-image: svg-inline(icon);
  pointer-events: none;
  position: absolute;
  right: var(--border-width);
  top: 0;
  transform: translate(calc(var(--spacing-s) * -1), calc(var(--input-height) / 2 - 50%));
  width: var(--icon-size);
}

/* DISABLED */

.hds-text-input .hds-text-input__input[disabled] {
  background-color: var(--input-background-disabled);
  border-color: var(--input-border-color-disabled);
  color: var(--input-color-disabled);
  cursor: not-allowed;
}

/* READ-ONLY */

.hds-text-input .hds-text-input__input[readonly] {
  background-color: transparent;
  border: 0;
  color: var(--input-color-default);
  padding: 0;
  /* fixes faded text color on Safari */
  -webkit-text-fill-color: var(--input-color-default);
}
