.icon {
  composes: hds-icon from 'hds-core/lib/icons/icon.css';
  background-color: transparent;
}

.xs {
  composes: hds-icon--size-xs from 'hds-core/lib/icons/icon.css';
}

.s {
  composes: hds-icon--size-s from 'hds-core/lib/icons/icon.css';
}

.m {
  composes: hds-icon--size-m from 'hds-core/lib/icons/icon.css';
}

.l {
  composes: hds-icon--size-l from 'hds-core/lib/icons/icon.css';
}

.xl {
  composes: hds-icon--size-xl from 'hds-core/lib/icons/icon.css';
}
