@svg-load icon url("../../svg/ui/check.svg");
@svg-load minusicon url("../../svg/ui/minus.svg");
@svg-load erroricon url("../../svg/ui/alert-circle-fill.svg");

.hds-checkbox {
  --size: 24px;

  /* icon size relative to the checkbox size (--size) */
  --icon-scale: 1;
  --border-width: 2px;
  --outline-width: 3px;
  --label-font-size: var(--fontsize-body-m);
  --label-padding: var(--spacing-2-xs);
  --background-unselected: transparent;
  --background-selected: var(--color-bus);
  --background-hover: var(--color-bus-dark);
  --background-disabled: var(--color-black-10);
  --border-color-selected: var(--color-bus);
  --border-color-selected-hover: var(--color-bus-dark);
  --border-color-selected-focus: var(--color-bus);
  --border-color-unselected: var(--color-black-50);
  --border-color-unselected-hover: var(--color-black-90);
  --border-color-unselected-focus: var(--color-black-90);
  --border-color-disabled: var(--color-black-10);
  --icon-color-unselected: transparent;
  --icon-color-selected: var(--color-white);
  --icon-color-disabled: var(--color-white);
  --focus-outline-color: var(--color-coat-of-arms);
  --label-color: var(--color-black-90);
  --label-color-disabled: var(--color-black-40);
  --icon-size: var(--spacing-m);
  
  display: flex;
  flex-wrap: wrap;
  min-height: var(--size);
  position: relative;
}

.hds-checkbox,
.hds-checkbox *,
.hds-checkbox *:before,
.hds-checkbox *:after {
  box-sizing: border-box;
}

.hds-checkbox:not(:first-of-type) {
  margin-top: var(--spacing-2-xs);
}

.hds-checkbox .hds-checkbox__input:before,
.hds-checkbox .hds-checkbox__label:before,
.hds-checkbox .hds-checkbox__label:after {
  content: "";
  left: 0;
  position: absolute;
  top: 0;
}

/* checkbox icon */
.hds-checkbox .hds-checkbox__input:before {
  background-color: var(--icon-color-unselected);
  height: var(--size);
  mask-image: svg-inline(icon);
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: calc(var(--size) * var(--icon-scale));
  transform: scale(0.6);
  width: var(--size);
  z-index: 1;
}

/* background */
.hds-checkbox .hds-checkbox__label:after {
  background-color: var(--background-unselected);
  border: var(--border-width) solid var(--border-color-unselected);
  height: var(--size);
  width: var(--size);
}

/* checkbox transitions */
.hds-checkbox .hds-checkbox__input:hover:before,
.hds-checkbox .hds-checkbox__input:focus:before,
.hds-checkbox .hds-checkbox__input:hover + .hds-checkbox__label:after,
.hds-checkbox .hds-checkbox__input:focus + .hds-checkbox__label:after {
  transition: 85ms ease-out;
  transition-property: background-color, border-color, transform;
}

/* focus outline */
.hds-checkbox .hds-checkbox__label:before {
  height: var(--size);
  width: var(--size);
}

.hds-checkbox .hds-checkbox__input:focus + .hds-checkbox__label:before {
  box-shadow: 0 0 0 var(--outline-width) var(--focus-outline-color);
  transform: translate3d(0, 0, 0);
  transition: 85ms ease-out;
  transition-property: box-shadow, transform;
}

/* NATIVE INPUT */
.hds-checkbox .hds-checkbox__input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  height: var(--size);
  left: 0;
  outline: none;
  position: absolute;
  top: 0;
  width: var(--size);
}

/* LABEL */

.hds-checkbox .hds-checkbox__label {
  color: var(--label-color);
  cursor: pointer;
  font-size: var(--label-font-size);
  line-height: var(--lineheight-m);
  padding-left: calc(var(--size) + var(--label-padding));
  padding-top: calc((var(--size) - (var(--label-font-size) * var(--lineheight-m))) / 2);
  position: relative;
}

/* ERROR */
.hds-checkbox__error-text {
  color: var(--color-error);
  display: block;
  flex-basis: 100%;
  font-size: var(--fontsize-body-m);
  margin-top: var(--spacing-2-xs);
  padding-left: calc(var(--icon-size) + var(--spacing-2-xs));
  position: relative;
}

.hds-checkbox__error-texticon:before {
  background: var(--color-error);
  content: '';
  height: var(--icon-size);
  left: 0;
  mask-image: svg-inline(erroricon);
  pointer-events: none;
  position: absolute;
  top: 0;
  width: var(--icon-size);
}

/* CUSTOM CHECKBOX */

/* checkbox icon - selected */
.hds-checkbox .hds-checkbox__input:checked:before {
  background-color: var(--icon-color-selected);
  transform: scale(1);
}

/* checkbox icon - indeterminated */
.hds-checkbox .hds-checkbox__input:not(:checked):indeterminate:before {
  background-color: var(--icon-color-selected);
  mask-image: svg-inline(minusicon);
  transform: scale(1);
}

/* background - selected or indeterminated */
.hds-checkbox .hds-checkbox__input:checked + .hds-checkbox__label:after,
.hds-checkbox .hds-checkbox__input:indeterminate + .hds-checkbox__label:after {
  background-color: var(--background-selected);
  border-color: var(--border-color-selected);
}

/* background */
.hds-checkbox .hds-checkbox__input:disabled + .hds-checkbox__label:after {
  background-color: var(--background-disabled);
  border-color: var(--border-color-disabled);
}

/* background - unselected - focus */
.hds-checkbox .hds-checkbox__input:not(:disabled):focus + .hds-checkbox__label:after {
  border-color: var(--border-color-unselected-focus);
}

/* background - unselected - hover */
.hds-checkbox .hds-checkbox__input:not(:disabled):hover + .hds-checkbox__label:after,
.hds-checkbox .hds-checkbox__input:not(:disabled):hover:focus + .hds-checkbox__label:after {
  border-color: var(--border-color-unselected-hover);
}

/* background - selected - focus */
.hds-checkbox .hds-checkbox__input:not(:disabled):checked:focus + .hds-checkbox__label:after,
.hds-checkbox .hds-checkbox__input:not(:disabled):indeterminate:focus + .hds-checkbox__label:after {
  border-color: var(--border-color-selected-focus);
}

/* background - selected - hover */
.hds-checkbox .hds-checkbox__input:not(:disabled):checked:hover + .hds-checkbox__label:after,
.hds-checkbox .hds-checkbox__input:not(:disabled):indeterminate:hover + .hds-checkbox__label:after,
.hds-checkbox .hds-checkbox__input:not(:disabled):checked:hover:focus + .hds-checkbox__label:after,
.hds-checkbox .hds-checkbox__input:not(:disabled):indeterminate:hover:focus + .hds-checkbox__label:after {
  background-color: var(--background-hover);
  border-color: var(--border-color-selected-hover);
}

/* DISABLED */

/* label */
.hds-checkbox .hds-checkbox__input:disabled + .hds-checkbox__label {
  color: var(--label-color-disabled);
}

/* checkbox icon - disabled */
.hds-checkbox .hds-checkbox__input:checked:disabled:before {
  background-color: var(--icon-color-disabled);
}

.hds-checkbox .hds-checkbox__input:disabled,
.hds-checkbox .hds-checkbox__input:disabled + .hds-checkbox__label {
  cursor: not-allowed;
}