@use "../../../Header.module.scss";

button.button {
  background-color: var(--nav-button-background-color);
  border: none;
  box-sizing: content-box;
  color: var(--nav-drop-down-icon-color);
  display: block;
  height: 24px;
  margin: 0 0 0 var(--spacing-s);
  padding: 0;
  width: 24px;

  &.isNotLargeScreen {
    background: transparent;
    border-left: 1px solid var(--nav-button-background-color);
    box-sizing: border-box;
    flex: 0 0 var(--action-bar-dropdown-menu-caret-width);
    height: var(--action-bar-dropdown-menu-secondary-item-height);
    width: unset;

    &.depth-0 {
      height: var(--action-bar-dropdown-menu-primary-item-height);
    }
  }

  &:hover {
    background-color: var(--nav-button-hover-background-color);
    cursor: pointer;
  }

  &:focus-visible {
    outline: 3px solid var(--header-focus-outline-color);
    outline-offset: var(--header-focus-outline-width);
  }
}

.chevron {
  transition: transform 0.2s ease-in;
}

.chevronOpen {
  transform: rotate(180deg);
}

.hidden {
  display: none;
}

.dropdownMenu {
  background-color: var(--nav-link-dropdown-background-color);
  border: 1px solid var(--nav-border-color);
  display: flex;
  flex-direction: column;
  left: 0;
  list-style: none;
  min-width: 100%;
  padding: 0;
  position: absolute;
  top: 100%;
  z-index: calc(var(--header-z-index) + 1);

  .dropdownLink {
    font-size: var(--fontsize-body-m);
    margin: var(--spacing-xs) var(--spacing-m) var(--spacing-xs) var(--header-margin);
    padding: 0;

    &:focus {
      border: 0;
    }

    &:focus-visible {
      outline: 3px solid var(--header-focus-outline-color);
      outline-offset: var(--header-focus-outline-width);
    }

    &:before {
      bottom: 0;
      content: '';
      height: 100%;
      left: 0;
      margin: 0;
      position: absolute;
      width: 0;
    }

    &:hover:before {
      border-left: 4px solid var(--color-black);
      transition: border-left 100ms ease-in;
    }
  }

  .activeLink:before {
    border-left: 4px solid var(--color-black);
    padding-left: var(--spacing-xs);
  }

  .button {
    margin: 0 var(--spacing-xs) 0 var(--spacing-s);
  }
}

.left {
  left: auto;
  right: calc(100%);
  top: -1px;
}

.right {
  left: calc(100%);
  right: auto;
  top: -1px;
}
