.label {
  composes: hds-text-input__label from 'hds-core/lib/components/text-input/text-input.css';
}

.hidden {
  composes: hiddenFromScreen from 'hds-core/lib/utils/helpers.css';
}

.tooltipButton {
  position: absolute;
  top: 0;
  right: 0;
}
