@use '../../../../styles/common.scss';

.actionBarSubItem,
.actionBarSubItem > a,
.actionBarSubItem > div {
  margin: 0px;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--color-header);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  width: 100%;
  padding: 12px 16px;

  &:focus-visible {
    border: none;
    outline: var(--header-focus-outline-width) solid var(--header-focus-outline-color);
    outline-offset: calc(-1 * var(--header-focus-outline-width));
  }
}

.actionBarSubItem {
  &.bold {
   font-weight: bold;
  }
}

a.actionBarSubItem,
.actionBarSubItem a {
  &:hover {
    text-decoration: underline;
  }
}

h4.actionBarSubItem {
  border-top: 1px solid var(--color-black-20);
  padding: 0px;
}

:first-child.actionBarSubItem {
  border-top: 0px solid black;
}

:last-child.actionBarSubItem {
  border-bottom: 0px solid black;
}

.actionBarSubItemLabel {
  position: relative;
}

.actionBarSubItemIcon {
  position: relative;
  line-height: 24px;
  height: 24px;
}

.grow {
  flex-grow: 1;
}
.notificationCount {
  right: 0px;
  text-align: center;
  background: var(--color-error);
  color: white;
  padding: 0px 6px;
  border-radius: 12px;
  display: inline-block;
  box-sizing: border-box;
  min-width: 24px;
  line-height: 24px;
  font-size: 14px;
}