@import 'spacings';
@import 'colours';

.checkbox {
  $checkbox-dimension: units(1);

  box-sizing: content-box;
  display: inline-block;
  width: $checkbox-dimension;
  height: $checkbox-dimension;
  border: solid $gray-200 2px;
  vertical-align: top;
  cursor: pointer;
  fill: $white;
}

.input {
  display: none;
}

.checked {
  border-color: $blue-500;
  background-color: $blue-500;
}

.disabled {
  cursor: not-allowed;
}
