/* stylelint-disable scss/function-no-unknown */
/* stylelint-disable scss/dollar-variable-pattern */
@use "sass:map";
@use "sass:list";
@use './helpers.scss' as helpers;

/// GLOBALS

$MULTI_SASS_CONTROLLER: null;
$HAS_EXPLICIT_TRUE: 'HAS_EXPLICIT_TRUE';
$ALL_ALLOWED: 'ALL_ALLOWED';
$ALL_DISALLOWED: 'ALL_DISALLOWED';
$ALLOW_BASE_CONTENT: 'ALLOW_BASE_CONTENT';
$BASE_CONTENT_NAME: 'base';
$ALIAS_MAP_KEY: 'alias';
$USE_PARENT_ALIAS_VALUE: '&';
$ELEMENT-DELIMETER: '__';
$MODIFIER-DELIMETER: '--';
$BLOCK-PREFIX: 'hds-';

@function store-multi-sass-controller($ruleMap, $levels, $config) {
  $MULTI_SASS_CONTROLLER: (
    'rules': $ruleMap,
    'levels': $levels,
    'config': $config,
  ) !global;

  @return $MULTI_SASS_CONTROLLER;
}

@function update-multi-sass-rules($ruleMap) {
  $MULTI_SASS_CONTROLLER: map.set($MULTI_SASS_CONTROLLER, 'rules', $ruleMap) !global;

  @return $MULTI_SASS_CONTROLLER;
}

@function add-multi-sass-level($level) {
  $current: get-multi-sass-levels();
  $updated: list.append($current, $level);
  $void: update-multi-sass-levels($updated);

  @return $updated;
}

@function update-multi-sass-levels($levels) {
  $MULTI_SASS_CONTROLLER: map.set($MULTI_SASS_CONTROLLER, 'levels', $levels) !global;

  @return $MULTI_SASS_CONTROLLER;
}

@function remove-current-multi-sass-level() {
  $levels: get-multi-sass-levels();
  $newList: helpers.pop-list($levels);

  @return update-multi-sass-levels($newList);
}

@function get-multi-sass-controller() {
  @return $MULTI_SASS_CONTROLLER;
}

@function get-multi-sass-levels() {
  @return map.get($MULTI_SASS_CONTROLLER, 'levels');
}

@function set-multi-sass-levels($levels) {
  @return map.set($MULTI_SASS_CONTROLLER, 'levels', $levels);
}

@function replace-multi-sass-level($replacee, $index) {
  $newLevels: helpers.replace-list-item(get-multi-sass-levels(), $replacee, $index);

  @return $newLevels;
}

@function get-multi-sass-rules() {
  @return map.get($MULTI_SASS_CONTROLLER, 'rules');
}

@function get-multi-sass-config() {
  @return map.get($MULTI_SASS_CONTROLLER, 'config');
}

@function is-base-name($name) {
  @return $name == $BASE_CONTENT_NAME;
}

@function get-config-value($value, $config: null) {
  $config: $config or get-multi-sass-config();

  @return map.get($config, $value);
}

@function get-block-prefix($config: null) {
  @return get-config-value('blockPrefix', $config);
}

@function get-block-name($config: null) {
  @return get-config-value('blockName', $config);
}

@function get-root-selector($config: null) {
  @return get-config-value('rootSelector', $config);
}

@function get-modifier-delimeter($config: null) {
  @return get-config-value('modifierDelimeter', $config);
}

@function get-element-delimeter($config: null) {
  @return get-config-value('elementDelimeter', $config);
}

@function get-alias($config: null) {
  @return get-config-value('alias', $config);
}

@function get-alias-value($entityName, $config: null) {
  $alias: get-alias($config);

  @return helpers.get-map-value-if-map($alias, $entityName);
}

@function get-block-selector-creator($config: null) {
  @return get-config-value('createBlockSelector', $config);
}

@function get-modifier-selector-creator($config: null) {
  @return get-config-value('createModifierSelector', $config);
}

@function get-element-selector-creator($config: null) {
  @return get-config-value('createElementSelector', $config);
}
