/* stylelint-disable scss/function-no-unknown */
/* stylelint-disable scss/dollar-variable-pattern */
@use "sass:map";
@use "sass:list";
@use './helpers.scss' as helpers;

/// GLOBALS

$GLOBAL_BEM_OBJECT: null;
$HAS_EXPLICIT_TRUE: 'HAS_EXPLICIT_TRUE';
$ALL_ALLOWED: 'ALL_ALLOWED';
$ALL_DISALLOWED: 'ALL_DISALLOWED';
$ALLOW_BASE_CONTENT: 'ALLOW_BASE_CONTENT';
$BASE_CONTENT_NAME: 'base';
$ALIAS_MAP_KEY: 'alias';
$USE_PARENT_ALIAS_VALUE: '&';
$ELEMENT-DELIMETER: '__';
$MODIFIER-DELIMETER: '--';
$BLOCK-PREFIX: 'hds-';

@function init-global-bem($ruleMap, $levels, $config) {
  $GLOBAL_BEM_OBJECT: (
    'rules': $ruleMap,
    'levels': $levels,
    'config': $config,
  ) !global;

  @return $GLOBAL_BEM_OBJECT;
}

@function update-global-bem-rules($ruleMap) {
  $GLOBAL_BEM_OBJECT: map.set($GLOBAL_BEM_OBJECT, 'rules', $ruleMap) !global;

  @return $GLOBAL_BEM_OBJECT;
}

@function add-global-bem-level($level) {
  $current: get-global-bem-levels();
  $updated: list.append($current, $level);
  $void: update-global-bem-levels($updated);

  @return $updated;
}

@function update-global-bem-levels($levels) {
  $GLOBAL_BEM_OBJECT: map.set($GLOBAL_BEM_OBJECT, 'levels', $levels) !global;

  @return $GLOBAL_BEM_OBJECT;
}

@function remove-current-global-bem-level() {
  $levels: get-global-bem-levels();
  $newList: helpers.pop-list($levels);

  @return update-global-bem-levels($newList);
}

@function get-global-bem($levels) {
  @return $GLOBAL_BEM_OBJECT;
}

@function get-global-bem-levels() {
  @return map.get($GLOBAL_BEM_OBJECT, 'levels');
}

@function set-global-bem-levels($levels) {
  @return map.set($GLOBAL_BEM_OBJECT, 'levels', $levels);
}

@function replace-global-bem-level($replacee, $index) {
  $newLevels: helpers.replace-list-item(get-global-bem-levels(), $replacee, $index);

  @return $newLevels;
}

@function get-global-bem-rules() {
  @return map.get($GLOBAL_BEM_OBJECT, 'rules');
}

@function get-global-bem-config() {
  @return map.get($GLOBAL_BEM_OBJECT, 'config');
}

@function is-base-name($name) {
  @return $name == $BASE_CONTENT_NAME;
}

@function get-config-value($value, $config: null) {
  $config: $config or get-global-bem-config();

  @return map.get($config, $value);
}

@function get-block-prefix($config: null) {
  @return get-config-value('blockPrefix', $config);
}

@function get-block-name($config: null) {
  @return get-config-value('blockName', $config);
}

@function get-root-selector($config: null) {
  @return get-config-value('rootSelector', $config);
}

@function get-modifier-delimeter($config: null) {
  @return get-config-value('modifierDelimeter', $config);
}

@function get-element-delimeter($config: null) {
  @return get-config-value('elementDelimeter', $config);
}

@function get-alias($config: null) {
  @return get-config-value('alias', $config);
}

@function get-alias-value($entityName, $config: null) {
  $alias: get-alias($config);

  @return helpers.get-map-value-if-map($alias, $entityName);
}
