@use './levels.scss' as levels;

@mixin emit($level) {
  $contentOnly: levels.is-level-content-only($level);
  $isAllowed: levels.is-level-allowed($level);
  $selector: levels.get-level-selector($level);
  $shouldEmitNested: levels.should-level-emit-nested($level);

  @if $contentOnly {
    @content;
  } @else if $isAllowed {
    @if $shouldEmitNested {
      #{$selector} {
        @content;
      }
    } @else {
      &#{$selector} {
        @content;
      }
    }
  }
}
