/* stylelint-disable scss/function-no-unknown */
@use "sass:map";
@use "sass:meta";
@use "sass:selector";
@use './globals.scss' as globals;

@function create-block-selector($type, $name, $config) {
  $blockPrefix: globals.get-block-prefix($config);

  @return '.#{$blockPrefix}#{$name}';
}

@function create-modifier-selector($type, $name, $config) {
  $modifierDelimeter: globals.get-modifier-delimeter($config);

  @return '#{$modifierDelimeter}#{$name}';
}

@function create-element-selector($type, $name, $config) {
  $elementDelimeter: globals.get-element-delimeter($config);

  @return '#{$elementDelimeter}#{$name}';
}

@function create-selector($initial, $type, $name, $config) {
  $selector: '';
  $prefix: null;

  @if $type == 'custom' {
    @return '#{$selector}#{$name}';
  }

  @if $type == 'block' {
    $creatorFn: globals.get-block-selector-creator($config);

    @if $creatorFn {
      @return meta.call($creatorFn, $type, $name, $config);
    }

    @return create-block-selector($type, $name, $config);
  }

  @if $type == 'modifier' {
    $creatorFn: globals.get-modifier-selector-creator($config);

    @if $creatorFn {
      @return meta.call($creatorFn, $type, $name, $config);
    }

    @return create-modifier-selector($type, $name, $config);
  }

  @if $type == 'element' {
    $creatorFn: globals.get-element-selector-creator($config);

    @if $creatorFn {
      @return meta.call($creatorFn, $type, $name, $config);
    }

    @return create-element-selector($type, $name, $config);
  }

  /* stylelint-disable-next-line scss/at-if-no-null */
  @if $prefix != null {
    $selector: '#{$prefix}#{$name}';
  }

  @return $selector;
}

@function create-selector-with-alias($initial, $type, $alias) {
  $selector: '';
  $prefix: '';

  @if $type == 'custom' {
    @error "Custom entities cannot have an alias";
    @return $selector;
  }

  @if $type == 'block' {
    $prefix: '.';
  }

  @if $type == 'modifier' {
    $prefix: '.';
  }

  @if $type == 'element' {
    $prefix: ' .';
  }

  @return '#{$selector}#{$prefix}#{$alias}';
}
