@svg-load icon url("../../svg/ui/sort.svg");

.hds-icon--sort {
  -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Crect width='24' height='24'/%3E %3Cpath fill='currentColor' d='M15,14.5 L16.5,16 L12,20.5 L7.5,16 L9,14.5 L12,17.5 L15,14.5 Z M12,3.5 L16.5,8 L15,9.5 L12,6.5 L9,9.5 L7.5,8 L12,3.5 Z'/%3E %3C/g%3E %3C/svg%3E");
  mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Crect width='24' height='24'/%3E %3Cpath fill='currentColor' d='M15,14.5 L16.5,16 L12,20.5 L7.5,16 L9,14.5 L12,17.5 L15,14.5 Z M12,3.5 L16.5,8 L15,9.5 L12,6.5 L9,9.5 L7.5,8 L12,3.5 Z'/%3E %3C/g%3E %3C/svg%3E");
}
