.hds-hero {
  --background-color: var(--color-white);
  --color: var(--color-black-90);
  --image-position: bottom right;
  --koros-color: var(--color-white);
  --koros-height: 85px;
  --diagonal-koros-position: 45%;
  --horizontal-padding-small: var(--spacing-layout-2-xs);
  --horizontal-padding-medium: var(--spacing-layout-xs);
  --horizontal-padding-large: var(--spacing-layout-xs);
  --horizontal-padding-x-large: var(--spacing-layout-xs);
  --padding-horizontal: var(--horizontal-padding-small);
  --padding-vertical: var(--spacing-xl);

  background-color: var(--background-color);
  color: var(--color);
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.hds-hero__title {
  font-size: var(--fontsize-heading-xl);
  font-weight: normal;
  letter-spacing: -1px;
  line-height: 1em;
  margin-top: 0;
}

.hds-hero__text {
  font-size: var(--fontsize-body-l);
}

.hds-hero__container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--container-width-xl);
}

.hds-hero__content {
  display: flex;
  padding: var(--padding-vertical) var(--padding-horizontal);
}

.hds-hero__content--single-column,
.hds-hero__content--two-columns {
  display: flex;
  flex-direction: column;
}

.hds-hero__content--two-columns {
  align-items: center;
}

.hds-hero__content--two-columns__image-container {
  display: none;
}

.hds-hero__card {
  display: block;
  max-width: var(--container-width-xl);
}

.hds-hero__koros-container,
.hds-hero__koros-container--overflow-bottom,
.hds-hero__koros-container--inward-koros {
  height: var(--koros-height);
  inset: 0;
  overflow: hidden;
  position: absolute;
  z-index: 1;
}

.hds-hero__koros-container--inward-koros {
  position: relative;
}

.hds-hero__koros-container--overflow-bottom {
  bottom: calc(-1 * var(--koros-height));
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  top: auto;
}

.hds-hero__koros-container > div {
  bottom: 0;
  height: 100%;
  position: absolute;
  width: 100%;
}

.hds-hero__card--centered-content {
  text-align: center;
  width: 100%;
}

.hds-hero__image {
  display: block;
  width: 100%;
}

.hds-hero__koros-and-image-container {
  display: block;
  position: relative;
}

.hds-hero__image-below-koros {
  display: block;
}

.hds-hero__image-below-koros .hds-hero__image {
  height: 100%;
  object-fit: cover;
  object-position: var(--image-position);
}

.hds-hero--with-background__container {
  position: relative;
}

.hds-hero--with-background__background {
  position: relative;
  width: 100%;
}

.hds-hero--with-background__background .hds-hero__image {
  height: 100%;
  object-fit: cover;
  object-position: var(--image-position);
}

.hds-hero--with-background__content-columns {
  display: flex;
  margin: 0 auto;
  max-width: var(--container-width-xl);
}

.hds-hero--with-background__empty-column {
  display: none;
}

.hds-hero--background-image .hds-hero__content {
  padding: 0;
}

.hds-hero--background-image .hds-hero__card {
  background-color: var(--background-color);
  padding: var(--padding-vertical) var(--padding-horizontal);
}

.hds-hero--background-image__koros {
  bottom: 0;
  height: var(--koros-height);
  overflow: hidden;
  position: absolute;
  width: 100%;

  --koros-color: var(--top-koros-color);
}

.hds-hero--diagonal-koros .hds-hero--with-background__container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.hds-hero--diagonal-koros .hds-hero__content {
  box-sizing: border-box;
  display: block;
  padding: 0;
  width: 100%;
  z-index: 2;
}

.hds-hero--diagonal-koros .hds-hero__card {
  background-color: var(--background-color);
  padding: var(--padding-vertical) var(--padding-horizontal);
}

.hds-hero--diagonal-koros__koros-and-background {
  height: var(--koros-height);
  position: absolute;
  transform: rotate(180deg);
  width: 100%;
}

.hds-hero--diagonal-koros__koros-aligner {
  position: relative;
  z-index: 1;
}

.hds-hero--diagonal-koros__koros-and-background .hds-hero__koros-container {
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

.hds-hero--with-background__background,
.hds-hero__image-below-koros {
  height: 300px;
}

@media only screen and (min-width: 768px) {
  .hds-hero {
    --padding-horizontal: var(--horizontal-padding-medium);
    --padding-vertical: var(--spacing-layout-m);
  }

  .hds-hero--with-background__background,
  .hds-hero__image-below-koros {
    height: 400px;
  }
}

@media only screen and (min-width: 992px) {
  .hds-hero {
    --padding-horizontal: var(--horizontal-padding-large);
    --padding-vertical: var(--spacing-layout-xl);
  }

  .hds-hero__text {
    font-size: var(--fontsize-body-xl);
  }

  .hds-hero--image-left .hds-hero__image-below-koros,
  .hds-hero--image-right .hds-hero__image-below-koros {
    display: none;
  }

  .hds-hero__content--two-columns {
    flex-direction: row;
  }

  .hds-hero__content--two-columns > * {
    width: 50%;
  }

  .hds-hero__content--two-columns > *:first-child {
    margin-right: var(--spacing-xl);
  }

  .hds-hero__content--two-columns > *:last-child {
    margin-left: var(--spacing-xl);
  }

  .hds-hero__content--two-columns__image-container {
    display: block;
  }

  .hds-hero--background-image .hds-hero--with-background__container {
    padding: var(--padding-vertical) var(--padding-horizontal);
  }

  .hds-hero--background-image .hds-hero__content {
    --padding-vertical: var(--spacing-2-xl);

    display: flex;
    flex-direction: row;
    margin: 0 auto;
    max-width: var(--container-width-xl);
  }

  .hds-hero--background-image .hds-hero__card {
    width: 50%;
  }

  .hds-hero--with-background__background {
    height: auto;
    inset: 0;
    position: absolute;
    width: auto;
    z-index: -1;
  }

  .hds-hero--with-background__empty-column {
    display: block;
    width: 45%;
  }

  .hds-hero--diagonal-koros .hds-hero__content {
    background-color: transparent;
    padding: var(--padding-vertical) 0;
  }

  .hds-hero--diagonal-koros .hds-hero__card {
    background: none;
    padding: 0 var(--padding-horizontal);
    width: 55%;
  }

  .hds-hero--diagonal-koros__koros-aligner {
    bottom: 0;
    max-width: var(--container-width-xl);
    position: absolute;
    right: var(--diagonal-koros-position);
    top: 0;
    width: 100%;
    z-index: 1;
  }

  .hds-hero--diagonal-koros__koros-and-background {
    display: block;
    height: 100%;
    inset: 0;
    overflow: visible;
    position: absolute;
    transform: rotate(135deg);
    transform-origin: center;
    width: 150%;
  }

  .hds-hero--diagonal-koros__koros-and-background:after {
    background-color: var(--koros-color);
    content: '';
    display: block;
    height: 1500px;
    left: 0;
    position: absolute;
    top: 50px;
    width: 150%;
  }

  .hds-hero--diagonal-koros__koros-and-background .hds-hero__koros-container {
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  .hds-hero--background-image__koros {
    --koros-color: var(--bottom-koros-color);
  }
}

@media only screen and (min-width: 1248px) {
  .hds-hero {
    --padding-horizontal: var(--horizontal-padding-x-large);
  }

  .hds-hero__title {
    font-size: var(--fontsize-heading-xxl);
    letter-spacing: -1.2px;
  }

  .hds-hero--diagonal-koros .hds-hero__text {
    padding-right: var(--spacing-l);
  }

  .hds-hero__content--two-columns > *:first-child {
    margin-right: var(--spacing-2-xl);
  }

  .hds-hero__content--two-columns > *:last-child {
    margin-left: var(--spacing-2-xl);
  }
}
