.hds-hero {
  --background-color: var(--color-white);
  --color: var(--color-black-90);
  --image-position: bottom right;
  --koros-color: var(--color-white);
  --diagonal-koros-inset: auto auto 10% -33%;
  --horizontal-padding-small: var(--spacing-layout-2-xs);
  --horizontal-padding-medium: var(--spacing-layout-xs);
  --horizontal-padding-large: var(--spacing-layout-xs);
  --horizontal-padding-x-large: var(--spacing-layout-xs);
  --padding-horizontal: var(--horizontal-padding-small);
  --padding-vertical: var(--spacing-xl);
  color: var(--color);
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  background-color: var(--background-color);
}
.hds-hero h1 {
  font-size: var(--fontsize-heading-xl);
  letter-spacing: -1px;
  font-weight: normal;
  line-height: 1em;
  margin-top: 0;
}
.hds-hero p {
  font-size: var(--fontsize-body-l);
}
.hds-hero__container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--container-width-xl);
}
.hds-hero__content {
  display: flex;
  padding: var(--padding-vertical) var(--padding-horizontal);
}
.hds-hero__content--single-column,
.hds-hero__content--two-columns {
  display: flex;
  flex-direction: column;
}
.hds-hero__content--two-columns {
  align-items: center;
}
.hds-hero__content--two-columns__image-container {
  display: none;
}
.hds-hero__card {
  display: block;
  max-width: var(--container-width-xl);
}
.hds-hero__card--centered-content {
  width: 100%;
  text-align: center;
}
.hds-hero__image {
  display: block;
  width: 100%;
}
.hds-hero__image-below-koros {
  display: block;
}
.hds-hero__image-below-koros .hds-hero__image {
  object-fit: cover;
  height: 100%;
  object-position: var(--image-position);
}
.hds-hero--with-background__container {
  position: relative;
}
.hds-hero--with-background__background {
  width: 100%;
}
.hds-hero--with-background__background .hds-hero__image {
  object-fit: cover;
  height: 100%;
  object-position: var(--image-position);
}

.hds-hero--with-background__contentColumns {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

.hds-hero--with-background__empty-column {
  display: none;
}

.hds-hero--background-image .hds-hero__content {
  padding: 0;
}

.hds-hero--background-image .hds-hero__card {
  background-color: var(--background-color);
  padding: var(--padding-vertical) var(--padding-horizontal);
}
.hds-hero--background-image__top-koros {
  display: block;
}
.hds-hero--background-image-bottom-koros {
  display: none;
}

.hds-hero--diagonal-koros .hds-hero--with-background__container {
  display: flex;
  position: relative;
  overflow: hidden;
  z-index: 1;
  flex-direction: column;
}
.hds-hero--diagonal-koros .hds-hero__content {
  display: block;
  z-index: 2;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
}
.hds-hero--diagonal-koros .hds-hero__card {
  background-color: var(--background-color);
  padding: var(--padding-vertical) var(--padding-horizontal);
}
.hds-hero--diagonal-koros .hds-hero--diagonal-koros__koros-and-background {
  transform: scaleY(-1);
  overflow: hidden;
}

.hds-hero--with-background__background,
.hds-hero__image-below-koros {
  height: 300px;
}
@media only screen and (min-width: 768px) {
  .hds-hero {
    --padding-horizontal: var(--horizontal-padding-medium);
    --padding-vertical: var(--spacing-layout-m);
  }
  .hds-hero--with-background__background,
  .hds-hero__image-below-koros {
    height: 400px;
  }
}
@media only screen and (min-width: 992px) {
  .hds-hero {
    --padding-horizontal: var(--horizontal-padding-large);
    --padding-vertical: var(--spacing-layout-xl);
  }
  .hds-hero p {
    font-size: var(--fontsize-body-xl);
  }
  .hds-hero--image-left .hds-hero__image-below-koros,
  .hds-hero--image-right .hds-hero__image-below-koros {
    display: none;
  }
  .hds-hero__content--two-columns {
    flex-direction: row;
  }
  .hds-hero__content--two-columns > * {
    width: 50%;
  }
  .hds-hero__content--two-columns > *:first-child {
    margin-right: var(--spacing-xl);
  }
  .hds-hero__content--two-columns > *:last-child {
    margin-left: var(--spacing-xl);
  }
  .hds-hero__content--two-columns__image-container {
    display: block;
  }
  .hds-hero--background-image .hds-hero--with-background__container {
    padding: var(--padding-vertical) var(--padding-horizontal);
  }

  .hds-hero--background-image .hds-hero__content {
    --padding-vertical: var(--spacing-2-xl);
    display: flex;
    flex-direction: row;
    max-width: var(--container-width-xl);
    margin: 0 auto;
  }
  .hds-hero--background-image .hds-hero__card {
    width: 50%;
  }
  .hds-hero--background-image__top-koros {
    display: none;
  }
  .hds-hero--background-image__bottom-koros {
    display: block;
  }
  .hds-hero--with-background__background {
    position: absolute;
    z-index: -1;
    inset: 0;
    height: auto;
    width: auto;
  }

  .hds-hero--with-background__empty-column {
    display: block;
    width: 45%;
  }
  .hds-hero--diagonal-koros .hds-hero__content {
    background-color: transparent;
    padding: var(--padding-vertical) 0;
  }
  .hds-hero--diagonal-koros .hds-hero__card {
    padding: 0 var(--padding-horizontal);
    background: none;
    width: 55%;
  }

  .hds-hero--diagonal-koros .hds-hero--diagonal-koros__koros-and-background {
    transform: rotate(135deg);
    transform-origin: center;
    width: 150%;
    display: block;
    position: absolute;
    z-index: 1;
    height: 100%;
    inset: var(--diagonal-koros-inset);
    overflow: visible;
  }
  .hds-hero--diagonal-koros__koros-and-background:after {
    content: '';
    background-color: var(--koros-color);
    display: block;
    width: 100%;
    height: 200%;
    left: 0;
    position: absolute;
    top: 50px;
  }
}
@media only screen and (min-width: 1248px) {
  .hds-hero {
    --padding-horizontal: var(--horizontal-padding-x-large);
  }
  .hds-hero h1 {
    font-size: var(--fontsize-heading-xxl);
    letter-spacing: -1.2px;
  }
  .hds-hero--diagonal-koros .hds-hero__content p {
    padding-right: var(--spacing-l);
  }
  .hds-hero__content--two-columns > *:first-child {
    margin-right: var(--spacing-2-xl);
  }
  .hds-hero__content--two-columns > *:last-child {
    margin-left: var(--spacing-2-xl);
  }
}
