.hiddenFromScreen {
  border: 0;
  clip: "rect(0 0 0 0)";
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  max-height: 1px;
  max-width: 1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.button-reset {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  padding: 0;
}

.text-body {
  color: var(--color-black-90);
  font-family: var(--font-default);
  font-size: var(--fontsize-body-m);
  line-height: var(--lineheight-l);
}

.text-medium {
  font-family: var(--font-default);
  font-weight: 500;
}

.text-bold {
  font-family: var(--font-default);
  font-weight: bold;
}

.text-xl {
  font-size: var(--fontsize-heading-m);
}

.text-lg {
  font-size: var(--fontsize-heading-s);
}

.text-md {
  font-size: var(--fontsize-heading-xs);
}

.subtitle {
  font-size: var(--fontsize-body-m);
}

.text-sm {
  font-size: var(--fontsize-body-s);
  line-height: var(--lineheight-xl);
}

/* HEADINGS */

.heading-xxl {
  font-size: var(--fontsize-heading-xxl);
  font-weight: 400;
  letter-spacing: -1.2px;
  line-height: var(--lineheight-s);
}

.heading-xl {
  font-size: var(--fontsize-heading-xl);
  font-weight: 400;
  letter-spacing: -1.0px;
  line-height: var(--lineheight-s);
}

.heading-xl-mobile {
  font-size: var(--fontsize-heading-xl-mobile);
  font-weight: 400;
  letter-spacing: -0.8px;
  line-height: var(--lineheight-s);
}

.heading-l {
  font-size: var(--fontsize-heading-l);
  font-weight: 400;
  letter-spacing: -0.4px;
  line-height: var(--lineheight-s);
}

.heading-m {
  font-size: var(--fontsize-heading-m);
  font-weight: 500;
  letter-spacing: -0.2px;
  line-height: 32px;
}

.heading-s {
  font-size: var(--fontsize-heading-s);
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 1.4;
}

.heading-xs {
  font-size: var(--fontsize-heading-xs);
  font-weight: 700;
  letter-spacing: 0.4px;
  line-height: 1.33;
}

.heading-xxs {
  font-size: var(--fontsize-heading-xxs);
  font-weight: 700;
  letter-spacing: 0.4px;
  line-height: var(--lineheight-l);
}

.helper-text {
  color: var(--color-black-60);
  display: block;
  flex-basis: 100%;
  font-size: var(--fontsize-body-m);
  margin-top: var(--spacing-2-xs);
}
