.hiddenFromScreen {
  border: 0;
  clip: "rect(0 0 0 0)";
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  position: absolute;
}

.button-reset {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  padding: 0;
}

.text-body {
  font-family: var(--font-default);
  font-size: var(--fontsize-body-m);
  color: var(--color-black-90);
  line-height: var(--lineheight-l);
}

.text-medium {
  font-family: var(--font-default);
  font-weight: 500;
}

.text-bold {
  font-family: var(--font-default);
  font-weight: bold;
}

.text-xl {
  font-size: var(--fontsize-heading-m);
}

.text-lg {
  font-size: var(--fontsize-heading-s);
}

.text-md {
  font-size: var(--fontsize-heading-xs);
}

.subtitle {
  font-size: var(--fontsize-body-m);
}

.text-sm {
  font-size: var(--fontsize-body-s);
  line-height: var(--lineheight-xl);
}

/* HEADINGS */

.heading-xxl {
  font-size: var(--fontsize-heading-xxl);
  font-weight: 400;
  line-height: var(--lineheight-s);
  letter-spacing: -1.2px;
}

.heading-xl {
  font-size: var(--fontsize-heading-xl);
  font-weight: 400;
  line-height: var(--lineheight-s);
  letter-spacing: -1.0px;
}

.heading-xl-mobile {
  font-size: var(--fontsize-heading-xl-mobile);
  font-weight: 400;
  line-height: var(--lineheight-s);
  letter-spacing: -0.8px;
}

.heading-l {
  font-size: var(--fontsize-heading-l);
  font-weight: 400;
  line-height: var(--lineheight-s);
  letter-spacing: -0.4px;
}

.heading-m {
  font-size: var(--fontsize-heading-m);
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: -0.2px;
}

.heading-s {
  font-size: var(--fontsize-heading-s);
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.2px;
}

.heading-xs {
  font-size: var(--fontsize-heading-xs);
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: 0.4px;
}

.heading-xxs {
  font-size: var(--fontsize-heading-xxs);
  font-weight: 700;
  line-height: var(--lineheight-l);
  letter-spacing: 0.4px;
}
