.hiddenFromScreen {
  border: 0;
  clip: "rect(0 0 0 0)";
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  position: absolute;
}

.button-reset {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  padding: 0;
}

.text-body {
  font-family: var(--font-default);
  font-size: var(--fontsize-body-m);
  color: var(--color-black-90);
  line-height: var(--lineheight-l);
}

.text-medium {
  font-family: var(--font-default);
  font-weight: 500;
}

.text-bold {
  font-family: var(--font-default);
  font-weight: bold;
}

.text-xl {
  font-size: var(--fontsize-heading-m);
}

.text-lg {
  font-size: var(--fontsize-heading-s);
}

.text-md {
  font-size: var(--fontsize-heading-xs);
}

.subtitle {
  font-size: var(--fontsize-body-m);
}

.text-sm {
  font-size: var(--fontsize-body-s);
  line-height: var(--lineheight-xl);
}
