@use 'hds-core/lib/scss/helpers' as helpers;
@import '../../common.scss';
@value medium-down from "../../../../styles/breakpoints.scss";

.heading {
  @extend %footerItem;

  font-weight: bold;
  line-height: var(--lineheight-l);
}

.navigation {
  font-size: var(--fontsize-body-m);
}

.utility {
  @include helpers.heading-m;

  font-weight: bold;
}

@media medium-down {
  .heading.navigation {
    font-weight: normal;
  }
}
