@import "../navigation.common";
@value x-small-down, small-down, small-only, medium-only, medium-up, large-only, large-up, x-large-only, x-large-up from "../../../styles/breakpoints.scss";

.dropdownItem.dropdownItem {
  &:focus-within {
    box-shadow: none;
  }

  // dropdown menu
  > div {
    @extend %dropDownItemMenuBase;
  }
}

@media small-down {
  .dropdownItem.dropdownItem {
    align-items: flex-start;
    border-radius: 0;
    flex-direction: column;

    // dropdown toggle button
    > button {
      height: var(--spacing-xl);
      padding: var(--spacing-2-xs);
      width: 100%;

      // focus outline
      &:focus {
        box-shadow: 0 0 0 var(--header-focus-outline-width) var(--header-focus-outline-color);
      }

      > span {
        margin: 0;
      }

      // align angle to the right
      > *:last-child {
        margin-left: auto;
      }

      // dropdown icon
      svg:first-of-type:not(:only-of-type) {
        margin: 0 var(--spacing-2-xs) 0 calc(var(--spacing-3-xs) * -1);
      }
    }
  }
}

@media medium-up {
  .dropdownItem.dropdownItem > button {
      align-self: stretch;
  }
}
