@import "../../styles/common.scss";

.tabs {
  --tablist-border-color: var(--color-black-20);
  --tablist-border-size: 1px;
  --tab-color: var(--color-bus);
  --tab-font-size: var(--fontsize-body-m);
  --tab-height: 48px;
  --tab-min-width: 148px;
  --tab-spacing: var(--spacing-s);
  --tab-active-border-size: 5px;
  --tab-active-border-color: var(--color-bus);
  --tab-focus-outline-size: 2px;
  --tab-focus-outline-color: var(--color-coat-of-arms);
}

.tabs.small {
  --tab-min-width: 0;
  --tab-font-size: var(--fontsize-body-s);
  --tab-active-border-size: 3px;
}

.tablistBar {
  display: flex;
  flex-direction: row;
}

.scrollButton {
  align-items: center;
  color: var(--tab-color);
  display: flex;
  justify-content: center;
  margin-bottom: var(--tablist-border-size);
  position: relative;
  width: 26px;

  &:before {
    background: var(--tablist-border-color);
    bottom: 0;
    content: '';
    height: var(--tablist-border-size);
    position: absolute;
    width: 100%;
    z-index: 100;
  }

  button {
    @extend %buttonReset;

    align-items: center;
    border: var(--tab-focus-outline-size) solid transparent;
    border-radius: unset;
    box-sizing: border-box;
    display: inline-flex;
    height: 26px;
    justify-content: center;
    overflow: hidden;
    width: 100%;

    &:focus {
      border: var(--tab-focus-outline-size) solid var(--tab-focus-outline-color);
      outline: none;
    }
  }
}

.tablist {
  box-sizing: border-box;
  flex-grow: 1;
  margin-bottom: -1px;
  overflow-x: hidden;
  position: relative;

  ul {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
    padding: var(--tab-focus-outline-size) 0;
    white-space: nowrap;
  }
}

.tab {
  display: inline-block;
  margin: 0;
  outline: none;
  padding: 0;

  span {
    align-items: center;
    box-sizing: border-box;
    color: var(--tab-color);
    cursor: pointer;
    display: flex;
    font-size: var(--tab-font-size);
    height: var(--tab-height);
    justify-content: center;
    margin: 0;
    min-width: var(--tab-min-width);
    padding: 0;
    padding-left: var(--tab-spacing);
    padding-right: var(--tab-spacing);
    position: relative;

    &:before {
      background: var(--tablist-border-color);
      bottom: 0;
      content: '';
      height: var(--tablist-border-size);
      position: absolute;
      width: 100%;
      z-index: 100;
    }
  }

  &:focus span {
    outline: none;

    &:after {
      --size: calc(100% + var(--tab-focus-outline-size) * 2);

      border: var(--tab-focus-outline-size) solid var(--tab-focus-outline-color);
      box-sizing: border-box;
      content: '';
      height: var(--size);
      left: 0;
      outline: none;
      position: absolute;
      top: calc(-1 * var(--tab-focus-outline-size));
      width: 100%;
      z-index: 200;
    }
  }

  &.active {
    span:before {
      background-color: var(--tab-active-border-color);
      bottom: 0;
      content: '';
      height: var(--tab-active-border-size);
      position: absolute;
      width: 100%;
      z-index: 100;
    }
  }
}
