@import '../../../styles/common';
@import '../_dialog.common';
@value medium-up from "../../../styles/breakpoints.css";

.dialogHeader {
  @include dialogComponentSidePaddings;
  align-items: flex-start;
  display: flex;
  padding-top: var(--spacing-m);
  padding-bottom: var(--spacing-3-xs);
}

.dialogTitle {
  align-items: flex-start;
  display: flex;
  font-size: var(--fontsize-heading-s);
  margin: 0;
  order: 0;
  padding-right: var(--spacing-s);

  .dialogTitleLeftIcon {
    display: inline-flex;
    margin-right: var(--spacing-2-xs);
    margin-top: 2px;
  }
}

.dialogHeaderClose {
  @extend %buttonReset;
  color: var(--dialog-close-button-color);
  display: block;
  height: 44px;
  font-size: 0;
  line-height: 1;
  margin-left: auto;
  margin-top: calc(-1 * var(--spacing-2-xs));
  min-width: 44px;
  order: 1;
  padding: 0;
  vertical-align: middle;
}

@media medium-up {
  .dialogHeader {
    padding-bottom: var(--spacing-2-xs);
  }
}
