@import '../../../styles/common';

.dialogHeader {
  align-items: center;
  display: flex;
}

.dialogTitle {
  align-items: flex-start;
  display: flex;
  font-size: var(--fontsize-heading-s);
  margin-right: 1rem;
  padding-right: 1rem;

  .dialogTitleLeftIcon {
    display: inline-flex;
    margin-right: var(--spacing-2-xs);
    margin-top: 2px;
  }
}
