// todo: transitions
// todo: test theming. selected icon, checkbox etc.
// todo: rename variables?

.root {
  --border-radius: 2px;
  --border-width: 2px;
  --divider-width: 1px;
  --focus-outline-width: 3px;
  --dropdown-height: var(--spacing-3-xl);
  --menu-item-height: calc(var(--dropdown-height) - var(--border-width) * 2);
  --icon-size: var(--spacing-m);
  --menu-z-index: 10;

  --dropdown-background-default: var(--color-white);
  --dropdown-background-disabled: var(--color-black-10);
  --dropdown-border-color-default: var(--color-black-50);
  --dropdown-border-color-hover : var(--color-black-90);
  --dropdown-border-color-focus: var(--color-black-90);
  --dropdown-border-color-invalid: var(--color-error);
  --dropdown-border-color-disabled: var(--color-black-10);
  --dropdown-color-default: var(--color-black-90);
  --dropdown-color-disabled: var(--color-black-40);
  --focus-outline-color: var(--color-coat-of-arms-blue);
  --helper-color-default: var(--color-black-60);
  --helper-color-invalid: var(--color-error);
  --icon-color-invalid: var(--color-error);
  --menu-divider-color: var(--color-black-20);
  --menu-item-background-default: var(--color-white);
  --menu-item-background-hover: var(--color-black-10);
  --menu-item-background-selected: var(--color-bus);
  --menu-item-background-selected-hover: var(--color-bus-dark-50);
  --menu-item-background-multiselect-selected: var(--color-white);
  --menu-item-background-disabled: var(--color-white);
  --menu-item-color-default: var(--color-black-90);
  --menu-item-color-hover: var(--color-black-90);
  --menu-item-color-selected: var(--color-white);
  --menu-item-color-selected-hover: var(--color-white);
  --menu-item-color-multiselect-selected: var(--color-black-90);
  --menu-item-color-disabled: var(--color-black-40);
  --menu-item-icon-color-selected: var(--color-white);
  --menu-item-icon-color-disabled: var(--color-black-40);
  --placeholder-color: var(--color-black-60);
}

/**
 * WRAPPER
 */

.wrapper {
    background-color: var(--dropdown-background-default);
    border: var(--border-width) solid var(--dropdown-border-color-default);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    min-height: var(--dropdown-height);
    position: relative;
    width: 100%;

  &:focus-within {
    box-shadow: 0 0 0 var(--focus-outline-width) var(--focus-outline-color);
    border-color: var(--dropdown-border-color-focus);
  }

  &:hover {
    border-color: var(--dropdown-border-color-hover);
  }

  &:hover,
  &:focus-within {
    transition: border-color 85ms ease-out;
  }
}

/**
 * BUTTON
 */

// TODO: USE BUTTON RESET PLACEHOLDER CLASS WHEN FOOTER IS MERGED
.button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  padding: 0;

  align-items: flex-start;
  color: var(--dropdown-color-default);
  display: flex;
  font-size: var(--fontsize-body-l);
  outline: none;
  padding: calc(var(--spacing-s) - var(--border-width) * 2) var(--spacing-s);
  width: 100%;

  &.placeholder {
    color: var(--placeholder-color);
  }
}

/**
 * ANGLE ICON
 */

.angleIcon {
  color: var(--dropdown-color-default);
  position: absolute;
  right: var(--spacing-s);
  top: var(--spacing-xs);
  transform: translateY(2px);
}

.open .angleIcon {
  transform: translateY(2px) rotateX(180deg);
}

/**
 * MENU
 */

.menu {
  display: none;
  z-index: var(--menu-z-index);
}

.open .menu {
  border: solid var(--dropdown-border-color-focus);
  border-top-color: var(--menu-divider-color);
  border-radius: var(--border-radius);
  border-width: var(--divider-width) var(--border-width) var(--border-width);
  bottom: 0;
  display: block;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 0;
  position: absolute;
  transform: translate(calc(var(--border-width) * -1), 100%);
  width: 100%;

  &.overflow {
    overflow-y: scroll;
  }
}

/**
 * MENU ITEM
 */

.menuItem {
  align-items: center;
  background-color: var(--menu-item-background-default);
  box-sizing: border-box;
  color: var(--menu-item-color-default);
  cursor: pointer;
  display: flex;
  font-size: var(--fontsize-body-l);
  justify-content: space-between;
  line-height: 1.333;
  min-height: var(--menu-item-height);
  padding: var(--spacing-xs) var(--spacing-s);

  &.highlighted {
    background-color: var(--menu-item-background-hover);
    color: var(--menu-item-color-hover);
  }

  &.selected {
    background-color: var(--menu-item-background-selected);
    color: var(--menu-item-color-selected);
  }

  &.highlighted.selected {
    background-color: var(--menu-item-background-selected-hover);
    color: var(--menu-item-color-selected-hover);
  }

  &.disabled,
  &.disabled.highlighted {
    background-color: var(--menu-item-background-disabled);
    color: var(--menu-item-color-disabled);
    cursor: not-allowed;
  }
}

/**
 * HELPER TEXT
 */

.helperText {
  color: var(--helper-color-default);
  margin-top: var(--spacing-3-xs);
}

/**
 * DISABLED
 */

.disabled {
  .wrapper {
    background-color: var(--dropdown-background-disabled);
    border-color: var(--dropdown-border-color-disabled);
    color: var(--dropdown-color-disabled);

    &,
    > * {
      cursor: not-allowed;
    }
  }

  .angleIcon {
    color: var(--dropdown-color-disabled);
  }
}

/**
 * INVALID
 */

.invalid {
  .wrapper {
    border-color: var(--dropdown-border-color-invalid);
  }
}

/**
 * MULTISELECT
 */

.multiselect {
  .button {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;

    &:focus .angleIcon {
      box-shadow: 0 0 0 var(--focus-outline-width) var(--focus-outline-color);
    }
  }

  .menuItem {
    justify-content: flex-start;

    .checkbox {
      border: var(--spacing-4-xs) solid var(--color-black-50);
      box-sizing: border-box;
      color: var(--menu-item-background-default);
      content: '';
      height: var(--icon-size);
      margin-right: var(--spacing-xs);
      width: var(--icon-size);
    }

    &.highlighted {
      .checkbox {
        border-color: var(--color-black-90);
        color: var(--menu-item-background-hover);
      }
    }

    &.selected {
      background-color: var(--menu-item-background-multiselect-selected);
      color: var(--menu-item-color-multiselect-selected);

      .checkbox {
        background-color: var(--color-bus);
        border: 0;
        color: var(--color-white);
      }
    }

    &.highlighted.selected {
      background-color: var(--menu-item-background-hover);
      color: var(--menu-item-color-hover);
    }
  }
}
