@value medium-only, medium-up, large-up from "../../../styles/breakpoints.css";

@media medium-up {
  .navigationActions {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    flex: none;
    margin-left: auto;
    padding: var(--spacing-xs) 0;
  }
}

@media medium-only {
  .navigationActions > *:not(:first-child) {
    margin-left: var(--spacing-m);
  }
}

@media large-up {
  .navigationActions > *:not(:first-child) {
    margin-left: var(--spacing-l);
  }
}
