$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);

$blue-100: hsl(218, 90%, 92%);
$blue-500: hsl(205, 100%, 39%);
$blue-900: hsl(180, 33%, 1%);

$red-100: hsl(5, 77%, 42%);
$red-500: hsl(5, 77%, 42%);

$gray-100: hsl(220, 33%, 96%);
$gray-200: hsl(220, 33%, 85%);
