@import "../navigation.common";
@value small-down from "../../../styles/breakpoints.scss";

.languageDropdown {
  button {
    font-size: var(--fontsize-body-l);
    font-weight: bold;
  }

  &#{&} {
    --menu-button-focus-outline-color: var(--header-focus-outline-color);

    > div {
      @extend %navigationActionDropdown;
    }
  }
}

@media small-down {
  .languageDropdown {
    position: absolute;
    right: var(--spacing-5-xl);
  }
}
