@import "../navigation.common";
@value x-small-down, small-down from "../../../styles/breakpoints.css";

.languageDropdown {
  button {
    font-size: var(--fontsize-body-l);
    font-weight: bold;
  }

  &#{&} {
    --menu-button-focus-outline-color: var(--header-focus-outline-color);

    > div {
      @extend %navigationActionDropdown;
    }
  }
}

@media small-down {
  .languageDropdown {
    position: absolute;
    right: var(--spacing-4-xl);
    &:nth-last-of-type(2) {
      right: calc(var(--spacing-4-xl) * 2);
    }
  }
}
