@media all and (min-width: 769px) {
  .columns {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .columns > div {
    margin-left: 1em;
    width: calc(100% - 3em);
  }
}

@media all and (max-width: 768px) {
  .columns > div {
    display: block;
    margin: 0;
    width: 100%;
  }
}
