@import url("../../icons/icon.css");
@import url("../../icons/ui/icon-search.css");

.hds-search-input {
  --border-width: 2px;
  --outline-width: 3px;
  --input-height: 56px;
  --helper-color-default: var(--color-black-60);
  --input-background-default: var(--color-white);
  --input-border-color-default: var(--color-black-50);
  --input-border-color-hover : var(--color-black-90);
  --input-border-color-focus: var(--color-black-90);
  --input-color-default: var(--color-black-90);
  --label-color-default: var(--color-black-90);
}

/* LABEL */
.hds-search-input__label {
  color: var(--label-color-default);
  display: block;
  font-size: var(--fontsize-body-m);
  font-weight: 500;
  margin-bottom: var(--spacing-3-xs);
}

/* INPUT */
.hds-search-input__input-wrapper {
  display: flex;
  height: 100%;
  position: relative;
}

.hds-search-input .hds-search-input__input {
  -webkit-appearance: none;
  background-color: var(--input-background-default);
  border: var(--border-width) solid var(--input-border-color-default);
  box-sizing: border-box;
  color: var(--input-color-default);
  font-size: 1.125em;
  height: var(--input-height);
  line-height: normal;
  padding: 0 var(--spacing-s);
  width: 100%;
}

.hds-search-input .hds-search-input__input:hover {
  border-color: var(--input-border-color-hover);
  transition: border-color 85ms ease-out;
}

.hds-search-input .hds-search-input__input:focus {
  border-color: var(--input-border-color-focus);
  outline: none;
}

/* FOCUS OUTLINE */
.hds-search-input .hds-search-input__input:not([readonly]):focus {
  outline: var(--outline-width) solid var(--color-focus-outline);
  transform: translate3d(0, 0, 0);
}


/* BUTTON */
.hds-search-input__buttons {
  align-items: center;
  bottom: 0;
  display: flex;
  font-size: 1rem;
  justify-content: center;
  margin-right: calc(var(--spacing-s) - var(--spacing-xs) / 2);
  position: absolute;
  right: 0;
  top: 0;
}

.hds-search-input__button {
  appearance: none;
  background: none;
  border: none;
  color: inherit;
  color: var(--dropdown-color-default);
  cursor: pointer;
  display: flex;
  font: inherit;
  outline: none;
  padding: var(--spacing-xs) calc(var(--spacing-xs) / 2);
}

.hds-search-input__buttons .hds-search-input__button:focus {
  outline: var(--outline-width) solid var(--color-focus-outline);
}

/* HELPER TEXT */
.hds-search-input__helper-text {
  color: var(--helper-color-default);
  display: block;
  font-size: var(--fontsize-body-m);
  margin-top: var(--spacing-3-xs);
}
