.hds-button {
  --border-width: 2px;
  --color: inherit;
  --outline-gutter: 2px;
  --outline-width: 3px;

  align-content: flex-start;
  align-items: center;
  background-color: var(--background-color, transparent);
  border: var(--border-width) solid var(--border-color, transparent);
  border-radius: 0;
  color: var(--color);
  cursor: pointer;
  display: inline-flex;
  font-weight: 500;
  justify-content: center;
  padding: 0 var(--spacing-2-xs);
  position: relative;
  vertical-align: top;
}

.hds-button,
.hds-button::before,
.hds-button::after,
.hds-button *,
.hds-button *::before,
.hds-button *::after {
  box-sizing: border-box;
}

/* button transitions */
.hds-button:hover,
.hds-button:focus {
  transition-property: background-color, border-color, color;
  transition-duration: 85ms;
  transition-timing-function: ease-out;
}

.hds-button:hover {
  background-color: var(--background-color-hover, transparent);
  color: var(--color-hover);
}

.hds-button:focus {
  background-color: var(--background-color-focus, transparent);
  color: var(--color-focus);
  outline: none;
}

.hds-button:focus:hover {
  background-color: var(--background-color-hover-focus, transparent);
}

.hds-button:disabled {
  background-color: var(--background-color-disabled, transparent);
  border-color: var(--border-color-disabled, transparent);
  color: var(--color-disabled);
  cursor: not-allowed;
}

.hds-button:not(:disabled) {
  border-color: var(--border-color, transparent);
}

.hds-button:not(:disabled):hover {
  border-color: var(--border-color-hover, transparent);
}

.hds-button:not(:disabled):focus {
  border-color: var(--border-color-focus, transparent);
}

.hds-button:not(:disabled):focus:hover {
  border-color: var(--border-color-hover-focus, transparent);
  color: var(--color-hover-focus);
}

/* FOCUS OUTLINE */

.hds-button::after {
  --size: 100%;

  border: var(--outline-width) solid transparent;
  content: '';
  height: var(--size);
  position: absolute;
  width: var(--size);
}

.hds-button:focus::after {
  --size: calc(100% + calc(var(--outline-width) * 2 + var(--border-width) * 2 + var(--outline-gutter) * 2));
  border-color: var(--focus-outline-color);
}

/* submit input */
input[type="submit"].hds-button:focus {
  box-shadow: 0 0 0 var(--outline-gutter) var(--submit-input-focus-gutter-color), 0 0 0 calc(var(--outline-gutter) + var(--outline-width)) var(--focus-outline-color);
}

/* LABEL */

input[type="submit"].hds-button,
.hds-button__label {
  font-weight: inherit;
  line-height: 1.25em;
  padding: var(--spacing-s);
}

input[type="submit"].hds-button {
  cursor: pointer;
  padding: var(--spacing-s) var(--spacing-l);
}

/* no icons */
.hds-button__label:only-child {
  margin: 0 var(--spacing-2-xs);
}

/* SMALL */
.hds-button--small {
  padding: 0;
}

input[type="submit"].hds-button--small,
.hds-button--small .hds-button__label {
  line-height: var(--lineheight-s);
  padding: var(--spacing-2-xs) var(--spacing-xs);
}

input[type="submit"].hds-button--small {
  padding: var(--spacing-2-xs) var(--spacing-m);
}

/* no icons */
.hds-button--small .hds-button__label:only-child {
  margin: 0 var(--spacing-xs);
}

/* both icons */
.hds-button--small .hds-button__label:not(:first-of-type):not(:last-of-type) {
  padding: var(--spacing-2-xs) var(--spacing-2-xs);
}

/* FULL WIDTH */

.hds-button--fullwidth {
  width: 100%;
}

/* ICONS */

/* left */
.hds-button .hds-icon {
  height: var(--spacing-m);
  margin-left: var(--spacing-s);
  width: var(--spacing-m);
}

/* right */
.hds-button__label ~ .hds-icon {
  margin: 0 var(--spacing-s) 0 0;
}

/* left - small */
.hds-button--small .hds-icon {
  height: 1.125em;
  margin-left: var(--spacing-xs);
  width: 1.125em;
}

/* right - small */
.hds-button .hds-button--small .hds-button__label ~ .hds-icon {
  margin: 0 var(--spacing-xs) 0 0;
}

/* both icons - left */
.hds-button .hds-icon:first-of-type:not(:last-of-type) {
  margin: 0 0 0 var(--spacing-2-xs);
}

/* both icons - right */
.hds-button .hds-icon:last-of-type:not(:first-of-type) {
  margin: 0 var(--spacing-2-xs) 0 0;
}

/* both icons - left - small */
.hds-button--small .hds-icon:first-child:not(:last-of-type) {
  margin: 0 0 0 var(--spacing-xs);
}

/* both icons - right - small */
.hds-button--small .hds-icon:last-child:not(:first-of-type) {
  margin: 0 var(--spacing-xs) 0 0;
}

/* PRIMARY */

/* default (bus) */
.hds-button--primary {
  --background-color: var(--color-bus);
  --background-color-hover: var(--color-bus-dark-50);
  --background-color-focus: var(--color-bus);
  --background-color-hover-focus: var(--color-bus-dark-50);
  --background-color-disabled: var(--color-black-20);

  --border-color: var(--color-bus);
  --border-color-hover: var(--color-bus-dark-50);
  --border-color-focus: var(--color-bus);
  --border-color-hover-focus: var(--color-bus-dark-50);
  --border-color-disabled: var(--color-black-20);

  --color: var(--color-white);
  --color-hover: var(--color-white);
  --color-focus: var(--color-white);
  --color-hover-focus: var(--color-white);
  --color-disabled: var(--color-white);

  --focus-outline-color: var(--color-coat-of-arms-blue);
  --submit-input-focus-gutter-color: var(--color-white);
}

/* SECONDARY */

/* default (bus) */
.hds-button--secondary {
  --background-color: transparent;
  --background-color-hover: var(--color-bus-light-5);
  --background-color-focus: transparent;
  --background-color-hover-focus: var(--color-bus-light-5);
  --background-color-disabled: transparent;

  --border-color: var(--color-bus);
  --border-color-hover: var(--color-bus-dark-50);
  --border-color-focus: var(--color-bus);
  --border-color-hover-focus: var(--color-bus-dark-50);
  --border-color-disabled: var(--color-black-50);

  --color: var(--color-bus);
  --color-hover: var(--color-bus-dark-50);
  --color-focus: var(--color-bus);
  --color-hover-focus: var(--color-bus-dark-50);
  --color-disabled: var(--color-black-40);

  --focus-outline-color: var(--color-coat-of-arms-blue);
  --submit-input-focus-gutter-color: var(--color-white);
}

/* SUPPLEMENTARY */

.hds-button--supplementary {
  --background-color: transparent;
  --background-color-hover: var(--color-bus-light-5);
  --background-color-focus: transparent;
  --background-color-hover-focus: var(--color-bus-light-5);
  --background-color-disabled: transparent;

  --border-color: transparent;
  --border-color-hover: transparent;
  --border-color-focus: var(--color-coat-of-arms-blue);
  --border-color-hover-focus: var(--color-coat-of-arms-blue);
  --border-color-disabled: transparent;

  --color: var(--color-bus);
  --color-hover: var(--color-bus-dark-50);
  --color-focus: var(--color-bus);
  --color-hover-focus: var(--color-bus-dark-50);
  --color-disabled: var(--color-black-40);

  --focus-outline-color: transparent;
  --submit-input-focus-gutter-color: transparent;
}

/* UTILITY */

/* success */
.hds-button--success {
  --background-color: var(--color-success);
  --background-color-hover: var(--color-success-dark);
  --background-color-focus: var(--color-success);
  --background-color-hover-focus: var(--color-success-dark);

  --border-color: var(--color-success);
  --border-color-hover: var(--color-success-dark);
  --border-color-focus: var(--color-success);
  --border-color-hover-focus: var(--color-success-dark);

  --color: var(--color-white);
  --color-hover: var(--color-white);
  --color-focus: var(--color-white);
  --color-hover-focus: var(--color-white);

  --focus-outline-color: var(--color-coat-of-arms-blue);
}

/* danger */
.hds-button--danger {
  --background-color: var(--color-error);
  --background-color-hover: var(--color-error-dark);
  --background-color-focus: var(--color-error);
  --background-color-hover-focus: var(--color-error-dark);

  --border-color: var(--color-error);
  --border-color-hover: var(--color-error-dark);
  --border-color-focus: var(--color-error);
  --border-color-hover-focus: var(--color-error-dark);

  --color: var(--color-white);
  --color-hover: var(--color-white);
  --color-focus: var(--color-white);
  --color-hover-focus: var(--color-white);

  --focus-outline-color: var(--color-coat-of-arms-blue);
}

/* THEMES */

/* coat */
.hds-button--primary.hds-button--theme-coat {
  --background-color: var(--color-coat-of-arms-blue);
  --background-color-hover: var(--color-coat-of-arms-blue-dark-50);
  --background-color-focus: var(--color-coat-of-arms-blue);
  --background-color-hover-focus: var(--color-coat-of-arms-blue-dark-50);

  --border-color: var(--color-coat-of-arms-blue);
  --border-color-hover: var(--color-coat-of-arms-blue-dark-50);
  --border-color-focus: var(--color-coat-of-arms-blue);
  --border-color-hover-focus: var(--color-coat-of-arms-blue-dark-50);

  --color: var(--color-white);
  --color-hover: var(--color-white);
  --color-focus: var(--color-white);
  --color-hover-focus: var(--color-white);
}

.hds-button--secondary.hds-button--theme-coat {
  --background-color: transparent;
  --background-color-hover: var(--color-coat-of-arms-blue-light-5);
  --background-color-focus: transparent;
  --background-color-hover-focus: var(--color-coat-of-arms-blue-light-5);

  --border-color: var(--color-coat-of-arms-blue);
  --border-color-hover: var(--color-coat-of-arms-blue-dark-50);
  --border-color-focus: var(--color-coat-of-arms-blue);
  --border-color-hover-focus: var(--color-coat-of-arms-blue-dark-50);

  --color: var(--color-coat-of-arms-blue);
  --color-hover: var(--color-coat-of-arms-blue);
  --color-focus: var(--color-coat-of-arms-blue);
  --color-hover-focus: var(--color-coat-of-arms-blue);
}

.hds-button--supplementary.hds-button--theme-coat {
  --background-color: transparent;
  --background-color-hover: var(--color-coat-of-arms-blue-light-5);
  --background-color-focus: transparent;
  --background-color-hover-focus: var(--color-coat-of-arms-blue-light-5);

  --border-color: transparent;
  --border-color-hover: transparent;
  --border-color-focus: var(--color-coat-of-arms-blue);
  --border-color-hover-focus: var(--color-coat-of-arms-blue);

  --color: var(--color-coat-of-arms-blue);
  --color-hover: var(--color-coat-of-arms-blue);
  --color-focus: var(--color-coat-of-arms-blue);
  --color-hover-focus: var(--color-coat-of-arms-blue);
}

/* black */
.hds-button--primary.hds-button--theme-black {
  --background-color: var(--color-black);
  --background-color-hover: var(--color-black);
  --background-color-focus: var(--color-black);
  --background-color-hover-focus: var(--color-black);

  --border-color: var(--color-black);
  --border-color-hover: var(--color-black);
  --border-color-focus: var(--color-black);
  --border-color-hover-focus: var(--color-black);

  --color: var(--color-white);
  --color-hover: var(--color-white);
  --color-focus: var(--color-white);
  --color-hover-focus: var(--color-white);
}

.hds-button--secondary.hds-button--theme-black {
  --background-color: transparent;
  --background-color-hover: var(--color-black-5);
  --background-color-focus: transparent;
  --background-color-hover-focus: var(--color-black-5);

  --border-color: var(--color-black);
  --border-color-hover: var(--color-black);
  --border-color-focus: var(--color-black);
  --border-color-hover-focus: var(--color-black);

  --color: var(--color-black);
  --color-hover: var(--color-black);
  --color-focus: var(--color-black);
  --color-hover-focus: var(--color-black);
}

.hds-button--supplementary.hds-button--theme-black {
  --background-color: transparent;
  --background-color-hover: var(--color-black-5);
  --background-color-focus: transparent;
  --background-color-hover-focus: var(--color-black-5);

  --border-color: transparent;
  --border-color-hover: transparent;
  --border-color-focus: var(--color-black);
  --border-color-hover-focus: var(--color-black);

  --color: var(--color-black);
  --color-hover: var(--color-black);
  --color-focus: var(--color-black);
  --color-hover-focus: var(--color-black);
}
