.root {
  composes: hds-text-input from 'hds-core/lib/components/text-input/text-input.css';
  position: relative;
}

.inputWrapper {
  composes: hds-text-input__input-wrapper from 'hds-core/lib/components/text-input/text-input.css';
}

.input {
  composes: hds-text-input__input from 'hds-core/lib/components/text-input/text-input.css';
}

.input.hasButton {
  padding-right: calc(2 * var(--spacing-s) + 1.5rem);
}

.input.hasClearButton {
  padding-right: calc(2 * var(--spacing-s) + 1.5rem);
}

.input.hasButton.hasClearButton {
  padding-right: calc(4 * var(--spacing-s) + 1.5rem);
}

.clearButton {
  composes: hds-text-input__button-clear from 'hds-core/lib/components/text-input/text-input.css';
}

.hasClearButton {
  composes: hds-text-input__input-clear from 'hds-core/lib/components/text-input/text-input.css';
}

.errorText {
  composes: hds-text-input__error-text from 'hds-core/lib/components/text-input/text-input.css';
}

.helperText {
  composes: hds-text-input__helper-text from 'hds-core/lib/components/text-input/text-input.css';
}

.invalidText {
  composes: hds-text-input__helper-text from 'hds-core/lib/components/text-input/text-input.css';
}

.successText {
  composes: hds-text-input__success-text from 'hds-core/lib/components/text-input/text-input.css';
}

.infoText {
  composes: hds-text-input__info-text from 'hds-core/lib/components/text-input/text-input.css';
}

.invalid {
  composes: hds-text-input--invalid from 'hds-core/lib/components/text-input/text-input.css';
}

.success {
  composes: hds-text-input--success from 'hds-core/lib/components/text-input/text-input.css';
}

.readOnly {
  composes: hds-text-input--read-only from 'hds-core/lib/components/text-input/text-input.css';
}

.buttonWrapper {
  composes: hds-text-input__buttons from 'hds-core/lib/components/text-input/text-input.css'
}

.button {
  composes: hds-text-input__button from 'hds-core/lib/components/text-input/text-input.css'
}

.button:disabled {
  cursor: not-allowed;
}

.button:focus {
  outline: var(--outline-width) solid var(--color-focus-outline);
}
