:root {
  --brand-color-black: #000000;
  --brand-color-white: #ffffff;

  --brand-color-coat-of-arms-blue: #0072c6;
  --brand-color-coat-of-arms-gold: #c2a251;
  --brand-color-coat-of-arms-silver: #dedfe1;
  --brand-color-brick: #bd2719;
  --brand-color-bus: #0000bf;
  --brand-color-copper: #00d7a7;
  --brand-color-engel: #ffe977;
  --brand-color-fog: #9fc9eb;
  --brand-color-metro: #fd4f00;
  --brand-color-summer: #ffc61e;
  --brand-color-suomenlinna: #f5a3c7;
  --brand-color-tram: #009246;

  --ui-color-error: #c4123e;
  --ui-color-success: #007a64;
  --ui-color-alert: #ffda07;
  --ui-color-info: #007293;
}
