:root {
  /* BRAND COLORS */
  --hds-brand-color-coat-of-arms-blue: #0072c6;
  --hds-brand-color-coat-of-arms-blue-light-20: #cce2f3;
  --hds-brand-color-coat-of-arms-blue-light-50: #80b8e2;
  --hds-brand-color-coat-of-arms-blue-dark-50: #000098;

  --hds-brand-color-coat-of-arms-gold: #c2a251;
  --hds-brand-color-coat-of-arms-gold-light-20: #f2ecdc;
  --hds-brand-color-coat-of-arms-gold-light-50: #e0d0a8;
  --hds-brand-color-coat-of-arms-gold-dark-50: #977b34;

  --hds-brand-color-coat-of-arms-silver: #dedfe1;

  --hds-brand-color-brick: #bd2719;
  --hds-brand-color-brick-light-20: #f1d3d1;
  --hds-brand-color-brick-light-50: #de938c;
  --hds-brand-color-brick-dark-50: #99160a;

  --hds-brand-color-bus: #0000bf;
  --hds-brand-color-bus-light-20: #ccccf2;
  --hds-brand-color-bus-light-50: #7f7fdf;
  --hds-brand-color-bus-dark-50: #000098;

  --hds-brand-color-copper: #00d7a7;
  --hds-brand-color-copper-light-20: #ccf7ed;
  --hds-brand-color-copper-light-50: #80ebd3;
  --hds-brand-color-copper-dark-50: #01b78e;

  --hds-brand-color-engel: #ffe977;
  --hds-brand-color-engel-light-20: #fffae3;
  --hds-brand-color-engel-light-50: #fff4bb;
  --hds-brand-color-engel-dark-50: #f5da4e;

  --hds-brand-color-fog: #9fc9eb;
  --hds-brand-color-fog-light-20: #ebf4fb;
  --hds-brand-color-fog-light-50: #cfe4f5;
  --hds-brand-color-fog-dark-50: #78a4c7;

  --hds-brand-color-metro: #fd4f00;
  --hds-brand-color-metro-light-20: #fedbcc;
  --hds-brand-color-metro-light-50: #fea780;
  --hds-brand-color-metro-dark-50: #ca3f00;

  --hds-brand-color-summer: #ffc61e;
  --hds-brand-color-summer-light-20: #fff3d2;
  --hds-brand-color-summer-light-50: #ffe28e;
  --hds-brand-color-summer-dark-50: #e2ab0a;

  --hds-brand-color-suomenlinna: #f5a3c7;
  --hds-brand-color-suomenlinna-light-20: #fdecf3;
  --hds-brand-color-suomenlinna-light-50: #fad1e3;
  --hds-brand-color-suomenlinna-dark-50: #de7ba6;

  --hds-brand-color-tram: #009246;
  --hds-brand-color-tram-light-20: #cce9da;
  --hds-brand-color-tram-light-50: #80c8a2;
  --hds-brand-color-tram-dark-50: #007438;

  /* UI HELPER COLORS */
  --hds-ui-color-error: #c4123e;
  --hds-ui-color-error-light: #f6e2e6;
  --hds-ui-color-success: #007a64;
  --hds-ui-color-success-light: #e2f5f3;
  --hds-ui-color-alert: #ffda07;
  --hds-ui-color-alert-light: #fff4b4;
  --hds-ui-color-alert-dark: #986700;
  --hds-ui-color-info: #007293;
  --hds-ui-color-info-light: #dcf1f5;

  /* GRAY SHADES FOR UI COMPONENTS */
  --hds-ui-color-black: #000000;
  --hds-ui-color-white: #ffffff;
  --hds-ui-color-black-5: #f1f1f1;
  --hds-ui-color-black-10: #e5e5e5;
  --hds-ui-color-black-20: #cccccc;
  --hds-ui-color-black-30: #b2b2b2;
  --hds-ui-color-black-40: #999898;
  --hds-ui-color-black-50: #808080;
  --hds-ui-color-black-60: #666666;
  --hds-ui-color-black-70: #4c4c4c;
  --hds-ui-color-black-80: #333333;
  --hds-ui-color-black-90: #1a1a1a;
}
