:root {
  --hds-text-base-size: 1em;
  --hds-text-base-line-height: 1.2;
  --hds-text-sm-line-height: 1.86;
  --hds-text-body-line-height: 1.625;

  --hds-text-sm: 0.875em;
  --hds-text-md: 1.125em;
  --hds-text-lg: 1.25em;
  --hds-text-xl: 1.5em;
  --hds-text-xxl: 2.25em;
  --hds-text-xxxl: 3.25em;
}

@media all and (max-width: 768px) {
  :root {
    --hds-text-sm: 0.875em;
    --hds-text-md: 1.125em;
    --hds-text-lg: 1.25em;
    --hds-text-xl: 1.375em;
    --hds-text-xxl: 1.5em;
    --hds-text-xxxl: 2.25em;
  }
}

.text-body {
  font-family: var(--hds-primary-font);
  font-size: var(--hds-text-base-size);
  color: var(--hds-theme-color-body);
  line-height: var(--hds-text-body-line-height);
}

.text-body p {
  margin: 2em 0;
}

.text-bold {
  font-family: var(--hds-theme-primary-font-bold);
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: var(--hds-text-base-line-height);
}

/* FONT SIZES */
h1 {
  font-size: var(--hds-text-xxxl);
}

h2 {
  font-size: var(--hds-text-xxl);
}

h3,
.text-xl {
  font-size: var(--hds-text-xl);
}

h4,
.text-lg {
  font-size: var(--hds-text-lg);
}

h5,
.text-md {
  font-size: var(--hds-text-md);
}

.subtitle {
  font-size: var(--hds-text-base-size);
}

.text-sm {
  font-size: var(--hds-text-sm);
  line-height: var(--hds-text-sm-line-height);
}
