.headerNavigationMenu {
  background-color: var(--nav-background-color);
  box-sizing: border-box;
  display: flex;
  height: var(--spacing-layout-l);
  margin: 0 auto;
  max-width: var(--header-max-width);
  padding: 0 var(--header-margin);
  width: 100%;
}

.headerNavigationMenuContainer {
  border-bottom: 1px solid var(--header-divider-color);
}

.headerNavigationMenuDropdownMobile {
  display: block;
  left: 0;
  position: relative;
  right: 0;
  top: auto;
  width: 100%;
}

.headerNavigationMenuDropdownButtonMobile.headerNavigationMenuDropdownButtonMobile {
  margin: calc((var(--spacing-layout-l) - var(--spacing-layout-xs)) / 2) var(--header-margin);
}

.headerNavigationMenuList {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-l);
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.headerNavigationMenuLinkContent {
  align-items: center;
  display: flex;
  height: 100%;
}

.headerNavigationMenuLinkContentActive {
  box-shadow: inset 0 -4px 0 0 var(--nav-link-hover-color);

  .headerNavigationMenuLink {
    font-weight: bold;
  }
}

.headerNavigationMenuLinkContentMobile {
  align-items: center;
  display: flex;
  justify-content: space-between;
  min-height: var(--action-bar-dropdown-menu-primary-item-height);
  position: relative;
  width: 100%;
}

.headerNavigationMenuDropdownLinkMobile {
  position: relative;
}

.headerNavigationMenuLink.headerNavigationMenuLink {
  border: 0;
  color: var(--nav-link-font-color);
  font-size: var(--fontsize-body-l);
  margin: var(--spacing-s) 0;
  padding: 0;
}

.headerNavigationMenuLinkMobile.headerNavigationMenuLinkMobile {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;

  &:not(:focus) {
    border-color: transparent;
  }
}

.headerNavigationMenuLinkWrapperMobile {
  flex-wrap: wrap;
}
