.headerNavigationMenu {
  background-color: var(--nav-background-color);
  box-sizing: border-box;
  display: flex;
  min-height: var(--spacing-layout-l);
  margin: 0 auto;
  max-width: var(--header-max-width);
  padding: 0 var(--header-margin);
  width: 100%;
}

.headerNavigationMenuContainer {
  border-bottom: 1px solid var(--header-divider-color);
}

.headerNavigationMenuList {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--spacing-l);
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.headerNavigationMenuLinkContent {
  align-items: center;
  display: flex;
  height: 100%;
}

.headerNavigationMenuLinkContentActive {
  box-shadow: inset 0 -4px 0 0 var(--nav-link-hover-color);

  .headerNavigationMenuLink {
    font-weight: bold;
  }
}

.headerNavigationMenuLink.headerNavigationMenuLink {
  border: 0;
  color: var(--nav-link-font-color);
  font-size: var(--fontsize-body-l);
  margin: var(--spacing-s) 0;
  padding: 0;
}
