.highlight {
  composes: hds-highlight from 'hds-core/lib/components/highlight/highlight.css';
  /*--accent-line-color: var(--color-bus);
  --text-color: var(--color-black-90);
  --width: 536px;
  --margin: var(--spacing-m) 0;

  border-left: 8px solid var(--accent-line-color);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: space-between;
  flex-direction: column;  
  grid-row-gap: var(--spacing-m);
  padding: 0;
  padding-left: var(--spacing-s);
  margin: var(--margin);*/
}

.text {
  composes: hds-highlight__text from 'hds-core/lib/components/highlight/highlight.css';
  /*width: var(--width);
  max-width: 100%;
  font-size: var(--fontsize-heading-m);
  line-height: var(--lineheight-m);
  display: flex;
  flex-wrap: wrap;*/
}

.size-s {
  composes: hds-highlight--small from 'hds-core/lib/components/highlight/highlight.css';
  & > .text {
    --width: 264px;
  }
}

.size-l  {
  composes: hds-highlight--large from 'hds-core/lib/components/highlight/highlight.css';
  & > .text {
    --width: 680px;
    font-size: var(--fontsize-heading-l);
    line-height: var(--lineheight-l);
  }
}

.quote {
  composes: hds-highlight--quote from 'hds-core/lib/components/highlight/highlight.css';
  &:before,
  &:after {
    content: '"';
    font-style: italic;
    display: inline;  
  }
}

.reference {
  composes: hds-highlight--reference from 'hds-core/lib/components/highlight/highlight.css';
  &:before {
    content: '-';
    font-size: inherit;
    display: inline;
    line-height: inherit;  
  }
}
