.highlight {
  composes: hds-highlight from 'hds-core/lib/components/highlight/highlight.css';

  & > blockquote  {
    margin: 0;
    padding: 0;
  }
}

.text {
  composes: hds-highlight__text from 'hds-core/lib/components/highlight/highlight.css';
}

.size-s {
  composes: hds-highlight--small from 'hds-core/lib/components/highlight/highlight.css';
}

.size-l  {
  composes: hds-highlight--large from 'hds-core/lib/components/highlight/highlight.css';

  & > .text {
    font-size: var(--fontsize-heading-l);
    line-height: var(--lineheight-l);
  }
}

.quote {
  composes: hds-highlight__quote from 'hds-core/lib/components/highlight/highlight.css';

  &:before,
  &:after {
    content: '"';
    display: inline;  
    font-style: italic;
  }
}

.reference {
  composes: hds-highlight__reference from 'hds-core/lib/components/highlight/highlight.css';
  
  &:before {
    content: '-';
    display: inline;
    font-size: inherit;
    line-height: inherit;  
  }
}
