.highlight {
  composes: hds-highlight from 'hds-core/lib/components/highlight/highlight.css';
}

.text {
  composes: hds-highlight__text from 'hds-core/lib/components/highlight/highlight.css';
}

.size-s {
  composes: hds-highlight--small from 'hds-core/lib/components/highlight/highlight.css';
  & > .text {
    --width: 264px;
  }
}

.size-l  {
  composes: hds-highlight--large from 'hds-core/lib/components/highlight/highlight.css';
  & > .text {
    --width: 680px;
    font-size: var(--fontsize-heading-l);
    line-height: var(--lineheight-l);
  }
}

.quote {
  composes: hds-highlight--quote from 'hds-core/lib/components/highlight/highlight.css';
  &:before,
  &:after {
    content: '"';
    font-style: italic;
    display: inline;  
  }
}

.reference {
  composes: hds-highlight--reference from 'hds-core/lib/components/highlight/highlight.css';
  &:before {
    content: '-';
    font-size: inherit;
    display: inline;
    line-height: inherit;  
  }
}
