<<<<<<< HEAD
@import "../common.scss";
@value small-only, small-down, medium-only, medium-up, large-only, large-up, x-large-up from "../../../styles/breakpoints.scss";
=======
@value large-down from "../../../styles/breakpoints.css";
@import '../common';
>>>>>>> 467d0810f (Easier maintainability for footer link and group styles by using variants for utility and navigation sections)

.groups {
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--spacing-m);
}

.navigation {
  display: flex;
  gap: var(--spacing-xs) var(--spacing-m);
  flex-wrap: wrap;

  &.sitemap {
    align-items: start;
    gap: var(--spacing-l) var(--spacing-m);
    justify-items: start;
  }
}
