@use "../../Header.module.scss";
@import "../../../../styles/common.scss";

.languageSelector {
  display: flex;
  gap: var(--spacing-s);
  justify-content: space-between;
}

.languageSelectorDropdownIcon {
  align-items: center;
  margin-top: 1px;
  padding-top: 3px;

  &:focus-visible {
    outline-offset: 0;
  }
}

.languageSelectorDropdown {
  align-items: flex-start;
  background-color: var(--lang-selector-dropdown-background-color);
  display: flex;
  flex-flow: column nowrap;

  > * {
    line-height: var(--lineheight-l);
    margin: 0;
  }
}

button.item,
[type="button"].item {
  align-self: center;
  appearance: none;
  background: transparent;
  border: none;
  color: var(--lang-selector-item-font-color);
  cursor: pointer;
  line-height: var(--lineheight-l);
  padding: 0;
  white-space: nowrap;

  &:focus-visible {
    border: none;
    outline: var(--header-focus-outline-width) solid var(--header-focus-outline-color);
    outline-offset: var(--header-focus-outline-width);
  }
}

.activeItem {
  font-weight: 700;

  span {
    border-bottom: 2px solid;
  }
}

.languageNodes {
  display: flex;
  gap: var(--spacing-s);
}

.fullWidthForMobile {
  background-color: var(--color-silver-light);
  border-bottom: 1px solid var(--color-black-20);
  box-sizing: border-box;
  display: flex;
  height: var(--spacing-layout-m);
  padding: 0 var(--header-margin);
  width: 100%;
}

.fullWidthForMobile .languageSelectorDropdownIcon:focus-visible {
  outline-offset: 0;
}
