.content-spacing-and-border {
  border-top: 8px solid var(--color-bus);
  margin-top: 40px;
  box-sizing: border-box;
}

.screen-reader-save-notification + p {
  margin-top: 0;
}

.no-scroll {
  overflow: hidden;
  max-height: 100vh;
}
