@import "../../styles/common";

.selectionGroup {
  --spacing-col: 1.25rem;
  --spacing-row: var(--spacing-s);
  --label-color-default: var(--color-black-90);
  --icon-size: var(--spacing-m);

  border: 0;
  padding: 0;
}

.selectionGroup > *:not(.items) {
  float: left;
}

.label {
  /* Normalize.css rule
   * Remove the padding so developers are not caught out when they zero out
   * `fieldset` elements in all browsers.
   */
  padding: 0;

  @extend %inputLabel;
  margin-bottom: var(--spacing-row);
}

.items {
  clear: left;
  display: grid;
  gap: var(--spacing-row) var(--spacing-col);
  justify-content: start;

  &.vertical {
    grid-auto-flow: row;
  }
  &.horizontal {
    grid-auto-flow: column;
  }
}

.tooltipButton {
  margin-left: var(--spacing-2-xs);
}

.errorText {
  composes: hds-selection-group__error-text from 'hds-core/lib/components/selection-group/selection-group.css';
}

.helperText {
  composes: helper-text from 'hds-core/lib/utils/helpers.css';
}
