@import '../../styles/common.scss';

.selectionGroup {
  composes: hds-selection-group from 'hds-core/lib/components/selection-group/selection-group.css';
}

.label {
  composes: hds-selection-group__legend from 'hds-core/lib/components/selection-group/selection-group.css';
}

.legendAndToolTipWrapper {
  display: flex;
  flex-direction: row;
}

.items {
  composes: hds-selection-group__items from 'hds-core/lib/components/selection-group/selection-group.css';

  &.vertical {
    grid-auto-flow: row;
  }

  &.horizontal {
    grid-auto-flow: column;
  }
}

.tooltipButton {
  margin-left: var(--spacing-2-xs);
}

.errorText {
  composes: hds-selection-group__error-text from 'hds-core/lib/components/selection-group/selection-group.css';
}

.helperText {
  composes: helper-text from 'hds-core/lib/utils/helpers.css';
  composes: hds-selection-group__helper-text-gap from 'hds-core/lib/components/selection-group/selection-group.css';
}
