.hds-table-container {
  overflow-x: auto;
}

.hds-table-container:focus {
  outline: var(--color-coat-of-arms) 3px solid;
}

.hds-table {
  --content-background-color: var(--color-white);

  border-collapse: collapse;
  line-height: 1.5;
  width: 100%;
}

.hds-table th {
  border-bottom: 1px solid var(--color-black-20);
  font-size: var(--fontsize-body-m);
  font-weight: 500;
  line-height: var(--lineheight-l);
  padding: var(--spacing-xs) var(--spacing-m);
  text-align: left;
  white-space: nowrap;
}

.hds-table__content--text-align-td-right td {
  text-align: right;
}

.hds-table__content tr td {
  background-color: var(--content-background-color);
  border-bottom: 1px solid var(--color-black-50);
  color: var(--color-black-90);
  font-size: var(--fontsize-body-m);
  font-weight: 400;
  line-height: 24px;
  padding: var(--spacing-xs) var(--spacing-m);
}

.hds-table__header-row {
  background-color: var(--header-background-color);
}

.hds-table__caption {
  font-size: var(--fontsize-body-l);
  font-weight: normal;
  line-height: var(--lineheight-l);
  margin-bottom: var(--spacing-s);
  text-align: left;
}

/* DARK VARIANT */

.hds-table--dark {
  --header-background-color: var(--color-bus);
}

.hds-table.hds-table--dark th {
  color: var(--color-white);
}

/* LIGHT VARIANT */

.hds-table--light {
  --header-background-color: var(--color-silver);
}

.hds-table.hds-table--light th {
  color: var(--color-black-90);
}

.hds-table--with-vertical-lines .hds-table__content td {
  border-right: 1px solid var(--color-black-50);
}

/* DENSE VARIANT */

.hds-table--dense.hds-table th {
  font-size: var(--fontsize-body-s);
  font-weight: bold;
  padding: 9px var(--spacing-s);
}

.hds-table--dense .hds-table__content tr td {
  font-size: var(--fontsize-body-s);
  padding: 9px var(--spacing-s);
}

.hds-table--dense .hds-table__caption {
  font-size: var(--fontsize-body-m);
  line-height: var(--lineheight-l);
  margin-bottom: var(--spacing-xs);
}

/* ZEBRA VARIANT */

.hds-table--zebra .hds-table__content tr td {
  border-bottom: none;
}

.hds-table--zebra .hds-table__content tr:nth-child(even) td {
  background-color: var(--color-black-10);
}

/* VERTICAL LINES VARIANT */

.hds-table--with-vertical-lines .hds-table__content {
  border-left: 1px solid var(--color-black-50);
}

.hds-table--with-vertical-lines .hds-table__header-row {
  border-left: 1px solid var(--header-background-color);
  border-right: 1px solid var(--header-background-color);
}

/* VERTICAL HEADER VARIANT */

.hds-table__vertical-header-column {
  background-color: var(--header-background-color);
}

.hds-table--with-vertical-header.hds-table--with-vertical-lines .hds-table__content {
  border-left: none;
}

.hds-table--with-vertical-lines.hds-table--with-vertical-header .hds-table__header-row {
  border-left: none;
}

/* MOBILE STYLES */

@media (max-width: 767px) {
  .hds-table th {
    font-size: var(--fontsize-body-s);
    font-weight: bold;
    padding: 9px var(--spacing-s);
  }

  .hds-table__content tr td {
    font-size: var(--fontsize-body-s);
    padding: 9px var(--spacing-s);
  }

  .hds-table__caption {
    font-size: var(--fontsize-heading-xxs);
    line-height: var(--lineheight-l);
    margin-bottom: var(--spacing-xs);
  }
}

/* UTILITY */

.hds-table--text-align-right {
  text-align: right;
}