.hds-table-container {
  overflow-x: auto;
}

.hds-table {
  border-collapse: collapse;
  font-family: var(--font-default); /* Tartteeko laittaa? */
  width: 100%;
  line-height: 1.5;
}

.hds-table th {
  border-bottom: 1px solid var(--color-black-20);
  white-space: nowrap;
  text-align: left;
  font-weight: 500;
  font-size: 16px;
  padding: 12px 24px;
}

.hds-table th {
  color: var(--color-white);
}

.hds-table.hds-table--light th {
  color: var(--color-black-90);
}

.hds-table--zebra .hds-table__content tr:nth-child(even) td {
  background-color: #f2f2f2;
}

.hds-table--with-vertical-lines .hds-table__content td {
  border-right: 1px solid var(--color-black-50);
}

.hds-table--with-vertical-lines .hds-table__content {
  border-left: 1px solid var(--color-black-50);
}

.hds-table--with-vertical-lines.hds-table--with-vertical-header .hds-table__content {
  border-left: none;
}

.hds-table--with-vertical-lines .hds-table__header-row {
  border-right: 1px solid var(--color-bus);
  border-left: 1px solid var(--color-bus);
}

.hds-table--with-vertical-lines.hds-table--with-vertical-header .hds-table__header-row {
  border-left: none;
}

.hds-table--with-vertical-lines.hds-table--light .hds-table__header-row {
  border-right: 1px solid var(--color-black-10);
  border-left: 1px solid var(--color-black-10);
}

.hds-table--with-vertical-lines.hds-table--with-vertical-header.hds-table--light .hds-table__header-row {
  border-left: none;
}

.hds-table__content tr td {
  font-weight: 400;
  padding: 12px 24px;
  border-bottom: 1px solid var(--color-black-50);
  font-size: 16px;
  color: var(--color-black-90);
}

.hds-table--text-align-right {
  text-align: right;
}

.hds-table__content--text-align-td-right td {
  text-align: right;
}

@media (max-width: 767px) {
  .hds-table th {
    text-align: left;
    font-weight: bold;
    font-size: 14px;
    padding: 9px 16px;
  }

  .hds-table__content tr td {
    padding: 9px 16px;
    font-size: 14px;
  }
}

.hds-table__header-row {
  background-color: var(--color-bus);
  color: var(--color-white);
}

.hds-table--light .hds-table__header-row {
  background-color: var(--color-black-10);
  color: var(--color-black-90);
}

.hds-table__vertical-header-column {
  background-color: var(--color-bus);
}

.hds-table--light .hds-table__vertical-header-column {
  background-color: var(--color-black-10);
}


