@use '../../icons/icon.css';
@use '../../icons/link-external.css';

.hds-link {
  --link-visited-color: #551a8b;
  --link-color: var(--color-bus);
  --icon-size: calc(1em + var(--spacing-4-xs));
  --text-decoration-thickness: 0.0625rem;
  --text-decoration-thickness-hover: calc(var(--text-decoration-thickness) * 2);

  color: var(--link-color);
  text-decoration: underline;
  text-decoration-thickness: var(--text-decoration-thickness);
  text-underline-offset: 10%;
}

.hds-link:visited {
  color: var(--link-visited-color);
}

.hds-link:visited svg g path { /* Fixes external link icon visited color for Safari */
  fill: var(--link-visited-color);
}

.hds-link:focus {
  outline: 3px solid var(--color-focus-outline);
}

.hds-link:hover {
  text-decoration-thickness: var(--text-decoration-thickness-hover);
}

.hds-link--disable-visited-styles:visited {
  color: var(--color-bus);
}

.hds-link--small {
  font-size: var(--fontsize-body-s);
}

.hds-link--medium {
  font-size: var(--fontsize-body-m);
}

.hds-link--large {
  font-size: var(--fontsize-body-l);
}

/* ICONS */

.hds-link[class*="hds-icon-start--"]:before,
.hds-link[class*="hds-icon-end--"]:after {
  vertical-align: sub;
}

.hds-link[class*="hds-icon-start--"]:before {
  margin-right: var(--spacing-4-xs);
}

.hds-link[class*="hds-icon-end--"]:after {
  margin-left: var(--spacing-4-xs);
}

.hds-link .hds-icon {
  vertical-align: sub;

    /* start-side icon */
    &:first-child:not(:last-child) {
      margin-right: var(--spacing-4-xs);
    }

    /* end-side icon */
    &:last-child:not(:first-child) {
      margin-left: var(--spacing-4-xs);
    } 
}