@import "../navigation.common";
@value small-down, medium-only, medium-up, large-up from "../../../styles/breakpoints.scss";

.signInButton > span {
  padding: var(--spacing-2-xs);
}

.userDropdown {
  &#{&} {
    --menu-button-focus-outline-color: var(--header-focus-outline-color);

    > div {
      @extend %navigationActionDropdown;
    }
  }
}

@media small-down {
  .user {
    padding: var(--spacing-m) var(--spacing-s);

    > *:not(:first-child) {
      margin-top: var(--spacing-s);
    }
  }

  .userName {
    align-items: center;
    display: flex;

    > svg {
      margin-right: var(--spacing-xs);
    }
  }
}

@media medium-only {
  // visually hide labels
  .signInButton > span,
  .userDropdown > button > span {
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    text-decoration: none;
    width: 1px;
  }
}

@media medium-up {
  .user {
    display: flex;

    .signInButton {
      --border-width: 3px;
      --background-color: transparent;
      --background-color-hover: transparent;
      --background-color-hover-focus: transparent;
      --border-color-focus: var(--header-focus-outline-color);
      --border-color-hover-focus: var(--header-focus-outline-color);
      --color: inherit;
      --color-hover: inherit;
      --color-focus: inherit;
      --color-hover-focus: inherit;
      --focus-outline-color: transparent;

      border-radius: 0;
      height: 100%;
      padding: var(--spacing-2-xs);

      > div {
        margin-left: 0;
      }
    }
  }
}

@media large-up {
  .user .signInButton {
    padding: 0 var(--spacing-3-xs);
  }
}
