@import "../../../styles/common";
@value x-small-down, small-only, small-down, medium-only, medium-up, large-up from "../../../styles/breakpoints.scss";

.search {
  align-items: center;
  display: flex;
  position: relative;
}

.searchToggleButton {
  @extend %buttonReset;

  align-items: center;
  border-radius: 0;
  display: flex;
  outline: none;
  padding: var(--spacing-3-xs);

  &:focus {
    box-shadow: 0 0 0 var(--header-focus-outline-width) var(--header-focus-outline-color);
  }
}

.searchContainer {
  align-items: center;
  border: var(--spacing-4-xs) solid var(--color-black-50);
  border-radius: 0;
  display: flex;
  height: var(--spacing-xl);
  position: relative;
  width: 100%;

  &:hover {
    border-color: var(--color-black-90);
  }

  &:focus-within {
    border-color: var(--color-black-90);
    box-shadow: 0 0 0 var(--header-focus-outline-width) var(--header-focus-outline-color);
  }
}

.input {
  align-self: stretch;

  // removes the input shadow on iOS
  appearance: none;
  border: 0;
  box-sizing: border-box;
  outline: none;
  padding: 0 var(--spacing-3-xl) 0 var(--spacing-s);
  width: 100%;
}

.searchButton {
  @extend %buttonReset;

  color: var(--color-black);
  display: flex;
  outline: none;
  position: absolute;
  right: var(--spacing-s);

  &:focus {
    box-shadow: 0 0 0 var(--header-focus-outline-width) var(--color-coat-of-arms);
  }
}

/* MEDIA */

@media small-down {
  .search {
    padding: var(--spacing-m) var(--spacing-s);
  }
}


@media medium-only {
  .label {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    margin: 0 -1px -1px 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}

@media medium-up {
  .search.active {
    .searchToggleButton {
      visibility: hidden;
    }

    .searchContainer {
      position: absolute;
      right: calc((var(--spacing-s) - var(--spacing-4-xs)) * -1);
      width: 12rem;
    }
  }
}

@media large-up {
  .label {
    display: inline;
    margin-left: var(--spacing-2-xs);
  }

  .search.active .searchContainer {
    width: 14rem;
  }
}
