@import url("../../icons/icon.css");
@import url("../../icons/cross.css");

.hds-tag {
  --tag-background: var(--color-black-10);
  --tag-color: var(--color-black-90);
  --tag-font-size-large: var(--fontsize-body-m);
  --tag-font-size: var(--fontsize-body-s);
  --tag-height-large: 48px;
  --tag-height: 32px;
  --tag-padding-large: 10px 20px;
  --tag-padding: 4px 12px;
  --tag-spacing-large: var(--spacing-s);
  --tag-spacing: var(--spacing-xs);

  align-items: center;
  background-color: var(--tag-background);
  border-radius: calc(var(--tag-height) / 2);
  box-sizing: border-box;
  color: var(--tag-color);
  display: inline-flex;
  flex-direction: row;
  font-size: var(--tag-font-size);
  gap: var(--spacing-2-xs);
  justify-content: center;
  line-height: 24px;
  min-height: var(--tag-height);
  outline: none;
  padding: var(--tag-padding)
}

.hds-tag--large {
  --tag-font-size:  var(--tag-font-size-large);
  --tag-height: var(--tag-height-large);
  --tag-padding: var(--tag-padding-large);
  --tag-spacing: var(--tag-spacing-large);
}

.hds-tag:focus,
.hds-tag:focus-within {
  box-shadow: 0 0 0 3px var(--color-focus-outline);
}

.hds-tag[tabindex='0'] {
  cursor: pointer;
}

.hds-tag__delete-button {
  display: flex;
  flex-shrink: 0;
  height: var(--spacing-m);

  /* Add negative horizontal margins to counter
  the gap and the padding on the side */
  margin: 0 calc(0px - var(--spacing-3-xs));
  outline: none;
  width: var(--spacing-m);
}
