@value small-down, x-small-down, x-large-up from "../../styles/breakpoints.scss";

.footer {
  --footer-background: var(--color-black-5);
  --footer-color: var(--color-black-90);
  --footer-divider-color: var(--color-black-20);
  --footer-focus-outline-border-radius: 0px;
  --footer-focus-outline-color: var(--color-coat-of-arms);
  --footer-focus-outline-width: 3px;
  --footer-padding: var(--spacing-l) var(--spacing-m) 0;

  color: var(--footer-color);

  // black theme overrides
  &.theme-dark {
    --footer-background: var(--color-black-80);
    --footer-color: var(--color-white);
    --footer-focus-outline-color: var(--color-white);
  }
}

.koros {
  fill: var(--footer-background, transparent);
}

.footerContent {
  background-color: var(--footer-background);
}

.footerSections {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--footer-padding);
}

.title {
  font-size: var(--fontsize-heading-m);
  font-weight: bold;
  letter-spacing: 0.4px;
  line-height: var(--lineheight-l);
}

@media x-small-down {
  .footer {
    --footer-padding: var(--spacing-m) var(--spacing-s) 0;
  }

  .footerSections {
    padding: var(--footer-padding);
  }
}

@media small-down {
  .titleWrapper {
    flex-direction: column;
  }

  .title {
    font-size: var(--fontsize-heading-s);
  }
}

@media x-large-up {
  .footerSections {
    margin: 0 auto;
    max-width: var(--container-width-xl);
  }
}
