@value small-down, medium-up, large-up, x-large-up from "../../styles/breakpoints.scss";

$koros-heights: (
  'basic': 14px,
  'beat': 70px,
  'pulse': 34px,
  'wave': 35px,
  'vibration': 54px,
);

.footer {
  --footer-focus-outline-width: 3px;
  --footer-focus-outline-border-radius: 2px;
  --footer-background: var(--color-black-5);
  --footer-color: var(--color-black);
  --footer-divider-color: var(--color-black-20);
  --footer-focus-outline-color: var(--color-coat-of-arms);

  color: var(--footer-color);

  // black theme overrides
  &.theme-dark {
    --footer-background: var(--color-black-80);
    --footer-color: var(--color-white);
    --footer-focus-outline-color: var(--color-white);
  }
}

.koros {
  fill: var(--footer-background, transparent);
  overflow: hidden;

  svg {
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    width: 4028px; /* can't use relative units here, as we want to have the koro waves always centered */
  }

  @each $type, $height in $koros-heights {
    &.#{$type} {
      height: #{$height};
    }
  }
}

.footerContent {
  background-color: var(--footer-background);
}

.navigationContainer {
  padding: var(--spacing-l) var(--spacing-m) var(--spacing-m);

  > *:only-child {
    margin-bottom: var(--spacing-2-xs);
  }
}

.titleWrapper {
  align-items: center;
  display: flex;
}

.title {
  font-size: var(--fontsize-heading-m);
  line-height: var(--lineheight-l);
  letter-spacing: 0.4px;
  font-weight: bold;
  letter-spacing: 0.4px;
  line-height: var(--lineheight-l);
}

@media small-down {
  .titleWrapper {
    flex-direction: column;
  }
  .title {
    font-size: var(--fontsize-heading-s);
  }
}

@media medium-up {
  .navigationContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

@media large-up {
  .navigationContainer.minimal {
    align-items: center;
    flex-direction: row;
    padding-bottom: var(--spacing-l);
  }
}

@media x-large-up {
  // set max-width of footer sections
  .footer > .footerContent > section,
  .footer > .footerContent > div {
    margin: 0 auto;
    max-width: var(--container-width-xl);
  }
}
