@import '../../styles/common';
@value medium-up from "../../styles/breakpoints.css";

//for document body element
.dialogVisibleBody {
  height: 100vh !important;
  overflow-y: hidden !important;
}

.dialogContainer {
  --accent-line-color: var(--color-bus);
  --overlay-color: rgba(0, 0, 0, 0.3);
  --width: 558px;

  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 800;
  overflow: auto;

  .dialogBackdrop {
    background: var(--overlay-color);
  }

  .dialog {
    border-top: 10px solid var(--accent-line-color);
    width: var(--width);
  }
}

.dialogBackdrop {
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
}

.dialog {
  background: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: auto var(--spacing-s);
  max-width: 100%;
  padding: var(--spacing-s) 0 var(--spacing-m);
  position: relative;
  z-index: 900;
}

.dialogScrollable {
  max-height: 80%;
  overflow: hidden;
}

@media medium-up {
  .dialog {
    margin: auto;
    min-width: var(--width, 558px);
  }
}
