.hds-card {
  --background-color: var(--color-white);
  --border-color: var(--color-black-90);
  --color: var(--color-black-90);
  --border-width: 2px;
  --padding-horizontal: var(--spacing-l);
  --padding-vertical: var(--spacing-m);

  background-color: var(--background-color);
  color: var(--color);
  padding: var(--padding-vertical) var(--padding-horizontal);
}

/* WITH BORDER */
.hds-card--border {
  border: var(--border-width) solid var(--border-color);
}

/* WITH BOX-SHADOW */
.hds-card--box-shadow {
  box-shadow: var(--box-shadow-m);
}

/* BODY */
.hds-card__body {
  display: grid;
  gap: var(--spacing-s);
  margin-bottom: var(--spacing-l);
}

.hds-card__body:last-child {
  margin-bottom: 0;
}

/* BODY TEXT */
.hds-card__text {
  font-size: var(--fontsize-body-m);
  line-height: var(--lineheight-l);
}
