.skipToContent {
  --background-color: var(--color-white);
  --text-color: var(--color-black);
  --border-color: var(--color-bus);
  --outline-color: var(--color-black);
  --border-width: 3px;
  --width: 213px;
  --height: 66px;

  align-items: center;
  display: flex;
  height: 1px;
  justify-content: center;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;

  &:focus {
    background-color: var(--background-color);
    border: var(--border-width) solid var(--border-color);
    height: var(--height);
    left: 0;
    outline: transparent;
    position: absolute;
    text-decoration: none;
    top: 0;
    transition: all 0.25s ease-in;
    width: var(--width);
    z-index: 99;

    & span {
      align-items: center;
      color: var(--text-color);
      display: flex;
      height: calc(var(--height) - 2 * 6px);
      justify-content: center;
      outline: var(--outline-color) solid var(--border-width);
      width: calc(var(--width) - 2 * 6px);
    }
  }

}
