@import "../sideNavigation.common";


.mainLevel {
  @extend %level;

  font-size: var(--fontsize-body-m);

  & > a,
  & > button {
    font-weight: 500;
  }
}

.active {
  @extend %activeLevel;
}

.mainLevelListMenu {
  display: none;
}

.mainLevelWithDivider {
  &:before {
    border-top: 1px solid var(--color-black-20);
    content: "";
    display: block;
    height: 1px;
    margin: var(--spacing-xs) var(--side-navigation-level-inset);
  }
}

.leftIcon,
.label {
  margin-right: var(--spacing-xs);
}

.leftIcon,
.rightIcon {
  width: var(--side-navigation-icon-size);
}

.rightIcon {
  margin-left: auto;
}

.mainLevel.open {
  .mainLevelListMenu {
    display: block;
    list-style: none;
    padding: 0;
  }
}
