.mainLevel {
  composes: level from '../SideNavigation.module.scss';

  font-size: var(--fontsize-body-m);

  & > a,
  & > button {
    font-weight: 500;
  }
}

.active {
  composes: activeLevel from '../SideNavigation.module.scss';
}

.mainLevelListMenu {
  display: none;
}

.mainLevelWithDivider {
  composes: mainLevelWithDivider from '../SideNavigation.module.scss';
}

.leftIcon,
.label {
  margin-right: var(--spacing-xs);
}

.leftIcon,
.rightIcon {
  width: var(--side-navigation-icon-size);
}

.rightIcon {
  margin-left: auto;
}

.mainLevel.open {
  .arrowIcon {
    transform: rotate(180deg);
  }

  .mainLevelListMenu {
    padding: 0;
    display: block;
    list-style: none;
  }
}
