.section {
  position: relative;
}

.section.withKoros {
  padding: 2em 0;
  z-index: 1;
}

.section:not(.withKoros) {
  padding: 4em 0;
}

.content {
  padding: var(--hds-theme-content-padding);
  max-width: var(--hds-theme-content-width);
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.section.plain {
  background-color: var(--hds-ui-color-white);
  color: var(--hds-ui-color-black);
}

.section.primary {
  background-color: var(--hds-theme-color-primary);
  color: var(--hds-theme-color-primary-heading);
}

.section.secondary {
  background-color: var(--hds-theme-color-secondary);
  color: var(--hds-theme-color-secondary-heading);
}

.section.tertiary {
  background-color: var(--hds-theme-color-tertiary);
  color: var(--hds-theme-color-tertiary-heading);
}

.section.plain .koros {
  fill: var(--hds-ui-color-white);
}

.section.primary .koros {
  fill: var(--hds-theme-color-primary);
}

.section.secondary .koros {
  fill: var(--hds-theme-color-secondary);
}

.section.tertiary .koros {
  fill: var(--hds-theme-color-tertiary);
}

.koros {
  position: absolute;
}

.koros.basic.topKoros {
  top: -1em;
}

.koros.beat.topKoros {
  top: -4.5em;
}

.koros.pulse.topKoros {
  top: -2.2em;
}

.koros.storm.topKoros {
  top: -2.3em;
}

.koros.wave.topKoros {
  top: -3.4em;
}

.koros.basic.bottomKoros {
  bottom: -1em;
}

.koros.beat.bottomKoros {
  bottom: -4.5em;
}

.koros.pulse.bottomKoros {
  bottom: -2.2em;
}

.koros.storm.bottomKoros {
  bottom: -2.3em;
}

.koros.wave.bottomKoros {
  bottom: -3.4em;
}
