.section {
  --section-background-plain: var(--color-white);
  --section-background-primary: var(--color-coat-of-arms);
  --section-background-secondary: var(--color-fog);
  --section-background-tertiary: var(--color-suomenlinna);
  --section-color-plain: var(--color-black-90);
  --section-color-primary: var(--color-white);
  --section-color-secondary: var(--color-black-90);
  --section-color-tertiary: var(--color-white);

  position: relative;
}

.section.withKoros {
  padding: 2em 0;
  z-index: 1;
}

.section:not(.withKoros) {
  padding: 4em 0;
}

.content {
  margin: 0 auto;
  max-width: 72em;
  padding: var(--spacing-layout-s) var(--spacing-layout-xl);
  position: relative;
  z-index: 1;
}

.section.plain {
  background-color: var(--section-background-plain);
  color: var(--section-color-plain);
}

.section.primary {
  background-color: var(--section-background-primary);
  color: var(--section-color-primary);
}

.section.secondary {
  background-color: var(--section-background-secondary);
  color: var(--section-color-secondary);
}

.section.tertiary {
  background-color: var(--section-background-tertiary);
  color: var(--section-color-tertiary);
}

.koros {
  position: absolute;
}

.section.plain .koros {
  fill: var(--section-background-plain);
}

.section.primary .koros {
  fill: var(--section-background-primary);
}

.section.secondary .koros {
  fill: var(--section-background-secondary);
}

.section.tertiary .koros {
  fill: var(--section-background-tertiary);
}

.koros.basic.topKoros {
  top: -1em;
}

.koros.beat.topKoros {
  top: -4.5em;
}

.koros.pulse.topKoros {
  top: -2.2em;
}

.koros.wave.topKoros {
  top: -2.3em;
}

.koros.vibration.topKoros {
  top: -3.4em;
}

.koros.basic.bottomKoros {
  bottom: -1em;
}

.koros.beat.bottomKoros {
  bottom: -4.5em;
}

.koros.pulse.bottomKoros {
  bottom: -2.2em;
}

.koros.wave.bottomKoros {
  bottom: -2.3em;
}

.koros.vibration.bottomKoros {
  bottom: -3.4em;
}

@media all and (max-width: 768px) {
  .content {
    padding: 0.5em 1em;
  }
}
