@import "~hds-design-tokens/lib/all.scss";

@mixin small-screen {
  @media (max-width: $breakpoint-s) {
    @content;
  }
}

$breakpoint-small-medium-above: $breakpoint-s + 1px;

@mixin small-medium-and-above-screen {
  @media (min-width: $breakpoint-small-medium-above) {
    @content;
  }
}

@mixin medium-screen {
  @media (max-width: $breakpoint-m) {
    @content;
  }
}

$breakpoint-medium-above: $breakpoint-m + 1px;

@mixin medium-and-above-screen {
  @media (min-width: $breakpoint-medium-above) {
    @content;
  }
}

$breakpoint-large-above: $breakpoint-l + 1px;

@mixin large-and-above-screen {
  @media (min-width: $breakpoint-large-above) {
    @content;
  }
}

@mixin large-screen {
  @media (max-width: $breakpoint-l) {
    @content;
  }
}

$breakpoint-x-large-above: $breakpoint-xl + 1px;

@mixin x-large-and-above-screen {
  @media (min-width: $breakpoint-x-large-above) {
    @content;
  }
}
