@import "./utils.scss";

.hero-container {
  --koros-height: 145px;
  --hero-height: 520px;

  background-color: var(--color-coat-of-arms);
  box-sizing: border-box;
  position: relative;
}

.hero-bg-image {
  aspect-ratio: 16 / 9;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: calc(var(--koros-height) / -2);

  @include x-large-and-above-screen {
    aspect-ratio: unset;
    height: 100%;
    margin-top: 0;
    left: calc((100% - var(--breakpoint-xl)) / 2);
    right: 0;
    position: absolute;
    top: 0;
  }
}

.hero-wrapper {
  margin: 0 auto;

  @include x-large-and-above-screen {
    max-width: var(--breakpoint-xl);
  }
}

.hero {
  color: var(--color-white);
  overflow: hidden;
  position: relative;

  @include x-large-and-above-screen {
    min-height: var(--hero-height);
  }
}

.hero-content {
  --triangle-top-corner-x: calc(100% + var(--spacing-layout-xl));
  --triangle-bottom-corner-x: calc(100% + var(--koros-height) + var(--spacing-layout-xl));

  background-color: var(--color-coat-of-arms);
  box-sizing: border-box;
  left: var(--hero-small-left);
  max-width: 60ch;
  padding: var(--spacing-m) var(--spacing-s);
  position: relative;
  z-index: 3;

  @include x-large-and-above-screen {
    clip-path: polygon(0 0, var(--triangle-top-corner-x) 0, 0 var(--triangle-bottom-corner-x), 0% 50%);
    left: auto;
    max-width: initial;
    padding: var(--spacing-l) var(--spacing-m);
    width: 67%;

    &:after {
      clear: both;
      content: "";
      display: table;
    }
  }
}

.hero-content-shape {
  @include x-large-and-above-screen {
    float: right;
    min-height: var(--hero-height);
    shape-outside: polygon(87% 0%, 100% 0%, 100% 100%, 37% 100%);
    width: 100%;
  }
}

.hero-title {
  font-size: var(--fontsize-heading-xxl);
  font-weight: 400;
  line-height: var(--lineheight-s);
  letter-spacing: -0.012em;
  margin: var(--spacing-m) 0 0 var(--spacing-m);

  @include x-large-and-above-screen {
    font-size: var(--fontsize-heading-xxl);
    margin: var(--spacing-xl) 0 0 0;
  }

  @include medium-screen {
    font-size: var(--fontsize-heading-xl);
    margin: var(--spacing-s) 0 0 var(--spacing-s);
  }

  @include small-screen {
    font-size: var(--fontsize-heading-l);
    margin: 0;
  }
}

.hero-text {
  margin: var(--spacing-s) 0 var(--spacing-l) var(--spacing-m);
  line-height: var(--lineheight-l);
  font-size: var(--fontsize-body-xl);

  @include x-large-and-above-screen {
    font-size: var(--fontsize-body-xl);
    line-height: var(--lineheight-l);
    margin: var(--spacing-m) 0 var(--spacing-xl) 0;
    max-width: 460px;
  }

  @include medium-screen {
    font-size: var(--fontsize-body-l);
    margin: var(--spacing-s) 0 var(--spacing-l) var(--spacing-s);
  }

  @include small-screen {
    font-size: var(--fontsize-body-l);
    margin: var(--spacing-xs) 0 var(--spacing-m) 0;
  }
}

.hero-koros {
  fill: var(--color-coat-of-arms);
  z-index: 2;
}

.hero-koros-horizontal {
  display: block;
  position: relative;
  top: -50px;

  @include x-large-and-above-screen {
    display: none;
  }
}

.hero-koros-rotated {
  display: none;

  @include x-large-and-above-screen {
    display: block;
    position: absolute;
    top: var(--koros-height);
    width: calc(100% + var(--koros-height)) !important;
  }
}

.front-page-hero-button {
  margin: 0 0 0 var(--spacing-m);

  @include x-large-and-above-screen {
    margin: 0;
  }

  @include medium-screen {
    margin: 0 0 0 var(--spacing-s);
  }

  @include small-screen {
    margin: 0;
  }
}
