@value large-up from "../../styles/breakpoints.css";

@value heroCss: "../../../../core/src/components/hero/hero.css";

.hero {
  composes: hds-hero from heroCss;
}

.container {
  composes: hds-hero__container from heroCss;
}

.content {
  composes: hds-hero__content from heroCss;
}

.singleColumn {
  composes: hds-hero__content--single-column from heroCss;
}

.twoColumns {
  composes: hds-hero__content--two-columns from heroCss;
}

.twoColumnsImageContainer {
  composes: hds-hero__content--two-columns__image-container from heroCss;
}

.card {
  composes: hds-hero__card from heroCss;
}

.centeredContent {
  composes: hds-hero__card--centered-content from heroCss;
}

.image {
  composes: hds-hero__image from heroCss;
}

.imageBelowKoros {
  composes: hds-hero__image-below-koros from heroCss;
}

.withBackgroundContainer {
  composes: hds-hero--with-background__container from heroCss;
}

.withBackgroundBackground {
  composes: hds-hero--with-background__background from heroCss;
}

/* backgroundTop specific styles */

.backgroundTop {
  composes: hds-hero--background-top from heroCss;
}

.topKoros {
  composes: hds-hero--background-top__top-koros from heroCss;
}

.bottomKoros {
  composes: hds-hero--background-top__bottom-koros from heroCss;
}

/* angledKoros specific styles */

.angledKoros {
  composes: hds-hero--angled-koros from heroCss;
}

.angledKorosWithBackgroundContainer {
  composes: hds-hero--angled-koros hds-hero--with-background__container from heroCss;
}

.angledKorosAndBackground {
  composes: hds-hero--angled-koros hds-hero--angled-koros__koros-and-background from heroCss;
}

.angledKorosMobileKoros {
  display: block;
}

.angledKorosAndBackground {
  display: none;
}

/* imageLeft/Right specific styles */

.imageLeft {
  composes: hds-hero--image-left from heroCss;
}
.imageRight {
  composes: hds-hero--image-right from heroCss;
}

@media large-up {
  /* angledKoros specific styles */
  .angledKorosMobileKoros {
    display: none;
  }
  .angledKorosAndBackground {
    display: block;
  }
}
