@value large-up from "../../styles/breakpoints.css";

@value heroCss: "../../../../core/src/components/hero/hero.css";

.hero {
  composes: hds-hero from heroCss;
}

.container {
  composes: hds-hero__container from heroCss;
}

.content {
  composes: hds-hero__content from heroCss;
}

.singleColumn {
  composes: hds-hero__content--single-column from heroCss;
}

.twoColumns {
  composes: hds-hero__content--two-columns from heroCss;
}

.twoColumnsImageContainer {
  composes: hds-hero__content--two-columns__image-container from heroCss;
}

.card {
  composes: hds-hero__card from heroCss;
}

.centeredContent {
  composes: hds-hero__card--centered-content from heroCss;
}

.image {
  composes: hds-hero__image from heroCss;
}

.imageBelowKoros {
  composes: hds-hero__image-below-koros from heroCss;
}

.withBackgroundContainer {
  composes: hds-hero--with-background__container from heroCss;
}

.withBackgroundBackground {
  composes: hds-hero--with-background__background from heroCss;
}

/* backgroundImage specific styles */

.backgroundImage {
  composes: hds-hero--background-image from heroCss;
}

.topKoros {
  composes: hds-hero--background-image__top-koros from heroCss;
}

.bottomKoros {
  composes: hds-hero--background-image__bottom-koros from heroCss;
}

/* diagonalKoros specific styles */

.diagonalKoros {
  composes: hds-hero--diagonal-koros from heroCss;
}

.diagonalKorosWithBackgroundContainer {
  composes: hds-hero--diagonal-koros hds-hero--with-background__container from heroCss;
}

.diagonalKorosAndBackground {
  composes: hds-hero--diagonal-koros hds-hero--diagonal-koros__koros-and-background from heroCss;
}

.contentColums {
  composes: hds-hero--with-background__contentColumns from heroCss;
}
.emptyColumn {
  composes: hds-hero--with-background__empty-column from heroCss;
}

.diagonalKorosMobileKoros {
  display: block;
}

.diagonalKorosAndBackground {
  display: none;
}

/* imageLeft/Right specific styles */

.imageLeft {
  composes: hds-hero--image-left from heroCss;
}
.imageRight {
  composes: hds-hero--image-right from heroCss;
}

@media large-up {
  /* diagonalKoros specific styles */
  .diagonalKorosMobileKoros {
    display: none;
  }
  .diagonalKorosAndBackground {
    display: block;
  }
}
