@value x-small-down, small-down, small-only, medium-only, medium-up, large-only, large-up, x-large-only, x-large-up from "../../../styles/breakpoints.css";

/* NAVIGATION */

.navigation {
  display: flex;
  flex: 1;
  height: 100%;
}

/* NAVIGATION ITEM */

.navigationItem {
  composes: button-reset from 'hds-core/lib/utils/helpers.css';
}

.navigation .navigationItem {
  align-items: center;
  color: inherit;
  display: flex;
  font-weight: 500;
  outline: none;
  position: relative;
  text-decoration: none;
}

.navigationItem:global(.navigationDropdown) :global .dropdownButton {
  cursor: pointer;
  font-weight: inherit;
}

.navigationItem:global(.navigationDropdown) :global .menu .menuItem > .option {
  font-size: var(--fontsize-body-m);
  font-weight: normal;
}

/* navigation item - focus outline */
.navigationItem:focus::before {
  border: var(--header-focus-outline-width) solid var(--header-focus-outline-color);
  border-radius: var(--header-focus-outline-border-radius);
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navigation.subNav {
  --header-focus-outline-color: var(--navigation-row-focus-outline-color);
}

/* navigation item - dropdown - focus outline */
.navigationItem:global(.navigationDropdown):focus-within :global .dropdownWrapper::before {
  --offset: calc(var(--spacing-2-xs) * -1);
  --outline-size: calc(100% + var(--spacing-2-xs) * 2);

  background-color: transparent;
  border: var(--header-focus-outline-width) solid var(--header-focus-outline-color);
}

/* MEDIA */

@media x-small-down {
  .navigation {
    padding: var(--spacing-s) var(--spacing-2-xs);
  }
}

@media small-only {
  .navigation {
    padding: var(--spacing-2-xs) var(--spacing-3-xs);
  }
}

@media small-down {
  .navigationItem {
    --header-focus-outline-color: var(--navigation-row-focus-outline-color);
  }

  .navigation {
    flex-direction: column;
  }

  .navigationItem {
    padding: var(--spacing-2-xs);
  }

  .navigationItem:not(:first-child) {
    margin-top: var(--spacing-2-xs);
  }

  /* navigation item - dropdown */
  .navigationItem.navigationItem:global(.navigationDropdown) {
    --border-width: 0;
    --dropdown-background-default: var(--mobile-menu-background-color);
    --dropdown-height: var(--spacing-m);

    display: flex;
    flex-direction: column;
  }

  /* navigation item - dropdown - angle icon */
  .navigationItem:global(.navigationDropdown) :global .dropdownAngleIcon {
    margin-left: auto;
  }

  /* navigation item - dropdown - menu */
  .navigationItem:global(.navigationDropdown) :global .menu.menu {
    position: relative;
  }

  /* navigation item - dropdown - menu item */
  .navigationItem:global(.navigationDropdown) :global .menu .menuItem {
    background-color: transparent;
  }

  /* navigation item - dropdown - option */
  .navigationItem:global(.navigationDropdown) :global .menu .menuItem .option {
    color: var(--navigation-row-color);
    margin: var(--spacing-2-xs) 0 0 var(--spacing-3-xs);
    padding: var(--spacing-2-xs);
    position: relative;
  }

  /* navigation item - dropdown - option - focus outline */
  .navigationItem:global(.navigationDropdown) :global .menu .menuItem.highlighted:not(:hover) .option::before {
    border: var(--header-focus-outline-width) solid var(--header-focus-outline-color);
    border-radius: var(--header-focus-outline-border-radius);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
}

@media medium-only {
  .navigation:not(.subNav) .navigationItem.active:global(.navigationDropdown):focus-within :global .dropdownWrapper::before {
    transform: translate(calc(var(--offset) + 1px), var(--offset)) scale(1);
    width: calc(100% + var(--spacing-2-xs) * 2 - 2px);
  }

  .navigation:not(.subNav) {
    margin-left: var(--spacing-m)
  }
}

@media medium-up {
  .navigation.subNav {
    color: var(--navigation-row-color);
    height: var(--spacing-3-xl);
    padding: 0 var(--spacing-m);
  }

  /* NAVIGATION ITEM */

  .navigationItem {
    height: 100%;
    padding: var(--spacing-2-xs);
  }

  .navigationItem:not(:first-child) {
    margin-left: var(--spacing-2-xs);
  }

  .navigation:not(.subNav) .navigationItem {
    padding: var(--spacing-2-xs) var(--spacing-3-xs);
  }

  .navigation.subNav .navigationItem:not(:first-child) {
    margin-left: var(--spacing-s);
  }

  /* inline navigation bar - navigation item - dropdown */
  .navigation:not(.subNav) .navigationItem:global(.navigationDropdown) {
    --dropdown-height: calc(var(--header-height) - var(--spacing-2-xs) * 2);
  }

  /* full width navigation bar - navigation item - dropdown */
  .navigation.subNav .navigationItem:global(.navigationDropdown) {
    --dropdown-background-default: var(--navigation-row-background-color);
  }

  /* navigation item - dropdown - toggle button label */
  .navigationItem:global(.navigationDropdown) :global .dropdownButtonLabel {
    display: inline;
  }

  /* navigation item - dropdown - menu */
  .navigationItem.navigationItem:global(.navigationDropdown) :global .menu.menu {
    left: 0;
    right: auto;
    top: calc(var(--dropdown-height) + var(--border-width));
  }

  /* navigation item - dropdown - menu item */
  .navigationItem:global(.navigationDropdown) :global .menu .menuItem {
    min-height: var(--spacing-xl);
  }

  /* NAVIGATION ITEM - ACTIVE */

  .navigationItem.active::after,
  .navigationItem:hover::after {
    --active-height: 0.313rem;

    background-color: transparent;
    bottom: 0;
    content: '';
    height: 0;
    left: 0;
    position: absolute;
    transform: translateY(var(--active-height));
    width: 100%;
  }

  .navigationItem:hover:not(:focus)::after,
  .navigationItem.active::after,
  .navigationItem.active:hover::after {
    transform: translateY(0);
  }

  .navigationItem:hover:not(:focus):not(:focus-within)::after,
  .navigationItem.active::after {
    height: var(--active-height);
  }

  .navigation:not(.subNav) .navigationItem:hover::after,
  .navigation:not(.subNav) .navigationItem.active::after {
    background-color: var(--header-color);
  }

  .navigation.subNav .navigationItem:hover::after,
  .navigation.subNav .navigationItem.active::after {
    background-color: var(--navigation-row-color);
  }

  /* navigation item - active - focus outline  */
  .navigationItem.active:focus::before {
    height: calc(100% + var(--header-focus-outline-width) + 1px);
    transform: translateX(calc(var(--header-focus-outline-width) * -1));
    width: calc(100% + var(--header-focus-outline-width) * 2);
  }

  /* navigation item - dropdown - active - focus outline  */
  .navigationItem.active:global(.navigationDropdown):focus-within :global .dropdownWrapper::before {
    height: calc(100% + var(--spacing-2-xs) * 2 + var(--header-focus-outline-width) + 1px);
    transform: translate(calc(var(--offset) - var(--header-focus-outline-width)), var(--offset)) scale(1);
    width: calc(100% + var(--spacing-2-xs) * 2 + var(--header-focus-outline-width) * 2);
  }
}

@media large-only {
  .navigation:not(.subNav) {
    margin-left: var(--spacing-l)
  }
}

@media large-up {
  .navigation.subNav {
    margin: 0 auto;
    max-width: var(--breakpoint-xl);
  }

  .navigationItem:not(:first-child) {
    margin-left: var(--spacing-s);
  }

  .navigation:not(.subNav) .navigationItem {
    padding: var(--spacing-2-xs);
  }

  .navigationItem:global(.navigationDropdown) :global .dropdownButtonLabel:first-child {
    margin-left: 0;
  }

  /* navigation item - dropdown - active - focus outline  */
  .navigationItem.active:global(.navigationDropdown):focus-within :global .dropdownWrapper::before {
    height: calc(100% + var(--spacing-2-xs) * 2 + var(--header-focus-outline-width) + 1px);
    transform: translate(calc(var(--offset) - var(--header-focus-outline-width)), var(--offset)) scale(1);
    width: calc(100% + var(--spacing-2-xs) * 2 + var(--header-focus-outline-width) * 2);
  }
}

@media x-large-up {
  .navigation.subNav .navigationItem:not(:first-child) {
    margin-left: var(--spacing-m);
  }

  .navigation:not(.subNav) {
    margin-left: var(--spacing-2-xl)
  }
}
