.linkbox {
  cursor: pointer;

  &:focus {
    outline: var(--color-coat-of-arms) 3px solid;
  }
}

.withBackground {
  background-color: var(--color-white);
}

.withoutBackground {
  background: transparent;
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 0 !important;
}

.paddingWithoutImageAndWithBackground {
  padding-top: 22px;
}

.paddingWithoutImageAndWithoutBackground {
  padding: 0;
}

.withSmallImage {
  padding-top: 16px;
}

.withMediumImage {
  padding-top: 16px;
}

.withLargeImage {
  padding-top: 24px;
}

.contentSmall {
  padding-left: 14px;
  padding-right: 14px;
  padding-bottom: 22px;
}

.contentMedium {
  padding-left: 14px;
  padding-right: 14px;
  padding-bottom: 22px;
}

.contentLarge {
  padding-left: 22px;
  padding-right: 22px;
  padding-bottom: 30px;
}

.withBorder {
  border: 2px solid var(--color-black-90);
}

.withoutBorder {
  border: solid 2px transparent;
}

.headingCommon {
  font-family: var(--font-default);
  font-weight: bold;
  color: var(--color-black-90);
  line-height: var(--lineheight-m);
}

.headingSmall {
  padding-bottom: 0;
  font-size: var(--fontsize-heading-s);
}

.headingMedium {
  padding-bottom: 3px;
  font-size: var(--fontsize-heading-m);
}

.headingLarge {
  padding-bottom: 4px;
  font-size: var(--fontsize-heading-l);
}

.text {
  font-family: var(--font-default);
  font-size: var(--fontsize-body-m);
  margin-top: 8px;
  margin-bottom: 16px;
  line-height: var(--lineheight-l);
  color: var(--color-black-90);
}

.link {
  display: inline-block;
  line-height: var(--lineheight-l);
  color: var(--color-black-90);
  
  &:focus {
    outline: none;
    border: none;
  }
}

.icon {
  vertical-align: bottom;
}

.image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}
