.linkbox {
  cursor: pointer;
  position: relative;

  &:focus-within {
    outline: var(--color-coat-of-arms) 3px solid;
  }
}

.withBackground {
  background-color: var(--color-white);
}

.withoutBackground {
  background: transparent;
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-bottom: var(--spacing-2-xl) !important;
}

.paddingWithoutImageAndWithBackground {
  padding-top: var(--spacing-m);
}

.paddingWithoutImageAndWithoutBackground {
  padding: 0;
}

.withSmallImage {
  padding-top: var(--spacing-s);
}

.withMediumImage {
  padding-top: var(--spacing-s);
}

.withLargeImage {
  padding-top: var(--spacing-m);
}

.contentSmall {
  padding-left: var(--spacing-s);
  padding-right: var(--spacing-s);
  padding-bottom: var(--spacing-4-xl);
}

.contentMedium {
  padding-left: var(--spacing-s);
  padding-right: var(--spacing-s);
  padding-bottom: var(--spacing-4-xl);
}

.contentLarge {
  padding-left: var(--spacing-m);
  padding-right: var(--spacing-m);
  padding-bottom: var(--spacing-5-xl);
}

.withBorder {
  .contentSmall {
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 62px;
  }

  .contentMedium {
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 62px;
  }

  .contentLarge {
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 70px;
  }

  .paddingWithoutImageAndWithBackground {
    padding-top: 22px;
  }
}

.contentLarge .text {
  margin-bottom: var(--spacing-m);
}

.withBorder {
  border: solid 2px var(--color-black-90);

  &:focus-within {
    outline: var(--color-coat-of-arms) 3px solid;
    border: var(--color-black-90) 2px solid !important;
  }
}

.headingSmall {
  padding-bottom: 0;
  composes: heading-s from 'hds-core/lib/utils/helpers.css';
}

.headingMedium {
  composes: heading-m from 'hds-core/lib/utils/helpers.css';
}

.headingLarge {
  padding-bottom: var(--spacing-2-xs);
  composes: heading-l from 'hds-core/lib/utils/helpers.css';
}

.text {
  font-family: var(--font-default);
  font-size: var(--fontsize-body-m);
  margin-top: var(--spacing-2-xs);
  margin-bottom: var(--spacing-s);
  line-height: var(--lineheight-l);
  color: var(--color-black-90);
}

.link {
  width: 100%;
  height:100%;
  display: inline-block;
  position: absolute;
  line-height: var(--lineheight-l);
  color: var(--color-black-90);
  top: 0;
  left: 0;
  
  &:focus {
    outline: none;
    border: none;
  }
}

.icon {
  vertical-align: bottom;
  position: absolute;
  bottom: var(--spacing-s);
  left: var(--spacing-s);
}

.withBorder {
  .icon {
    bottom: 14px;
    left: 14px;
  }
}

.iconWhenNoBackground {
  bottom: 0;
  left: 0;
}

.iconPositionForLinkboxLargeVariant {
  bottom: 22px;
  left: 22px;
}

.image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}
