.button {
  composes: text-medium from '~hds-core/lib/helsinki.css';
  display: inline-block;
  padding: 1.125em 2em;
  cursor: pointer;
  transition: background-color 0.15s;
}

.disabled {
  pointer-events: none;
}

.primary {
  background-color: var(--hds-theme-color-primary);
  color: var(--hds-theme-color-primary-heading);
}

.primary.disabled {
  background-color: var(--hds-theme-color-primary-light);
}

.primary:hover {
  background-color: var(--hds-theme-color-primary-dark);
}

.secondary {
  background-color: var(--hds-theme-color-secondary);
  color: var(--hds-theme-color-secondary-heading);
}

.secondary.disabled {
  background-color: var(--hds-theme-color-secondary-light);
}

.secondary:hover {
  background-color: var(--hds-theme-color-secondary-dark);
}

.tertiary {
  background-color: var(--hds-theme-color-tertiary);
  color: var(--hds-theme-color-tertiary-heading);
}

.tertiary.disabled {
  background-color: var(--hds-theme-color-tertiary-light);
}

.tertiary:hover {
  background-color: var(--hds-theme-color-tertiary-dark);
}

.supplementary {
  color: var(--hds-theme-color-primary);
}

.supplementary.disabled {
  color: var(--hds-ui-color-black-30);
}

.supplementary:hover {
  text-decoration: underline;
}

.small {
  padding: 0.5em 1.5em;
}
