@use 'hds-core/lib/components/button/_button-mixin-2' as CoreSass;

@mixin get-only-modifier-output($modifierName) {
  @include CoreSass.button(
    $modifiers: $modifierName,
    $elements: false,
    $extras: false,
    $config: (
      'emitContentOnly': 'all',
    )
  );
}

@mixin get-only-element-output($elementName) {
  @include CoreSass.button(
    $modifiers: false,
    $elements: $elementName,
    $extras: false,
    $config: (
      'emitContentOnly': 'all',
    )
  );
}

@mixin get-theme-modifier-output($themeName, $modifierName) {
  $theme: 'theme-#{$themeName}';

  @include CoreSass.button(
    $modifiers: (
      $modifierName: true,
      $theme: true,
    ),
    $elements: false,
    $extras: (
      $theme: true,
    ),
    $config: (
      'emitContentOnly': 'all',
    )
  );
}

.button {
  @include CoreSass.button(
    $modifiers: false,
    $elements: 'base',
    $extras: false,
    $config: (
      'emitContentOnly': 'root',
    )
  );
}

.primary {
  @include get-only-modifier-output('primary');
}

.secondary {
  @include get-only-modifier-output('secondary');
}

.supplementary {
  @include get-only-modifier-output('supplementary');
}

.theme-coat {
  &.primary {
    @include get-theme-modifier-output('coat', 'primary');
  }

  &.secondary {
    @include get-theme-modifier-output('coat', 'secondary');
  }

  &.supplementary {
    @include get-theme-modifier-output('coat', 'supplementary');
  }
}

.theme-black {
  &.primary {
    @include get-theme-modifier-output('black', 'primary');
  }

  &.secondary {
    @include get-theme-modifier-output('black', 'secondary');
  }

  &.supplementary {
    @include get-theme-modifier-output('black', 'supplementary');
  }
}

.clear {
  @include get-only-modifier-output('clear');
}

.success {
  @include get-only-modifier-output('success');
}

.danger {
  @include get-only-modifier-output('danger');
}

.size-small {
  @include get-only-modifier-output('small');
}

.fullWidth {
  @include get-only-modifier-output('fullwidth');
}

.icon {
  @include get-only-element-output('icon');
}
