.button {
  composes: text-medium from '~hds-core/lib/variables/typography.css';
  composes: hds-button from '~hds-core/lib/components/buttons.css';
}

.label {
  composes: hds-button__label from '~hds-core/lib/components/buttons.css';
}

.fullWidth {
  composes: hds-button--fullwidth from '~hds-core/lib/components/buttons.css';
}

.small {
  composes: hds-button--small from '~hds-core/lib/components/buttons.css';
}

.icon {
  composes: hds-icon from '~hds-core/lib/components/buttons.css';
}

.primary {
  composes: hds-button--primary from '~hds-core/lib/components/buttons.css';
}

.secondary {
  composes: hds-button--secondary from '~hds-core/lib/components/buttons.css';
}

.supplementary {
  composes: hds-button--supplementary from '~hds-core/lib/components/buttons.css';
}
