.button {
  composes: hds-button from 'hds-core/lib/components/button/button.css';
}

.label {
  composes: hds-button__label from 'hds-core/lib/components/button/button.css';
}

.fullWidth {
  composes: hds-button--fullwidth from 'hds-core/lib/components/button/button.css';
}

.size-small {
  composes: hds-button--small from 'hds-core/lib/components/button/button.css';
}

.icon {
  composes: hds-icon from 'hds-core/lib/components/button/button.css';
}

.icon svg {
  max-height: 100%;
  max-width: 100%;
}

.primary {
  composes: hds-button--primary from 'hds-core/lib/components/button/button.css';
}

.secondary {
  composes: hds-button--secondary from 'hds-core/lib/components/button/button.css';
}

.supplementary {
  composes: hds-button--supplementary from 'hds-core/lib/components/button/button.css';
}

.success {
  composes: hds-button--success from 'hds-core/lib/components/button/button.css';
}

.danger {
  composes: hds-button--danger from 'hds-core/lib/components/button/button.css';
}

.theme-coat {
  composes: hds-button--theme-coat from 'hds-core/lib/components/button/button.css';
}

.theme-black {
  composes: hds-button--theme-black from 'hds-core/lib/components/button/button.css';
}
