/* Import HelsinkiGrotesk fonts from CDN */
@import 'https://new-makasiini.hel.ninja/delivery/HelsinkiGrotesk/HelsinkiGrotesk.css';

body {
  font-family: var(--font-default);
  font-size: var(--fontsize-body-m);
  color: var(--color-black-90);
  line-height: var(--lineheight-l);
}

h1 {
  font-size: var(--fontsize-heading-l);
}

h2 {
  font-size: var(--fontsize-heading-m);
}

h3 {
  font-size: var(--fontsize-heading-s);
}

h4 {
  font-size: var(--fontsize-heading-xs);
}

h5 {
  font-size: var(--fontsize-heading-xxs);
}

/* Hide args table for core, as there's no props */
.sbdocs-content > :nth-child(3) {
  display: none;
}
