@mixin hds-checkbox(
    $all:true,
    $base:false,
    $error-text:false,
    $indeterminate: false,
    $disabled: false,
    $theme-coat: false,
    $theme-black: false,
  ){
  @if $all or $base {
    .hds-checkbox {
      --size: 24px;

      /* icon size relative to the checkbox size (--size) */
      --icon-scale: 1;
      --border-width: 2px;
      --outline-width: 3px;
      --label-font-size: var(--fontsize-body-m);
      --label-padding: var(--spacing-2-xs);
      --icon-size: var(--spacing-m);

      display: flex;
      flex-wrap: wrap;
      min-height: var(--size);
      position: relative;
    }

    .hds-checkbox,
    .hds-checkbox *,
    .hds-checkbox *:before,
    .hds-checkbox *:after {
      box-sizing: border-box;
    }

    .hds-checkbox,
    .hds-theme--bus .hds-checkbox {
      --background-unselected: transparent;
      --background-selected: var(--color-bus);
      --background-hover: var(--color-bus-dark);
      --background-disabled: var(--color-black-10);
      --border-color-selected: var(--color-bus);
      --border-color-selected-hover: var(--color-bus-dark);
      --border-color-selected-focus: var(--color-bus);
      --border-color-unselected: var(--color-black-50);
      --border-color-unselected-hover: var(--color-black-90);
      --border-color-unselected-focus: var(--color-black-90);
      --border-color-disabled: var(--color-black-10);
      --icon-color-unselected: transparent;
      --icon-color-selected: var(--color-white);
      --icon-color-disabled: var(--color-white);
      --label-color: var(--color-black-90);
      --label-color-disabled: var(--color-black-40);
    }
  }

  @if $all or $theme-coat {
    .hds-theme--coat .hds-checkbox {
      --background-selected: var(--color-coat-of-arms);
      --background-hover: var(--color-coat-of-arms-dark);
      --border-color-selected: var(--color-coat-of-arms);
      --border-color-selected-hover: var(--color-coat-of-arms-dark);
      --border-color-selected-focus: var(--color-coat-of-arms);
    }
  }

  @if $all or $theme-black {
    .hds-theme--black .hds-checkbox {
      --background-selected: var(--color-black);
      --background-hover: var(--color-black-80);
      --border-color-selected: var(--color-black);
      --border-color-selected-hover: var(--color-black-80);
      --border-color-selected-focus: var(--color-black);
    }
  }

  @if $all or $base {
    .hds-checkbox:not(:first-of-type) {
      margin-top: var(--spacing-2-xs);
    }

    .hds-checkbox .hds-checkbox__input:before,
    .hds-checkbox .hds-checkbox__label:before,
    .hds-checkbox .hds-checkbox__label:after {
      content: "";
      left: 0;
      position: absolute;
      top: 0;
    }

    /* checkbox icon */
    .hds-checkbox .hds-checkbox__input:before {
      background-color: var(--icon-color-unselected);
      height: var(--size);
      mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Crect width='24' height='24'/%3E %3Cpolygon fill='currentColor' points='21 7 10 18 4.5 12.5 6 11 10 15 19.5 5.5'/%3E %3C/g%3E %3C/svg%3E");
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: calc(var(--size) * var(--icon-scale));
      transform: scale(0.6);
      width: var(--size);
      z-index: 1;
    }


    /* focus outline */
    .hds-checkbox .hds-checkbox__label:before {
      height: var(--size);
      width: var(--size);
    }

    /* background */
    .hds-checkbox .hds-checkbox__label:after {
      background-color: var(--background-unselected);
      border: var(--border-width) solid var(--border-color-unselected);
      height: var(--size);
      width: var(--size);
    }

    /* checkbox transitions */
    .hds-checkbox .hds-checkbox__input:hover:before,
    .hds-checkbox .hds-checkbox__input:focus:before,
    .hds-checkbox .hds-checkbox__input:hover + .hds-checkbox__label:after,
    .hds-checkbox .hds-checkbox__input:focus + .hds-checkbox__label:after {
      transition: 85ms ease-out;
      transition-property: background-color, border-color, transform;
    }

    .hds-checkbox .hds-checkbox__input:focus + .hds-checkbox__label:before {
      outline: var(--outline-width) solid var(--focus-outline-color, var(--color-focus-outline));
      outline-offset: var(--focus-outline-offset, 0);
      transform: translate3d(0, 0, 0);
      transition: 85ms ease-out;
      transition-property: outline, outline-offset, transform;
    }

    .hds-checkbox .hds-checkbox__input {
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      cursor: pointer;

      /*
      * Normalize.css rules
      * 1. Change the font styles in all browsers.
      */
      font-family: inherit; /* 1 */
      font-size: 100%; /* 1 */
      height: var(--size);
      left: 0;

      /*
      * Normalize.css rules
      * 1. Change the font styles in all browsers.
      * 2. Remove the margin in Firefox and Safari.
      */
      line-height: 1.15; /* 1 */
      margin: 0; /* 2 */
      outline: none;
      position: absolute;
      top: 0;
      width: var(--size);
    }

    /* LABEL */

    .hds-checkbox .hds-checkbox__label {
      color: var(--label-color);
      cursor: pointer;
      font-size: var(--label-font-size);
      line-height: var(--lineheight-m);
      padding-left: calc(var(--size) + var(--label-padding));
      padding-top: calc((var(--size) - (var(--label-font-size) * var(--lineheight-m))) / 2);
      position: relative;
    }

    .hds-checkbox .hds-checkbox__label--hidden {
      padding-left: var(--size);
    }
  }

  @if $all or $error-text {
    /* ERROR */
    .hds-checkbox__error-text {
      background-color: var(--color-error-light);
      border-left: 8px solid var(--color-error);
      color: var(--color-black);
      display: flex;
      flex-basis: 100%;
      font-size: var(--fontsize-body-m);
      margin-top: var(--spacing-2-xs);
      padding: var(--spacing-2-xs);
      position: relative;
    }

    .hds-checkbox__error-text:before {
      background: var(--color-error);
      content: '';
      display: inline-block;
      height: var(--icon-size);
      margin-right: var(--spacing-2-xs);
      -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.175 3.45608C11.5239 2.86969 12.3977 2.84875 12.7842 3.39325L12.825 3.45608L21.8771 18.6666C22.2202 19.2432 21.8055 19.951 21.1235 19.9976L21.052 20H2.94799C2.24813 20 1.7987 19.3114 2.09013 18.7267L2.12295 18.6666L11.175 3.45608ZM13 16V18H11V16H13ZM13 8.5V14.5H11V8.5H13Z' fill='currentColor'%3E%3C/path%3E %3C/svg%3E");
      mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.175 3.45608C11.5239 2.86969 12.3977 2.84875 12.7842 3.39325L12.825 3.45608L21.8771 18.6666C22.2202 19.2432 21.8055 19.951 21.1235 19.9976L21.052 20H2.94799C2.24813 20 1.7987 19.3114 2.09013 18.7267L2.12295 18.6666L11.175 3.45608ZM13 16V18H11V16H13ZM13 8.5V14.5H11V8.5H13Z' fill='currentColor'%3E%3C/path%3E %3C/svg%3E");
      pointer-events: none;
      width: var(--icon-size);
    }

    /* CUSTOM CHECKBOX */

    /* checkbox icon - selected */
    .hds-checkbox .hds-checkbox__input:checked:before {
      background-color: var(--icon-color-selected);
      transform: scale(1);
    }
  }

  @if $all or $indeterminate {
    /* checkbox icon - indeterminated */
    .hds-checkbox .hds-checkbox__input:not(:checked):indeterminate:before {
      background-color: var(--icon-color-selected);
      mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 0h24v24H0z'/%3E%3Cpath fill='currentColor' d='M6 11h12v2H6z'/%3E%3C/g%3E%3C/svg%3E");
      transform: scale(1);
    }
  }

  @if $all or $base {
    /* background - selected or indeterminated */
    .hds-checkbox .hds-checkbox__input:checked + .hds-checkbox__label:after,
    .hds-checkbox .hds-checkbox__input:indeterminate + .hds-checkbox__label:after {
      background-color: var(--background-selected);
      border-color: var(--border-color-selected);
    }
  }

  @if $all or $disabled {
    /* background */
    .hds-checkbox .hds-checkbox__input:disabled + .hds-checkbox__label:after {
      background-color: var(--background-disabled);
      border-color: var(--border-color-disabled);
    }

    /* background - unselected - focus */
    .hds-checkbox .hds-checkbox__input:not(:disabled):focus + .hds-checkbox__label:after {
      border-color: var(--border-color-unselected-focus);
    }

    /* background - unselected - hover */
    .hds-checkbox .hds-checkbox__input:not(:disabled):hover + .hds-checkbox__label:after,
    .hds-checkbox .hds-checkbox__input:not(:disabled):hover:focus + .hds-checkbox__label:after {
      border-color: var(--border-color-unselected-hover);
    }

    /* background - selected - focus */
    .hds-checkbox .hds-checkbox__input:not(:disabled):checked:focus + .hds-checkbox__label:after,
    .hds-checkbox .hds-checkbox__input:not(:disabled):indeterminate:focus + .hds-checkbox__label:after {
      border-color: var(--border-color-selected-focus);
    }

    /* background - selected - hover */
    .hds-checkbox .hds-checkbox__input:not(:disabled):checked:hover + .hds-checkbox__label:after,
    .hds-checkbox .hds-checkbox__input:not(:disabled):indeterminate:hover + .hds-checkbox__label:after,
    .hds-checkbox .hds-checkbox__input:not(:disabled):checked:hover:focus + .hds-checkbox__label:after,
    .hds-checkbox .hds-checkbox__input:not(:disabled):indeterminate:hover:focus + .hds-checkbox__label:after {
      background-color: var(--background-hover);
      border-color: var(--border-color-selected-hover);
    }

    /* DISABLED */

    /* label */
    .hds-checkbox .hds-checkbox__input:disabled + .hds-checkbox__label {
      color: var(--label-color-disabled);
    }

    /* checkbox icon - disabled */
    .hds-checkbox .hds-checkbox__input:checked:disabled:before {
      background-color: var(--icon-color-disabled);
    }

    .hds-checkbox .hds-checkbox__input:disabled,
    .hds-checkbox .hds-checkbox__input:disabled + .hds-checkbox__label {
      cursor: not-allowed;
    }
  }
}
