$font-path: '../fonts';

/* Webfont: HelsinkiGrotesk-Regular */
@font-face {
  font-family: HelsinkiGrotesk;
  font-style: normal;
  font-weight: $font-weight-regular;
  src: url('#{$font-path}/HelsinkiGrotesk-Regular/HelsinkiGrotesk-Regular.eot'); /* IE9 Compat Modes */
  src: url('#{$font-path}/HelsinkiGrotesk-Regular/HelsinkiGrotesk-Regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('#{$font-path}/HelsinkiGrotesk-Regular/HelsinkiGrotesk-Regular.woff') format('woff'),
    /* Modern Browsers */ url('#{$font-path}/HelsinkiGrotesk-Regular/HelsinkiGrotesk-Regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
      url('#{$font-path}/HelsinkiGrotesk-Regular/HelsinkiGrotesk-Regular.svg#HelsinkiGrotesk-Regular') format('svg'); /* Legacy iOS */

  text-rendering: optimizelegibility;
}

/* Webfont: HelsinkiGrotesk-RegularItalic */
@font-face {
  font-family: HelsinkiGrotesk;
  font-style: italic;
  font-weight: $font-weight-regular;
  src: url('#{$font-path}/HelsinkiGrotesk-Regular/HelsinkiGrotesk-RegularItalic.eot'); /* IE9 Compat Modes */
  src: url('#{$font-path}/HelsinkiGrotesk-Regular/HelsinkiGrotesk-RegularItalic.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('#{$font-path}/HelsinkiGrotesk-Regular/HelsinkiGrotesk-RegularItalic.woff') format('woff'),
    /* Modern Browsers */ url('#{$font-path}/HelsinkiGrotesk-Regular/HelsinkiGrotesk-RegularItalic.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('#{$font-path}/HelsinkiGrotesk-Regular/HelsinkiGrotesk-RegularItalic.svg#HelsinkiGrotesk-RegularItalic')
      format('svg'); /* Legacy iOS */

  text-rendering: optimizelegibility;
}

/* Webfont: HelsinkiGrotesk-Medium */
@font-face {
  font-family: HelsinkiGrotesk;
  font-style: normal;
  font-weight: $font-weight-medium;
  src: url('#{$font-path}/HelsinkiGrotesk-Medium/HelsinkiGrotesk-Medium.eot'); /* IE9 Compat Modes */
  src: url('#{$font-path}/HelsinkiGrotesk-Medium/HelsinkiGrotesk-Medium.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('#{$font-path}/HelsinkiGrotesk-Medium/HelsinkiGrotesk-Medium.woff') format('woff'),
    /* Modern Browsers */ url('#{$font-path}/HelsinkiGrotesk-Medium/HelsinkiGrotesk-Medium.ttf') format('truetype'),
    /* Safari, Android, iOS */
      url('#{$font-path}/HelsinkiGrotesk-Medium/HelsinkiGrotesk-Medium.svg#HelsinkiGrotesk-Medium') format('svg'); /* Legacy iOS */

  text-rendering: optimizelegibility;
}

/* Webfont: HelsinkiGrotesk-MediumItalic */
@font-face {
  font-family: HelsinkiGrotesk;
  font-style: italic;
  font-weight: $font-weight-medium;
  src: url('#{$font-path}/HelsinkiGrotesk-Medium/HelsinkiGrotesk-MediumItalic.eot'); /* IE9 Compat Modes */
  src: url('#{$font-path}/HelsinkiGrotesk-Medium/HelsinkiGrotesk-MediumItalic.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('#{$font-path}/HelsinkiGrotesk-Medium/HelsinkiGrotesk-MediumItalic.woff') format('woff'),
    /* Modern Browsers */ url('#{$font-path}/HelsinkiGrotesk-Medium/HelsinkiGrotesk-MediumItalic.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('#{$font-path}/HelsinkiGrotesk-Medium/HelsinkiGrotesk-MediumItalic.svg#HelsinkiGrotesk-MediumItalic')
      format('svg'); /* Legacy iOS */

  text-rendering: optimizelegibility;
}

/* Webfont: HelsinkiGrotesk-Bold */
@font-face {
  font-family: HelsinkiGrotesk;
  font-style: normal;
  font-weight: $font-weight-bold;
  src: url('#{$font-path}/HelsinkiGrotesk-Bold/HelsinkiGrotesk-Bold.eot'); /* IE9 Compat Modes */
  src: url('#{$font-path}/HelsinkiGrotesk-Bold/HelsinkiGrotesk-Bold.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('#{$font-path}/HelsinkiGrotesk-Bold/HelsinkiGrotesk-Bold.woff') format('woff'),
    /* Modern Browsers */ url('#{$font-path}/HelsinkiGrotesk-Bold/HelsinkiGrotesk-Bold.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('#{$font-path}/HelsinkiGrotesk-Bold/HelsinkiGrotesk-Bold.svg#HelsinkiGrotesk-Bold')
      format('svg'); /* Legacy iOS */

  text-rendering: optimizelegibility;
}

/* Webfont: HelsinkiGrotesk-BoldItalic */
@font-face {
  font-family: HelsinkiGrotesk;
  font-style: italic;
  font-weight: $font-weight-bold;
  src: url('#{$font-path}/HelsinkiGrotesk-Bold/HelsinkiGrotesk-BoldItalic.eot'); /* IE9 Compat Modes */
  src: url('#{$font-path}/HelsinkiGrotesk-Bold/HelsinkiGrotesk-BoldItalic.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('#{$font-path}/HelsinkiGrotesk-Bold/HelsinkiGrotesk-BoldItalic.woff') format('woff'),
    /* Modern Browsers */ url('#{$font-path}/HelsinkiGrotesk-Bold/HelsinkiGrotesk-BoldItalic.ttf') format('truetype'),
    /* Safari, Android, iOS */
      url('#{$font-path}/HelsinkiGrotesk-Bold/HelsinkiGrotesk-BoldItalic.svg#HelsinkiGrotesk-BoldItalic') format('svg'); /* Legacy iOS */

  text-rendering: optimizelegibility;
}

/* Webfont: HelsinkiGrotesk-Black */
@font-face {
  font-family: HelsinkiGrotesk;
  font-style: normal;
  font-weight: $font-weight-black;
  src: url('#{$font-path}/HelsinkiGrotesk-Black/HelsinkiGrotesk-Black.eot'); /* IE9 Compat Modes */
  src: url('#{$font-path}/HelsinkiGrotesk-Black/HelsinkiGrotesk-Black.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('#{$font-path}/HelsinkiGrotesk-Black/HelsinkiGrotesk-Black.woff') format('woff'),
    /* Modern Browsers */ url('#{$font-path}/HelsinkiGrotesk-Black/HelsinkiGrotesk-Black.ttf') format('truetype'),
    /* Safari, Android, iOS */
      url('#{$font-path}/HelsinkiGrotesk-Black/HelsinkiGrotesk-Black.svg#HelsinkiGrotesk-Black') format('svg'); /* Legacy iOS */

  text-rendering: optimizelegibility;
}

/* Webfont: HelsinkiGrotesk-BlackItalic */
@font-face {
  font-family: HelsinkiGrotesk;
  font-style: italic;
  font-weight: $font-weight-black;
  src: url('#{$font-path}/HelsinkiGrotesk-Black/HelsinkiGrotesk-BlackItalic.eot'); /* IE9 Compat Modes */
  src: url('#{$font-path}/HelsinkiGrotesk-Black/HelsinkiGrotesk-BlackItalic.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('#{$font-path}/HelsinkiGrotesk-Black/HelsinkiGrotesk-BlackItalic.woff') format('woff'),
    /* Modern Browsers */ url('#{$font-path}/HelsinkiGrotesk-Black/HelsinkiGrotesk-BlackItalic.ttf') format('truetype'),
    /* Safari, Android, iOS */
      url('#{$font-path}/HelsinkiGrotesk-Black/HelsinkiGrotesk-BlackItalic.svg#HelsinkiGrotesk-BlackItalic')
      format('svg'); /* Legacy iOS */

  text-rendering: optimizelegibility;
}
