@use '../../fonts/font-variables' as fontVars;

/* Webfont: HelsinkiGroteskPro-Regular */
@font-face {
  font-family: HelsinkiGroteskPro;
  font-style: normal;
  font-weight: $font-weight-regular;
  src: fontVars.$font-src;
  text-rendering: optimizelegibility;
}

/* Webfont: HelsinkiGroteskPro-RegularItalic */
@font-face {
  font-family: HelsinkiGroteskPro;
  font-style: italic;
  font-weight: $font-weight-regular;
  src: fontVars.$font-src;
  text-rendering: optimizelegibility;
}

/* Webfont: HelsinkiGroteskPro-Medium */
@font-face {
  font-family: HelsinkiGroteskPro;
  font-style: normal;
  font-weight: $font-weight-medium;
  src: fontVars.$font-src;
  text-rendering: optimizelegibility;
}

/* Webfont: HelsinkiGroteskPro-MediumItalic */
@font-face {
  font-family: HelsinkiGroteskPro;
  font-style: italic;
  font-weight: $font-weight-medium;
  src: fontVars.$font-src;
  text-rendering: optimizelegibility;
}

/* Webfont: HelsinkiGroteskPro-Bold */
@font-face {
  font-family: HelsinkiGroteskPro;
  font-style: normal;
  font-weight: $font-weight-bold;
  src: fontVars.$font-src;
  text-rendering: optimizelegibility;
}

/* Webfont: HelsinkiGroteskPro-BoldItalic */
@font-face {
  font-family: HelsinkiGroteskPro;
  font-style: italic;
  font-weight: $font-weight-bold;
  src: fontVars.$font-src;
  text-rendering: optimizelegibility;
}

/* Webfont: HelsinkiGroteskPro-Black */
@font-face {
  font-family: HelsinkiGrotesk;
  font-style: normal;
  font-weight: $font-weight-black;
  src: fontVars.$font-src;
  text-rendering: optimizelegibility;
}

/* Webfont: HelsinkiGroteskPro-BlackItalic */
@font-face {
  font-family: HelsinkiGroteskPro;
  font-style: italic;
  font-weight: $font-weight-black;
  src: fontVars.$font-src;
  text-rendering: optimizelegibility;
}
