@import "../common.scss";
@value x-small-only, small-down, small-only, small-up, medium-down, medium-only, medium-up, large-up from "../../../styles/breakpoints.scss";

.backToTopButton {
  @extend %footerItem;
  align-self: unset;
  margin-left: auto;
  font-size: 20px;
}

.base {
  display: flex;
  padding: 0 var(--spacing-m) var(--spacing-m);
}

.baseActions {
  display: flex;
  flex-grow: 1;
}

.baseLink {
  font-size: var(--fontsize-body-s);
  text-decoration: underline;
  align-self: unset;
}

.copyright {
  display: grid;
  font-size: var(--fontsize-body-s);
  margin-right: var(--spacing-2-xs);
}

.divider {
  @extend %divider;
}

.links {
  display: grid;
  gap: var(--spacing-xs);
  align-content: center;
  justify-content: flex-start;
}

.logoWrapper {
  display: flex;
}

@media x-small-only {
  .copyright {
    &Dot {
      display: none;
    }
  }
  .links {
    justify-content: flex-start;
  }
}

@media small-down {
  .base {
    flex-direction: column;
  }

  .baseActions {
    flex-direction: column;
  }

  .copyright {
    margin-top: var(--spacing-s);
  }

  .links {
    margin-top: var(--spacing-2-xs);
  }
}

@media small-only {
  .links {
    grid-auto-flow: column;
    justify-content: flex-start;
  }

  .copyright {
    justify-content: flex-start;
  }

  .backToTopButton {
    margin-top: var(--spacing-m)
  }
}

@media small-up {
  .copyright {
    gap: var(--spacing-3-xs);
    grid-auto-flow: column;
  }
}

@media medium-down {
  .base {
    flex-direction: column;
  }

  .copyright {
    margin-top: var(--spacing-s);
    margin-bottom: var(--spacing-xs);
  }

}

@media medium-up {
  .copyright {
    justify-content: start;
  }

  .links {
    grid-auto-flow: column;
    justify-content: start;
  }
}

@media large-up {
  .base {
    align-items: center;
    flex-wrap: wrap;
  }
  .copyright {
    margin-left: var(--spacing-s);
  }
}
