@import '../common.scss';
@value x-small-down, small-down, small-up, medium-down, medium-up, large-up from "../../../styles/breakpoints.scss";

.backToTopButton {
  @extend %footerItem;
  align-self: unset;
  margin-left: auto;
  font-size: 20px;
}

.base {
  display: flex;
  flex-direction: column;
  padding: 0 var(--spacing-m) var(--spacing-m);
}

.baseActions {
  display: flex;
  flex-grow: 1;
}

.copyright {
  display: flex;
  font-size: var(--fontsize-body-s);
  gap: var(--spacing-3-xs);
  justify-content: flex-start;
  margin-right: var(--spacing-2-xs);
}

.divider {
  @extend %divider;
}

.links {
  align-items: center;
  display: flex;
  gap: var(--spacing-xs);
  
  .baseLink {
    align-self: unset;
    font-size: var(--fontsize-body-s);
    text-decoration: underline;
    font-weight: 500;
  }
}

.logoWrapper {
  display: flex;
}

@media x-small-down {
  .links {
    align-items: flex-start;
    flex-direction: column;
  }
  
  .copyright {
    &Dot {
      display: none;
    }
  }
}

@media small-down {
  .baseActions {
    flex-direction: column;
  }

  .backToTopButton {
    margin-top: var(--spacing-m);
  }
}

@media medium-down {
  .copyright {
    margin-bottom: var(--spacing-xs);
    margin-top: var(--spacing-s);
  }
}

@media large-up {
  .base {
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .copyright {
    margin-left: var(--spacing-s);
  }
}
