@use "../../Header.module.scss" as header;
@import "../../../../styles/common";

.languageSelector {
  display: flex;
  gap: var(--spacing-s);

}

.languageSelectorDropdownIcon {
  display: inline-flex;
  align-items: center;
}

.languageSelectorDropdown {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}

.item {
  appearance: none;
  border: none;
  background: transparent;
  cursor: pointer;
  line-height: var(--lineheight-l);
  white-space: nowrap;

  @include header.element-focus-state;
}

.activeItem {
  font-weight: 700;
  span {
    border-bottom: 2px solid;
  }
}
