@import "../../../../styles/common";

.languageSelector {
  display: flex;
  gap: var(--spacing-s);
}

.item {
  appearance: none;
  border: none;
  background: transparent;
  cursor: pointer;
  line-height: var(--lineheight-l);
  white-space: nowrap;

  @include focusOutline(var(--header-focus-outline-color), var(--header-focus-outline-width), var(--header-focus-outline-border-radius));
}

.activeItem {
  font-weight: 700;
  span {
    border-bottom: 2px solid;
  }
}
