.navigationLinkDropdownContainer {
  outline: none;
}

.chevron {
  transition: transform 0.2s ease-in;
}

.chevronOpen {
  transform: rotate(180deg);
}

.hidden {
  display: none;
}

.dropdownMenu {
  background-color: var(--color-white);
  border: 1px solid var(--color-black-20);
  display: flex;
  flex-direction: column;
  left: -10px;
  list-style: none;
  min-width: 280px;
  padding: 0;
  position: absolute;
  top: 100%;
  z-index: 1;

  .dropdownLink {
    font-size: var(--fontsize-body-l);
    margin: 0;
    padding: 10px var(--spacing-s) 14px var(--spacing-s);
  }

  .dropdownLink:focus {
    border-color: transparent;
    outline: 3px solid var(--color-coat-of-arms);
    outline-offset: -3px;
  }

  .activeLink:before {
    border-left: 4px solid var(--color-black);
    padding-left: var(--spacing-xs);
  }

  .dropdownLink:before {
    bottom: 0;
    content: '';
    height: 100%;
    left: 0;
    margin: 0;
    position: absolute;
    width: 0;
  }

  .dropdownLink:hover:before {
    border-left: 4px solid var(--color-black);
    transition: border-left 100ms ease-in;
  }
}

.left {
  left: auto;
  right: calc(100% + 2px);
  top: -1px;
}

.right {
  left: calc(100% + 2px);
  right: auto;
  top: -1px;
}

.button {
  background-color: var(--color-black-5);
  border: none;
  box-sizing: content-box;
  display: block;
  height: 24px;
  padding: 3px;
  width: 24px;

  &.isNotLargeScreen {
    background: transparent;
    border-left: 1px solid var(--color-black-20);
    box-sizing: border-box;
    flex: 0 0 var(--action-bar-dropdown-menu-caret-width);
    height: var(--action-bar-dropdown-menu-secondary-item-height);
    width: unset;

    &.depth-0 {
      height: var(--action-bar-dropdown-menu-primary-item-height);
    }
  }

  &:hover {
    background-color: var(--color-black-20);
    cursor: pointer;
  }

  &:focus {
    margin: 0;
    outline: 3px solid var(--color-coat-of-arms);
    outline-offset: -3px;
  }
}
