@value x-small-only, small-only, small-down, small-up, medium-up, large-up, x-large-up from "../../styles/breakpoints.css";

.header {
  --header-height: var(--spacing-4-xl);
  --header-focus-outline-width: 3px;
  --header-focus-outline-border-radius: 2px;
  --navigation-dropdown-menu-border-radius: 0;
  --navigation-dropdown-menu-border-width: 1px;
  --navigation-dropdown-menu-min-width: 11rem;
  --header-z-index: 10;
  --mobile-menu-z-index: 9;

  /* THEME VARS */

  --header-background-color: var(--color-white);
  --header-color: var(--color-black-90);
  --header-divider-color: var(--color-black-20);
  --header-focus-outline-color: var(--color-coat-of-arms-blue);
  --mobile-menu-background-color: var(--color-white);
  --mobile-menu-color: var(--color-black-90);
  --navigation-row-background-color: var(--color-white);
  --navigation-row-color: var(--color-black-90);
  --navigation-row-focus-outline-color: var(--color-coat-of-arms-blue);

  background-color: var(--navigation-row-background-color);
  box-sizing: border-box;
  color: var(--header-color);
  position: relative;
  width: 100%;
}

.header *,
.header *::before,
.header *::after {
  box-sizing: inherit;
}

/* FIXED */

.header.fixed {
  left: 0;
  position: fixed;
  top: 0;
}

/* BLACK THEME */

.header.theme-black {
  --header-background-color: var(--color-black);
  --header-color: var(--color-white);

  --header-focus-outline-color: var(--color-white);
}

/* BACKGROUND WRAPPER */

.headerBackgroundWrapper {
  background-color: var(--header-background-color);
  position: relative;
  z-index: var(--header-z-index);
}

.header.theme-white .headerBackgroundWrapper {
  border-bottom: 1px solid var(--header-divider-color);
}

/* HEADER CONTAINER */

.headerContainer {
  align-items: center;
  display: flex;
  height: var(--header-height);
  padding: 0 var(--spacing-2-xs) 0 var(--spacing-s);
}

/* SKIP TO CONTENT */

.skipToContent {
  composes: hds-button hds-button--secondary hds-button--theme-black from 'hds-core/lib/components/button/button.css';
}

/* bump specificity to override default button styles */
.skipToContent.skipToContent {
  --background-color: var(--color-white);
  --background-color-focus: var(--color-white);
  --focus-outline-color: var(--header-focus-outline-color);

  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  text-decoration: none;
  width: 1px;
  z-index: calc(var(--header-z-index) + 1);
}

.skipToContent.skipToContent:focus {
  box-shadow: 0 0 0 var(--outline-gutter) var(--color-white);
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  padding: var(--spacing-3-xs) var(--spacing-m);
  transform: translate(var(--spacing-s), calc(var(--header-height) / 2 - 50%));
  width: auto;
}

.skipToContent.skipToContent:focus::after {
  --focus-outline-offset: calc((var(--outline-width) + var(--border-width) + var(--outline-gutter)) * -1);
  left: var(--focus-outline-offset);
  top: var(--focus-outline-offset);
}

/* TITLE + LOGO */

.title {
  align-items: center;
  color: inherit;
  cursor: pointer;
  display: flex;
  font-size: var(--fontsize-heading-xxs);
  font-weight: bold;
  height: calc(100% - var(--spacing-s) * 2);
  outline: none;
  position: relative;
  text-decoration: none;
  white-space: nowrap;
}

.title:not([href]):not([tabindex="0"]) {
  cursor: auto;
}

/* CONTENT */

.headerContent {
  display: flex;
  flex: auto;
  height: 100%;
}

/* MOBILE */

/* menu */
.mobileMenu {
  background-color: var(--mobile-menu-background-color);
  color: var(--mobile-menu-color);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: var(--header-height);
  width: 100%;
  z-index: var(--mobile-menu-z-index);
}

/* fixed */
.header.fixed .mobileMenu {
  max-height: calc(100vh - var(--header-height));
  overflow-y: scroll;
}

/* divider between menu components */
.mobileMenu > *:not(:first-child) {
  border-top: 1px solid var(--header-divider-color);
}

/* menu toggle */
.mobileMenuToggle {
  composes: button-reset from 'hds-core/lib/utils/helpers.css';
}

.mobileMenuToggle {
  display: flex;
  margin-left: auto;
  padding: var(--spacing-2-xs);
}

.mobileMenuToggle:focus {
  border-radius: var(--header-focus-outline-border-radius);
  box-shadow: 0 0 0 var(--header-focus-outline-width) var(--header-focus-outline-color);
  outline: none;
}

/* MEDIA */

@media x-small-only {
  .headerContainer {
    overflow: hidden;
  }

  .title .logo,
  .title > span {
    transition: 150ms ease-in-out;
  }

  .header.menuOpen .title .logo,
  .header.menuOpen .title > span {
    transition-duration: 225ms;
    transition-property: opacity, transform;
  }

  .title .logo {
    opacity: 1;
    pointer-events: auto;
    transition-property: opacity, transform;
  }

  .title > span {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    transform: translate3d(0, 150%, 0);
    transition-property: none;
  }

  .header.menuOpen .title .logo {
    opacity: 0;
    pointer-events: none;
    transform: translate3d(0, -150%, 0);
  }

  .header.menuOpen .title > span {
    opacity: 1;
    pointer-events: auto;
    transform: translate3d(0, 0, 0);
  }

  /* don't animate logo if there is no title */
  .header.noTitle .title .logo,
  .header.menuOpen.noTitle .title .logo {
    opacity: 1;
    transition-property: none;
    transform: none;
  }

  /* LOGO & TITLE FOCUS OUTLINE */

  .header:not(.menuOpen) .title:focus::after,
  .header.menuOpen .title:focus > span::after {
    border: var(--header-focus-outline-width) solid var(--header-focus-outline-color);
    border-radius: var(--header-focus-outline-border-radius);
    content: '';
    height: calc(100% + var(--header-focus-outline-width) * 4);
    position: absolute;
    transform: translateX(calc(var(--header-focus-outline-width) * -2));
    width: calc(100% + var(--header-focus-outline-width) * 4);
  }

  .header.menuOpen .title:focus > span::after {
    left: 0;
    top: calc(var(--header-focus-outline-width) * -2);
  }
}

@media small-down {
  .headerContainer {
    position: relative;
  }
}

@media small-only {
  .title > span {
    margin-left: var(--spacing-xs);
  }
}

@media small-up {
  .header {
    --header-height: var(--spacing-5-xl);
  }

  /* title focus outline */
  .title:focus::after {
    border: var(--header-focus-outline-width) solid var(--header-focus-outline-color);
    border-radius: var(--header-focus-outline-border-radius);
    content: '';
    height: calc(100% + var(--header-focus-outline-width) * 4);
    position: absolute;
    transform: translateX(calc(var(--header-focus-outline-width) * -2));
    width: calc(100% + var(--header-focus-outline-width) * 4);
  }

  .title > span {
    margin-left: var(--spacing-s);
  }
}

@media medium-up {
  .headerContainer {
    padding: 0 var(--spacing-m);
  }
}

@media large-up {
  .headerContainer {
    margin: 0 auto;
    max-width: var(--breakpoint-xl);
  }
}

@media x-large-up {
  .title {
    font-size: var(--fontsize-heading-s);
    height: calc(100% - var(--spacing-xs) * 2);
  }

  .title > span {
    margin-left: var(--spacing-m);
  }
}
