@import "../../styles/common";
@value x-small-only, small-down, small-only, small-up, medium-up, large-up, x-large-up from "../../styles/breakpoints.css";

@keyframes mobileMenuAnimation {
  from {
    transform: translate3d(0, -10%, 0);
    opacity: 0.85;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.header {
  --header-height: var(--spacing-4-xl);
  --header-focus-outline-width: 3px;
  --header-focus-outline-border-radius: 0;
  --navigation-dropdown-menu-border-radius: 0;
  --navigation-dropdown-menu-border-width: 1px;
  --navigation-dropdown-menu-min-width: 11rem;
  --header-z-index: 10;
  --mobile-menu-z-index: 9;

  /* THEME VARS */

  --header-background-color: var(--color-white);
  --header-color: var(--color-black-90);
  --header-divider-color: var(--color-black-20);
  --header-focus-outline-color: var(--color-coat-of-arms);
  --mobile-menu-background-color: var(--color-white);
  --mobile-menu-color: var(--color-black-90);
  --navigation-row-background-color: var(--color-white);
  --navigation-row-color: var(--color-black-90);
  --navigation-row-focus-outline-color: var(--color-coat-of-arms);

  background-color: var(--navigation-row-background-color);
  color: var(--header-color);
  position: relative;
  width: 100%;

  // light theme bottom border
  &.theme-light .headerBackgroundWrapper {
    border-bottom: 1px solid var(--header-divider-color);
  }

  // dark theme overrides
  &.theme-dark {
    --header-background-color: var(--color-black);
    --header-color: var(--color-white);
    --header-focus-outline-color: var(--color-white);
  }
}

/* FIXED */

.fixed {
  left: 0;
  position: fixed;
  top: 0;

  .mobileMenu {
    max-height: calc(100vh - var(--header-height));
    overflow-y: scroll;
  }
}

/* BACKGROUND WRAPPER */

.headerBackgroundWrapper {
  background-color: var(--header-background-color);
  position: relative;
  z-index: var(--header-z-index);
}

/* HEADER CONTAINER */

.headerContainer {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: var(--header-height);
  padding: 0 var(--spacing-2-xs) 0 var(--spacing-s);
}

/* SKIP TO CONTENT */

.skipToContent {
  &:not(:focus) {
    @extend %hiddenFromScreen;
  }

  &:focus {
    align-items: center;
    background: var(--color-white);
    border: 2px solid var(--color-black);
    box-shadow: 0 0 0 2px var(--color-white), 0 0 0 5px var(--header-focus-outline-color);
    box-sizing: border-box;
    color: var(--color-black);
    display: flex;
    font-weight: 500;
    left: 0;
    opacity: 1;
    outline: none;
    padding: var(--spacing-3-xs) var(--spacing-m);
    position: absolute;
    text-decoration: none;
    top: 0;
    transform: translate(var(--spacing-s), calc(var(--header-height) / 2 - 50%));
    z-index: 11;
  }
}

/* TITLE + LOGO */

.title {
  align-items: center;
  color: inherit;
  cursor: pointer;
  display: flex;
  font-size: var(--fontsize-heading-xxs);
  font-weight: bold;
  height: calc(100% - var(--spacing-s) * 2);
  outline: none;
  position: relative;
  text-decoration: none;
  white-space: nowrap;

  &:not([href]):not([tabindex="0"]) {
    cursor: auto;
  }
}

/* CONTENT */

.headerContent {
  display: flex;
  flex: auto;
  height: 100%;
}

/* MOBILE */

// menu
.mobileMenu {
  --header-focus-outline-color: var(--navigation-row-focus-outline-color);
  background-color: var(--mobile-menu-background-color);
  border-bottom: 1px solid var(--header-divider-color);
  color: var(--mobile-menu-color);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: var(--header-height);
  width: 100%;
  z-index: var(--mobile-menu-z-index);

  // divider between menu components
  > *:not(:first-child) {
    border-top: 1px solid var(--header-divider-color);
  }
}

// menu toggle
.mobileMenuToggle {
  @extend %buttonReset;
  display: flex;
  margin: auto var(--spacing-xs) auto auto;
  padding: var(--spacing-3-xs);

  &:focus {
    border-radius: var(--header-focus-outline-border-radius);
    box-shadow: 0 0 0 var(--header-focus-outline-width) var(--header-focus-outline-color);
    outline: none;
  }
}

// mobile shelf
.mobileShelf {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom: 1px solid var(--header-divider-color);
  font-size: var(--fontsize-body-s);
}

/* MEDIA */

@media x-small-only {
  .header {
    // menu closed
    .title {
      .logo,
      > span {
        transition: 150ms ease-in-out;
      }

      .logo {
        opacity: 1;
        pointer-events: auto;
        transition-property: opacity, transform;
      }

      > span {
        opacity: 0;
        pointer-events: none;
        position: absolute;
        transform: translate3d(0, 150%, 0);
        transition-property: none;
      }
    }

    // menu open
    &.menuOpen {
      .title {
        .logo,
        > span {
          transition-duration: 225ms;
          transition-timing-function: ease-out;
          transition-property: opacity, transform;
        }

        .logo {
          opacity: 0;
          pointer-events: none;
          transform: translate3d(0, -150%, 0);
        }

        > span {
          opacity: 1;
          pointer-events: auto;
          transform: translate3d(0, 0, 0);
        }
      }
    }

    // don't animate logo if there is no title
    &.noTitle .title .logo,
    &.menuOpen.noTitle .title .logo {
      opacity: 1;
      transform: none;
      transition-property: none;
    }

    /* LOGO & TITLE FOCUS OUTLINE */

    &:not(.menuOpen) .title:focus::after,
    &.menuOpen .title:focus > span::after {
      border: var(--header-focus-outline-width) solid var(--header-focus-outline-color);
      border-radius: var(--header-focus-outline-border-radius);
      box-sizing: border-box;
      content: '';
      height: calc(100% + var(--header-focus-outline-width) * 4);
      position: absolute;
      transform: translateX(calc(var(--header-focus-outline-width) * -2));
      width: calc(100% + var(--header-focus-outline-width) * 4);
    }

    &.menuOpen .title:focus > span::after {
      left: 0;
      top: calc(var(--header-focus-outline-width) * -2);
    }
  }
}

@media small-down {
  .header.menuOpen .mobileMenu {
    animation: mobileMenuAnimation 225ms ease-out;
  }
}

@media small-only {
  .title > span {
    margin-left: var(--spacing-xs);
  }
}

@media small-up {
  .header {
    --header-height: var(--spacing-5-xl);
  }

  // title focus outline
  .title:focus::after {
    border: var(--header-focus-outline-width) solid var(--header-focus-outline-color);
    border-radius: var(--header-focus-outline-border-radius);
    box-sizing: border-box;
    content: '';
    height: calc(100% + var(--header-focus-outline-width) * 4);
    position: absolute;
    transform: translateX(calc(var(--header-focus-outline-width) * -2));
    width: calc(100% + var(--header-focus-outline-width) * 4);
  }

  .title > span {
    margin-left: var(--spacing-s);
  }
}

@media medium-up {
  .headerContainer {
    padding: 0 var(--spacing-m);
  }
}

@media large-up {
  .headerContainer {
    margin: 0 auto;
    max-width: var(--breakpoint-xl);
  }
}

@media x-large-up {
  .title {
    font-size: var(--fontsize-heading-s);
    height: calc(100% - var(--spacing-xs) * 2);

    > span {
      margin-left: var(--spacing-m);
    }
  }
}
