.hds-button {
  --border-width: 2px;
  --border-gutter: calc(var(--border-width) * 2);
  --color: inherit;

  background-color: var(--background-color, transparent);
  color: var(--color);
  padding: var(--border-width);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: var(--border-width) solid var(--border-color, transparent);
  fill: currentColor;
  text-align: left;
  align-content: flex-start;
  vertical-align: top;
}

/* button transitions */
.hds-button:hover,
.hds-button:focus,
.hds-button.hds-button--secondary:focus::after {
  transition-property: background-color, border-color, color;
  transition-duration: 100ms;
}

.hds-button:hover {
  background-color: var(--background-color-hover, transparent);
  color: var(--color-hover);
}

.hds-button:focus {
  background-clip: content-box;
  background-color: var(--background-color-focus, transparent);
  color: var(--color-focus);
  outline: none;
}

.hds-button:focus:hover {
  background-color: var(--background-color-hover-focus, transparent);
}

.hds-button[disabled] {
  background-color: var(--background-color-disabled, transparent);
  border-color: var(--border-color-disabled, transparent);
  color: var(--color-disabled);
  pointer-events: none;
}

.hds-button:not([disabled]) {
  border-color: var(--border-color, transparent);
}

.hds-button:not([disabled]):hover {
  border-color: var(--border-color-hover, transparent);
}

.hds-button:not([disabled]):focus {
  border-color: var(--border-color-focus, transparent);
}

.hds-button:not([disabled]):focus:hover {
  border-color: var(--border-color-hover-focus, transparent);
  color: var(--color-hover-focus);
}

/* LABEL */

.hds-button__label {
  line-height: 1.5em;
  padding: 0.75em;
}

/* no icons */
.hds-button__label:only-child {
  margin: 0 1em;
}

/* SMALL */
.hds-button--small .hds-button__label {
  padding: 0.125em 0.5em;

}

/* no icons */
.hds-button--small .hds-button__label:only-child {
  margin: 0 0.75em;
}

/* FULL WIDTH */

.hds-button--fullwidth {
  width: 100%;
}

/* ICONS */

/* left */
.hds-button .hds-icon {
  height: 1.5em;
  margin: 0 var(--border-gutter) 0 0.75em;
  width: 1.5em;
}

/* left small */
.hds-button--small .hds-icon {
  height: 1em;
  margin: 0 var(--border-gutter) 0 0.5em;
  width: 1em;
}

/* right */
.hds-button__label ~ .hds-icon {
  margin: 0 0.75em 0 calc(var(--border-gutter));
}

/* right small */
.hds-button--small .hds-button__label ~ .hds-icon {
  margin: 0 0.5em 0 var(--border-gutter);
}

/* PRIMARY */

.hds-button--primary {
  --background-color: var(--button-color-background-primary-default);
  --background-color-hover: var(--button-color-background-primary-hover);
  --background-color-focus: var(--button-color-background-primary-focus);
  --background-color-hover-focus: var(--button-color-background-primary-hover-focus);
  --background-color-disabled: var(--button-color-background-primary-disabled);

  --border-color: var(--button-color-border-primary-default);
  --border-color-hover: var(--button-color-border-primary-hover);
  --border-color-focus: var(--button-color-border-primary-focus);
  --border-color-hover-focus: var(--button-color-border-primary-hover-focus);
  --border-color-disabled: var(--button-color-border-primary-disabled);

  --color: var(--button-color-label-primary-default);
  --color-hover: var(--button-color-label-primary-hover);
  --color-focus: var(--button-color-label-primary-focus);
  --color-hover-focus: var(--button-color-label-primary-hover-focus);
  --color-disabled: var(--button-color-label-primary-disabled);
}

/* SECONDARY */

.hds-button--secondary {
  --background-color: var(--button-color-background-secondary-default);
  --background-color-hover: var(--button-color-background-secondary-hover);
  --background-color-focus: var(--button-color-background-secondary-focus);
  --background-color-hover-focus: var(--button-color-background-secondary-hover-focus);
  --background-color-disabled: var(--button-color-background-secondary-disabled);

  --border-color: var(--button-color-border-secondary-default);
  --border-color-hover: var(--button-color-border-secondary-hover);
  --border-color-focus: var(--button-color-border-secondary-focus);
  --border-color-hover-focus: var(--button-color-border-secondary-hover-focus);
  --border-color-disabled: var(--button-color-border-secondary-disabled);

  --color: var(--button-color-label-secondary-default);
  --color-hover: var(--button-color-label-secondary-hover);
  --color-focus: var(--button-color-label-secondary-focus);
  --color-hover-focus: var(--button-color-label-secondary-hover-focus);
  --color-disabled: var(--button-color-label-secondary-disabled);
}

.hds-button.hds-button--secondary::after {
  border: var(--border-width) solid transparent;
  content: '';
  height: calc(100% - var(--border-gutter));
  position: absolute;
  width: calc(100% - var(--border-gutter));
}

.hds-button.hds-button--secondary:focus::after {
  border-color: var(--border-color-focus);
}

.hds-button.hds-button--secondary:focus:hover::after {
  border-color: var(--border-color-hover-focus);
}

/* SUPPLEMENTARY */

.hds-button--supplementary {
  --background-color: var(--button-color-background-supplementary-default);
  --background-color-hover: var(--button-color-background-supplementary-hover);
  --background-color-focus: var(--button-color-background-supplementary-focus);
  --background-color-hover-focus: var(--button-color-background-supplementary-hover-focus);
  --background-color-disabled: var(--button-color-background-supplementary-disabled);

  --border-color: var(--button-color-border-supplementary-default);
  --border-color-hover: var(--button-color-border-supplementary-hover);
  --border-color-focus: var(--button-color-border-supplementary-focus);
  --border-color-hover-focus: var(--button-color-border-supplementary-hover-focus);
  --border-color-disabled: var(--button-color-border-supplementary-disabled);

  --color: var(--button-color-label-supplementary-default);
  --color-hover: var(--button-color-label-supplementary-hover);
  --color-focus: var(--button-color-label-supplementary-focus);
  --color-hover-focus: var(--button-color-label-supplementary-hover-focus);
  --color-disabled: var(--button-color-label-supplementary-disabled);
}

.hds-button--supplementary:hover {
  text-decoration: underline;
}
