/* import button color variables */
@import "hds-design-tokens/lib/color/component/radio-button.css";

.hds-radio-button {
  --size: 30px;
  /* radio button size relative to the full size (--size) */
  --button-scale: 0.8;
  --button-size: calc(var(--size) * var(--button-scale));
  /* icon (circle) size relative to the radio button size (--button-size) */
  --icon-scale: 0.5;
  --border-width: 2px;

  --background: var(--color-background-radio-button-default);
  --background-hover: var(--color-background-radio-button-hover);
  --background-focus: var(--color-background-radio-button-focus);
  --background-unselected-disabled: var(--color-background-radio-button-unselected-disabled);
  --background-selected-disabled: var(--color-background-radio-button-selected-disabled);

  --border-color-focus: var(--color-border-radio-button-focus);
  --border-color-selected: var(--color-border-radio-button-selected);
  --border-color-selected-hover: var(--color-border-radio-button-selected-hover);
  --border-color-selected-disabled: var(--color-border-radio-button-selected-disabled);
  --border-color-unselected: var(--color-border-radio-button-unselected);
  --border-color-unselected-hover: var(--color-border-radio-button-unselected-hover);
  --border-color-unselected-disabled: var(--color-border-radio-button-unselected-disabled);

  --icon-color-selected: var(--color-icon-radio-button-selected);
  --icon-color-unselected: var(--color-icon-radio-button-unselected);
  --icon-color-hover: var(--color-icon-radio-button-hover);
  --icon-color-disabled: var(--color-icon-radio-button-disabled);

  --focus-outline-color: var(--color-focus-outline-radio-button-default);

  --label-color: var(--color-label-radio-button-default);
  --label-color-disabled: var(--color-label-radio-button-disabled);

  align-items: center;
  display: flex;
  height: var(--size);
  position: relative;
}

/* radio button transitions */
.hds-radio-button input:hover + label::before,
.hds-radio-button input:hover + label::after,
.hds-radio-button input:focus + label::before,
.hds-radio-button input:focus + label::after {
  transition: 75ms ease-out;
  transition-property: transform, background-color, border-color;
}

/* NATIVE INPUT */
.hds-radio-button input {
  height: var(--size);
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: var(--size);
}

/* LABEL */

.hds-radio-button label {
  color: var(--label-color);
  cursor: pointer;
  padding-left: calc(var(--size) + var(--spacing-2-xs));
  position: relative;
}

/* CUSTOM RADIO BUTTON */

.hds-radio-button label::before,
.hds-radio-button label::after {
  border-radius: 50%;
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* background & focus outline */
.hds-radio-button label::before {
  background-color: var(--background);
  border: var(--border-width) solid transparent;
  height: var(--size);
  left: 0;
  transform: translateY(-50%) scale(var(--button-scale));
  width: var(--size);
}

/* background - hover */
.hds-radio-button input:hover + label::before {
  background-color: var(--background-hover);
}

/* background - focus */
.hds-radio-button input:focus + label::before {
  background-color: var(--background-focus);
  border-color: var(--focus-outline-color);
  transform: translateY(-50%) scale(1);
}

/* inner circle */
.hds-radio-button label::after {
  background-clip: content-box;
  background-color: var(--icon-color-unselected);
  border: var(--border-width) solid var(--border-color-unselected);
  height: var(--button-size);
  left: calc((var(--size) - var(--button-size)) / 2);
  padding: calc(
    (var(--button-size) / 2 - var(--border-width) * 2) * (1 - var(--icon-scale))
  );
  width: var(--button-size);
}

/* inner circle - selected */
.hds-radio-button input:checked + label::after {
  background-color: var(--icon-color-selected);
  border-color: var(--border-color-selected);
}

/* inner circle - selected - hover */
.hds-radio-button input:not(:disabled):checked:hover + label::after,
.hds-radio-button input:not(:disabled):checked:hover:focus + label::after {
  background-color: var(--icon-color-hover);
  border-color: var(--border-color-selected-hover);
}

/* inner circle - unselected - hover */
.hds-radio-button input:not(:disabled):hover + label::after,
.hds-radio-button input:not(:disabled):hover:focus + label::after {
  border-color: var(--border-color-unselected-hover);
}

/* inner circle - focus */
.hds-radio-button input:not(:disabled):focus + label::after {
  border-color: var(--border-color-focus);
}

/* DISABLED */

/* label */
.hds-radio-button input:disabled + label {
  color: var(--label-color-disabled);
  cursor: default;
}

/* background */
.hds-radio-button input:disabled + label::before {
  background-color: var(--background-unselected-disabled);
}

/* background - selected */
.hds-radio-button input:checked:disabled + label::before {
  background-color: var(--background-selected-disabled);
}

/* inner circle - disabled */
.hds-radio-button input:disabled + label::after {
  border-color: var(--border-color-unselected-disabled);
}

/* inner circle - selected - disabled */
.hds-radio-button input:checked:disabled + label::after {
  background-color: var(--icon-color-disabled);
  border-color: var(--border-color-selected-disabled);
}
