@svg-load icon url(../svg/icon-info.svg);

.hds-text-input {
  --border-width: 2px;
  --input-height: 56px;
  --textarea-height: 149px;
  --icon-size: 1.375em;

  --helper-color-default: var(--color-helper-text-input-default);
  --helper-color-invalid: var(--color-helper-text-input-invalid);
  --icon-color-invalid: var(--color-icon-text-input-invalid);
  --input-background-default: var(--color-background-text-input-default);
  --input-background-disabled: var(--color-background-text-input-disabled);
  --input-border-color-default: var(--color-border-text-input-default);
  --input-border-color-focus: var(--color-border-text-input-focus);
  --input-border-color-invalid: var(--color-border-text-input-invalid);
  --input-border-color-disabled: var(--color-border-text-input-disabled);
  --input-color: var(--color-input-text-input-default);
  --input-color-disabled: var(--color-input-text-input-disabled);
  --label-color-default: var(--color-label-text-input-default);
  --label-color-invalid: currentColor;
  --placeholder-color: var(--color-placeholder-text-input-default);
}

/* LABEL */

.hds-text-input__label {
  color: var(--label-color-default);
  display: block;
  font-size: 0.875em;
  font-weight: bold;
  line-height: 1.5625rem;
}

/* INPUT */

.hds-text-input__input-wrapper {
  position: relative;
}

.hds-text-input__input-wrapper input,
.hds-text-input__input-wrapper textarea {
  background-color: var(--input-background-default);
  border: var(--border-width) solid var(--input-border-color-default);
  border-radius: 2px;
  color: var(--input-color-default);
  font-size: 1.125em;
  height: var(--input-height);
  padding: 1rem;
  width: 100%;
}

.hds-text-input__input-wrapper textarea {
  height: var(--textarea-height);
  min-height: var(--input-height);
  resize: vertical;
}

.hds-text-input__input-wrapper input:focus,
.hds-text-input__input-wrapper textarea:focus {
  border-color: var(--input-border-color-focus);
  outline: none;
}

.hds-text-input__input-wrapper input::placeholder,
.hds-text-input__input-wrapper textarea::placeholder {
  color: var(--placeholder-color);
}

/* HELPER TEXT */

.hds-text-input__helper-text {
  color: var(--helper-color-default);
  line-height: 1.875rem;
}

/* INVALID */

.hds-text-input--invalid .hds-text-input__label {
  color: var(--label-color-invalid);
}

.hds-text-input--invalid .hds-text-input__helper-text {
  color: var(--helper-color-invalid);
}

.hds-text-input--invalid .hds-text-input__input-wrapper input,
.hds-text-input--invalid .hds-text-input__input-wrapper textarea {
  border-color: var(--input-border-color-invalid);
  padding-right: calc(var(--icon-size) + 2rem);
}

/* icon */
.hds-text-input--invalid .hds-text-input__input-wrapper::after {
  background: var(--icon-color-invalid);
  content: '';
  height: var(--icon-size);
  mask-image: svg-inline(icon);
  -webkit-mask-image: svg-inline(icon);
  position: absolute;
  right:var(--border-width);
  transform: translate(-1rem, calc(var(--input-height) / 2 - 50%));
  width: var(--icon-size);
}

/* DISABLED */

.hds-text-input__input-wrapper input[disabled],
.hds-text-input__input-wrapper textarea[disabled] {
  background-color: var(--input-background-disabled);
  border-color: var(--input-border-color-disabled);
  color: var(--input-color-disabled);
}

/* READ-ONLY */

.hds-text-input--read-only .hds-text-input__input-wrapper input,
.hds-text-input--read-only .hds-text-input__input-wrapper textarea {
  background-color: transparent;
  border: 0;
  color: var(--input-color);
  padding: 0 0 1.375rem;
  text-overflow: ellipsis;
}

.hds-text-input--read-only .hds-text-input__input-wrapper input::placeholder,
.hds-text-input--read-only .hds-text-input__input-wrapper textarea::placeholder {
  color: var(--placeholder-color);
}
